<div class="kMenu">
  <a [class.activeLink]="activeRoute === 'content'" (click)="navigateToView('content')">{{'app.modules.content' | translate | uppercase}}</a>
  <a [class.activeLink]="activeRoute === 'users'" (click)="navigateToView('users')">{{'app.modules.users' | translate | uppercase}}</a>
  <a [class.activeLink]="activeRoute === 'bandwidth'" (click)="navigateToView('bandwidth')">{{'app.modules.bandwidth' | translate | uppercase}}</a>
  <a [class.activeLink]="activeRoute === 'system'" (click)="navigateToView('system')">{{'app.modules.system' | translate | uppercase}}</a>
  <a [class.activeLink]="activeRoute === 'live'" (click)="navigateToView('live')">{{'app.modules.live' | translate | uppercase}}</a>
</div>
