@import '../../styles/variables';

.kMenu{
  height: 50px;
  background: $menuBkgColor; /* Old browsers */
  background: -moz-linear-gradient(left, #1b4a97 0%, #2364c3 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #1b4a97 0%,#2364c3 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #1b4a97 0%,#2364c3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  display: flex;
  a{
    color: $mainLinkColor;
    outline: 0;
    opacity: 0.6;
    cursor: pointer;
    line-height: $appMenuHeight;
    font-size: 12px;
    letter-spacing: 0.1em;
    margin-right: 30px;
    letter-spacing: 0.5px;
    text-decoration: none;
    &.disabled{
      color: $kGrayscale4;
      border: 0px solid $menuBkgColor;
      pointer-events: none;
    }
    &:hover {
      text-decoration: none;
      color: $mainLinkHoverColor;
      opacity: 1;
    }
    &.activeLink {
      opacity: 1;
      text-decoration: none;
      color: $mainLinkActiveColor;
    }
  }
}
.kSubMenu {
  height: 40px;
  background-color: white;
  border-bottom: 1px solid #fafafa;
  display: flex;
  align-items: center;
  padding-left: 40px;
  div{
    margin-right: 20px;
  }
  a {
    color: $subLinkColor;
    line-height: $appMenuHeight;
    font-size: 12px;
    letter-spacing: 0.1em;
    letter-spacing: 0.5px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 20px;
    &.disabled {
      color: $kGrayscale4;
      border: 0px solid white;
      pointer-events: none;
    }
    &:hover {
      color: $menuBkgColor;
    }
    &.activeLink {
      text-decoration: none;
      color: $menuBkgColor;
      font-weight: bold;
    }
  }

}

