<ng-container *ngIf="_showNavBar">
  <div class="kMenu">
    <a *ngFor="let item of _menu"
       [class.activeLink]="_activeRoute === item.id"
       (click)="_navigateToView(item.link)">{{item.label | translate | uppercase}}</a>
  </div>

  <div class="kSubMenu" *ngIf="_getSubMenu(_activeRoute) as subMenu">
    <a *ngFor="let subItem of subMenu"
       [class.activeLink]="_activeSubRoute === subItem.id"
       (click)="_navigateToView(subItem.link)">{{subItem.label | translate | uppercase}}</a>
  </div>
</ng-container>
