<div class="kMenu" *ngIf="showNavBar">
  <a [class.activeLink]="activeRoute === 'audience'" (click)="navigateToView('audience')">{{'app.modules.audience' | translate | uppercase}}</a>
  <a [class.activeLink]="activeRoute === 'contributors'" (click)="navigateToView('contributors')">{{'app.modules.contributors' | translate | uppercase}}</a>
  <a [class.activeLink]="activeRoute === 'bandwidth'" (click)="navigateToView('bandwidth')">{{'app.modules.bandwidth' | translate | uppercase}}</a>
  <a [class.activeLink]="activeRoute === 'live'" (click)="navigateToView('live')">{{'app.modules.live' | translate | uppercase}}</a>
</div>

<div class="kSubMenu" *ngIf="showNavBar && activeRoute === 'bandwidth'">
  <a [class.activeLink]="activeSubRoute === 'publisher'" (click)="navigateToView('bandwidth/publisher')">{{'app.bandwidth.publisherStorage' | translate }}</a>
  <a [class.activeLink]="activeSubRoute === 'end-user'" (click)="navigateToView('bandwidth/end-user')">{{'app.bandwidth.usersStorage' | translate }}</a>
</div>

<div class="kSubMenu" *ngIf="showNavBar && activeRoute === 'audience'">
  <a [class.activeLink]="activeSubRoute === 'engagement'" (click)="navigateToView('audience/engagement')">{{'app.audience.menu.engagement' | translate }}</a>
  <a [class.activeLink]="activeSubRoute === 'content-interactions'" (click)="navigateToView('audience/content-interactions')">{{'app.audience.menu.contentInteractions' | translate }}</a>
  <a [class.activeLink]="activeSubRoute === 'technology'" (click)="navigateToView('audience/technology')">{{'app.audience.menu.technology' | translate }}</a>
  <a [class.activeLink]="activeSubRoute === 'geo-location'" (click)="navigateToView('audience/geo-location')">{{'app.audience.menu.geoLocation' | translate }}</a>
</div>
