@import '../../../../../styles/variables';

:host {
  display: block;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1060px) {
  .kBackBtn {
    margin-left: 0 !important;
  }
}

.kEntryPreview {
  background-color: #FFFFFF;
}

.kReport {
  background-color: $appBkgColor !important;

  .kBackBtn {
    margin-top: 4px;
    margin-left: -40px;
    margin-right: 22px;
    border: none;
    outline: none;
    background-color: transparent;
    color: $kGrayscale3;
    height: 20px;
    width: 18px;
    font-size: 24px;

    &:active {
      box-shadow: none;
    }

    &:hover {
      color: $kPrimary;
    }
  }

  .kReportHeader {
    height: 80px;
  }

  .kEntryDetails {
    display: flex;
    font-size: 14px;
    color: $kGrayscale2;
    height: 36px;

    .kIconMediaType {
      margin-right: 8px;
    }

    .kOwner {
      margin-left: 8px;
    }

    .kSeparator {
      width: 1px;
      height: 12px;
      margin-top: 2px;
      background-color: $kGrayscale4;
      margin-left: 16px;
      margin-right: 16px;
    }

    .link {
      font-size: 14px;
    }
  }
}

.kFilter {
  display: flex;
  align-items: center;

  .kDropDown {
    background-color: white;
    width: 100px;
    height: 34px;
    border: 1px solid $kGrayscale4;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 16px;

    &:hover {
      border-color: $kPrimary;
    }

    &:active {
      box-shadow: 0 0 0 3px rgba(0, 167, 132, 0.4);
    }

    span {
      font-size: 15px;
      white-space: nowrap;
      margin-right: 12px;
    }

    i {
      margin-left: auto;
      font-size: 12px;
      color: $kGrayscale3;
    }
  }
}

.kReportContainer {
  padding-bottom: 24px;
  background-color: $appBkgColor;
  display: flex;
  flex-wrap: wrap;
}

:host /deep/ .kErrorMessageContainer {
  top: 200px !important;
  position: absolute;
}

:host /deep/ {
  ktags {
    margin: 0 !important;
  }
}

:host /deep/ .kReport {
  margin-bottom: 0px !important;
}

/* responsive design */
.kHeaderRight{
  display: flex;
  margin-left: auto;
}
::ng-deep .kTotalsRow{
  display: flex;
  width: 100%;
}

@media screen and (max-width: 991px) {
  .kHeaderRight{
    position: absolute;
    top: 110px;
  }
  .kReport .kEntryDetails{
    height: 86px;
  }


  ::ng-deep .kReport .chartContainer {
    min-height: 220px !important;
    .kFooter{
      height: 22px !important;
      padding-top: 4px !important;
    }
    .kChart{
      height: 140px !important;
    }
  }

  ::ng-deep .kReportTabs .kTab{
    padding: 24px !important;
    .kTabTitle {
      font-size: 15px !important;
    }
    &.active{
      padding-bottom: 20px !important;
    }
  }
  ::ng-deep .kMain .kReportView .kReport .kFilters{
    height: 60px !important;
  }
  ::ng-deep .kPlaythrough.compare{
    p-dropdown{
      position: absolute !important;
      left: -8px !important;
      top: 34px !important;
    }
    .kLabel.block{
      position: absolute !important;
      top: 40px !important;
      display: inline-block !important;
      left: 92px !important;
    }
  }
}


