<app-dropdown-filter templateType="domain"
                     [label]="'app.filters.filterDomains' | translate"
                     [options]="_domainsFilterService.domainsOptions | async"
                     [isLoading]="_domainsFilterService.isBusy('domain')"
                     [defaultLabel]="'app.filters.domainPlaceholder' | translate"
                     [selectedItemsLabel]="'app.filters.domainsSelected' | translate"
                     [selectedFilters]="_selectedDomains"
                     (itemSelected)="_onItemSelected($event, 'domain')"></app-dropdown-filter>
