@import '../../../../../styles/variables';
:host ::ng-deep .kValue{
  font-size: 24px;
  font-weight: 700;
}
:host ::ng-deep .kUnits{
  font-size: 13px;
  font-weight: 700;
}

.kMini{
  height: 100%;
  .kFilters {
    height: 93px !important;
    .kTitle{
      width: auto;
      padding-right: 0px;
    }
  }
  .kRow{
    display: flex;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
    position: relative;
    height: 40px;
    font-weight: 700;
    color: $kGrayscale1;
    .kValue {
      text-align: right;
      margin-left: auto;
      font-size: 15px;
      font-weight: 700;
    }
  }
  .kFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 42px;
    width: 100%;
    i {
      color: $kTertiary;
      font-size: 12px;
      margin-right: 8px;
    }
  }
}
.kBar {
  width: 70%;
  margin-left: auto;
}
@media (max-width: 1280px) {
  .kBar {
    width: 65%;
  }
}
@media (max-width: 991px) {
  .kBar {
    width: 55%;
  }
}
:host ::ng-deep app-horizontal-bar-row {
  .kValue {
    margin-right: 12px !important;
  }
  .kLabel {
    display: none !important;
  }
  .kBarWrapper {
    width: 100% !important;
  }
}

