@import '../../../../../styles/variables';

:host {
  display: block;
  width: 100%;
  height: 233px;
  border-radius: 3px;
  background-color: #FFFFFF;
}

.kHeader {
  padding: 24px;

  .kTitle {
    font-size: 20px;
    font-weight: bold;
  }
}

.kReportWrapper {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  padding: 0 24px 24px;

  .kPeriod {
    font-size: 15px;
    font-weight: normal;
    display: inline-block;
    margin-bottom: 12px;
  }
}

.kReportContainer {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .kCard {
    display: flex;
    flex-direction: column;

    .kLabel {
      display: inline-block;
      margin-top: 12px;
      font-size: 15px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1609px) {
  .kCard:not(.show):nth-child(5) {
    display: none !important;
  }

  .kCompare {
    .kCard:not(.show):nth-child(4),
    .kCard:nth-child(5) {
      display: none !important;
    }
  }
}

@media screen and (max-width: 1280px) {
  ::ng-deep .kThumbnailHolder {
    width: 202px;
    height: 101px;
    img {
      width: 202px;
    }
  }

  .kCard {
    width: 202px;
  }

  .kCard:not(.show):nth-child(3),
  .kCard:not(.show):nth-child(4),
  .kCard:nth-child(5) {
    display: none !important;
  }

  .kCompare ::ng-deep {
    .kThumbnailHolder {
      width: 160px !important;
      height: 78px !important;
      img {
        width: 160px !important;
      }
    }

    .kCard {
      width: 160px !important;
    }

    .kCard:not(.show):nth-child(2),
    .kCard:nth-child(3),
    .kCard:nth-child(4),
    .kCard:nth-child(5) {
      display: none !important;
    }
  }
}

@media screen and (min-width: 1280px) {
  .kLessContent {
    justify-content: flex-start !important;

    .kCard:not(:last-child) {
      margin-right: 10%;
    }
  }
}

@media screen and (min-width: 1280px) and (max-width: 1609px) {

  .kCard {
    width: 171px;
  }

  .kCompare ::ng-deep {
    .kThumbnailHolder {
      width: 160px !important;
      height: 78px !important;
      img {
        width: 160px !important;
      }
    }

    .kCard {
      width: 160px !important;
    }

    .kCard:not(.show):nth-child(3),
    .kCard:not(.show):nth-child(4),
    .kCard:nth-child(5) {
      display: none !important;
    }
  }
}

@media screen and (min-width: 1609px)  {
  ::ng-deep.kThumbnailHolder {
    width: 171px;
    height: 101px;
    img {
      width: 171px;
    }
  }

  .kCard {
    width: 171px;
  }

  .kCompare ::ng-deep{
    .kThumbnailHolder {
      width: 128px !important;
      height: 72px !important;
      img {
        width: 128px !important;
      }
    }

    .kCard {
      width: 128px !important;
    }
    .kCard:not(.show):nth-child(4),
    .kCard:nth-child(5) {
      display: none !important;
    }
  }
}
