@import '../../../../styles/variables';

.kThumbnailHolder {
  overflow: hidden;
  position: relative;
  background-color: $kGrayscale6;
  white-space: nowrap;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  &.kDisabled {
    cursor: default;
  }
  &.error{
    border: 1px solid $kGrayscale4;
  }
  img {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    height: auto;
    border-radius: 3px;
  }
}
