<div data-aid="report-entry-preview" class="kReport kTotals kOverrideFAIcons">
  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">
    <div style="display: flex; flex-direction: column; width: 100%">
      <div class="kPlayer" aria-label="Player">
        <div class="noRecording" *ngIf="!entryId.length && !isLive">
          <div class="container">
            <div class="icon"></div>
            <span class="label">{{'app.entryWebcast.noRecording' | translate}}</span>
            <span class="text">{{'app.entryWebcast.noRecordingText' | translate}}</span>
          </div>
        </div>
        <div class="noRecording" *ngIf="isLive">
          <div class="container live">
            <span class="label">{{'app.entryWebcast.webcastLive' | translate}}</span>
            <span class="text">{{'app.entryWebcast.webcastLiveText' | translate}}</span>
          </div>
        </div>

        <app-k-player-v7 *ngIf="!isLive && entryId.length" [id]="'analytics'" [cdnUrl]="serverUri" [pid]="_playerConfig.pid"
                         [uiconfid]="_playerConfig.uiconfid" [entryid]="_playerConfig.entryid" [ks]="_playerConfig.ks" [poster]="thumbnailUrl"
                         [loadThumbnailWithKs]="_loadThumbnailWithKs" (kalturaPlayerReady)="_onPlayerReady($event)"></app-k-player-v7>


      </div>

      <div class="chartContainer">
        <div aria-label="Timeline Chart" echarts class="kChart"
             [options]="_chartOptions"
             (click)="_onChartClick($event)"></div>
        <div class="kScrubber" [style.width.%]="_playProgress" [class.kHidden]="!_playerPlayed">
          <div class="kLine"></div>
          <span class="kCurrentTime">{{_currentTime | appDuration}}</span>
        </div>
        <div class="kFooter">
          <span>0:00</span>
          <span class="kDuration">{{_duration | appDuration}}</span>
        </div>
        <div aria-label="Legend" class="kLegend" [class.kCompare]="_isCompareMode">
          <ng-container>
            <div class="kValue">
              <span class="kBullet kViews">&bull;</span>
              <span class="kLabel">{{'app.entryWebcast.vodViews' | translate}}</span>
            </div>
            <div class="kValue">
              <span class="kBullet kUsers">&bull;</span>
              <span class="kLabel">{{'app.entryWebcast.engagement.live' | translate}}</span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </k-area-blocker>
</div>

