@import '../../../../styles/variables';


.kColumn {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;

  .kColumnLabel {
    font-weight: bold;
    margin-bottom: 16px;
  }

  .kSelected a {
    margin-left: 12px;
  }
  &.kDisabled{
    cursor: default;
    opacity: 0.3;
    pointer-events: none;
  }
}

.kCategoriesFilterPopup {
  margin-top: 50px !important;
}
