<div class="kColumn">
  <div class="kColumnLabel">{{label}}</div>
  <div class="kColumnContent">
    <a tabindex="0" *ngIf="!_selectedValue.length"
       role="button"
       (click)="_openCategoriesBrowser()"
       (keydown.enter)="_openCategoriesBrowser()">
      {{linkLabel}}
    </a>
    <span class="kSelected" *ngIf="_selectedValue.length">
      {{'app.categories.selected' | translate:{'0': _selectedValue.length} }}
      <a tabindex="0"
         role="button"
         (click)="_openCategoriesBrowser()"
         (keydown.enter)="_openCategoriesBrowser()">
        {{'app.categories.change' | translate}}
      </a>
      <a tabindex="0"
         role="button"
         (click)="_updateCategories([])"
         (keydown.enter)="_updateCategories([])">
        {{'app.common.clearAll' | translate}}
      </a>
    </span>
  </div>
</div>

<kPopupWidget #categoriesPopup
              data-aid="categories-filter"
              class="kCategoriesFilterPopup"
              [popupWidth]="560"
              [popupHeight]="594"
              [closeBtn]="false"
              [modal]="true"
              (onOpen)="_updateHost(true)"
              (onClose)="_updateHost(false)">
  <ng-template>
    <app-categories-selector [parentPopupWidget]="categoriesPopup"
                             [title]="popupTitle"
                             [filterPlaceholder]="popupFilterPlaceholder"
                             [value]="_selectedValue"
                             (valueChange)="_updateCategories($event)"></app-categories-selector>
  </ng-template>
</kPopupWidget>
