<div data-aid="report-industries" class="kReport kOverrideFAIcons kIndustries">

  <div class="kFilters">
    <span class="kTitle">{{'app.ve.industries' | translate}}</span>
  </div>

  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">

    <div class="kReportContent">
      <div class="kTable">
        <div class="kTableContainer">
          <p-table appScrollTopOnPaging
                   sortField="registered"
                   [value]="_tableData"
                   [customSort]="true"
                   [defaultSortOrder]="-1"
                   [sortOrder]="-1"
                   [paginator]="true"
                   [rows]="5"
                   (sortFunction)="_onSortChanged($event)">
            <ng-template pTemplate="header">
              <tr>
                <th [ngStyle]="{'width': '50px'}">
                  <span *ngIf="_tableData?.length"></span>
                </th>
                <th [ngStyle]="{'width': '30%'}">
                  <div class="kColumnHeader">
                    <span [kTooltip]="'app.audience.geo.object_id' | translate" [showOnEllipsis]="true">
                      {{'app.audience.geo.object_id' | translate}}
                    </span>
                  </div>
                </th>
                <th [ngStyle]="{'width': '30%'}">
                  <div class="kColumnHeader">
                    <span [kTooltip]="'app.ve.registered' | translate" [showOnEllipsis]="true">
                      {{'app.ve.registered' | translate}}
                    </span>
                  </div>
                </th>
                <th [ngStyle]="{'width': '40%'}">
                  <div class="kColumnHeader">
                    <span></span>
                  </div>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td>
                  <span>{{rowIndex + 1}}</span>
                </td>
                <td class="kHighlight">
                  <span>{{data['industry']}}</span>
                </td>
                <td>
                  <span>{{data['registered']}}</span>
                </td>
                <td>
                  <div>
                    <app-bullet [value]="data['distribution']"></app-bullet>
                  </div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <div class="emptymessage">
                <div class="kEmptyMessage" *ngIf="!_isBusy">{{'app.common.noResults' | translate}}</div>
                <div class="kEmptyMessage" *ngIf="_isBusy">&nbsp;</div>
              </div>
            </ng-template>
          </p-table>
        </div>
      </div>

    </div>

  </k-area-blocker>

</div>

