@import '../styles/variables';

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.kRefineFilters {
  width: 100%;
  height: auto;
  margin-bottom: 0 !important;

  .kRefineFiltersMain {
    height: 100%;

    .kFilterContainer {
      padding: 32px 24px 0 24px;
      display: flex;
      flex-direction: column;

      .kFilterContainerRow {
        display: flex;
      }

      .kFilterContainerCol {
        display: flex;
        flex-direction: column;
        width: 336px;
        &:not(:first-child) {
          margin-left: 24px;
        }
      }

      .kListFilters {
        display: flex;
        width: 50%;
        flex: 0 0 auto;
        .kLastItem {
          margin-right: 18px !important;
        }
      }

      .kMiscFilters {
        display: flex;
        flex-direction: column;
        width: 50%;
        flex: 0 0 auto;
      }
    }

    .kGroupTitle {
      display: inline-block;
      color: $kGrayscale3;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 16px;
    }

    .kRefineFiltersFooter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 66px;
      padding: 0 24px;
      margin-top: 8px;
      button {
        width: 100px;
      }
    }
  }
}

ktags {
  margin-left: 0 !important;
}
.kMultiselectFilter ::ng-deep .ui-multiselect {
  width: 100% !important;
}

.kMultiselectFilter ::ng-deep .expandWidth .ui-multiselect {
  width: 432px !important;
}
app-domains-filter, app-category-filter{
  margin-top: 12px;
}

app-owners-filter, app-category-filter, app-country-filter {
  display: block;
  width: 100%;
  padding-right: 24px;
}

:host ::ng-deep {
  app-autocomplete-filter {
    margin: 0;
  }

  app-dropdown-filter {
    margin-right: 0;
  }

  .ui-autocomplete-multiple-container {
    min-height: 34px;
    padding: 3px 6px !important;
  }
}
@media (max-width: 991px) {
  ::ng-deep app-checkboxes-list-filter {
    min-width: 118px !important;
  }
}
