<div data-aid="report-entry-details-overview" class="kReport kOverrideFAIcons">
  <div class="kFilters">
    <span class="kTitle">{{'app.audience.technology.devicesOverview' | translate}}</span>
  </div>

  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">

    <div class="kReportContent kDevicesOverview">
      <ng-container *ngIf="_summaryData.length">
        <app-horizontal-bar-chart [data]="_summaryData"
                                  [totalCount]="_totalCount"
                                  [currentPeriod]="_currentPeriod"
                                  [comparePeriod]="_comparePeriod"
                                  [showIndex]="false"
                                  [isCompareMode]="_isCompareMode"></app-horizontal-bar-chart>
      </ng-container>

      <div *ngIf="!_summaryData.length" class="kNoResults">
        <span *ngIf="!_isBusy">{{'app.common.noResults' | translate}}</span>
      </div>
    </div>

  </k-area-blocker>
</div>
