<div data-aid="report-stream-health" class="kReport kOverrideFAIcons kStreamHealth">
  <div *ngIf="false" class="kNoResults">
    <span>{{'app.entryLive.noHistory' | translate}}</span>
  </div>
  <div *ngIf="true" class="kHistory">
    <div class="kItem">
      <div class="kItemHeader">
        <div class="kTitle">
          <span class="kBullet good"></span>
          <span class="kText">Good Primary Stream</span>
        </div>
        <span class="kDate">05:44 PM 04/02/2019</span>
      </div>
      <div class="kItemMetasList">
        <div class="kMetaItem">
          <span class="kBullet mini good"></span>
          High FPS detected 60
        </div>
        <div class="kMetaItem">
          <span class="kBullet mini fair"></span>
          No Data is Received on the primary endpoint
        </div>
        <div class="kMetaItem">
          <span class="kBullet mini poor"></span>
          Encoder Stop Detected
        </div>
      </div>
    </div>

    <div class="kItem">
      <div class="kItemHeader">
        <div class="kTitle">
          <span class="kBullet fair"></span>
          <span class="kText">Good Primary Stream</span>
        </div>
        <span class="kDate">05:44 PM 04/02/2019</span>
      </div>
      <div class="kItemMetasList">
        <div class="kMetaItem">
          <span class="kBullet mini fair"></span>
          High FPS detected 60
        </div>
        <div class="kMetaItem">
          <span class="kBullet mini poor"></span>
          No Data is Received on the primary endpoint
        </div>
        <div class="kMetaItem">
          <span class="kBullet mini poor"></span>
          Encoder Stop Detected
        </div>
      </div>
    </div>

    <div class="kItem">
      <div class="kItemHeader">
        <div class="kTitle">
          <span class="kBullet fair"></span>
          <span class="kText">Good Primary Stream</span>
        </div>
        <span class="kDate">05:44 PM 04/02/2019</span>
      </div>
      <div class="kItemMetasList">
        <div class="kMetaItem">
          <span class="kBullet mini fair"></span>
          High FPS detected 60
        </div>
        <div class="kMetaItem">
          <span class="kBullet mini poor"></span>
          No Data is Received on the primary endpoint
        </div>
        <div class="kMetaItem">
          <span class="kBullet mini poor"></span>
          Encoder Stop Detected
        </div>
      </div>
    </div>

    <div class="kItem">
      <div class="kItemHeader">
        <div class="kTitle">
          <span class="kBullet fair"></span>
          <span class="kText">Good Primary Stream</span>
        </div>
        <span class="kDate">05:44 PM 04/02/2019</span>
      </div>
      <div class="kItemMetasList">
        <div class="kMetaItem">
          <span class="kBullet mini fair"></span>
          High FPS detected 60
        </div>
        <div class="kMetaItem">
          <span class="kBullet mini poor"></span>
          No Data is Received on the primary endpoint
        </div>
        <div class="kMetaItem">
          <span class="kBullet mini poor"></span>
          Encoder Stop Detected
        </div>
      </div>
    </div>

    <div class="kItem">
      <div class="kItemHeader">
        <div class="kTitle">
          <span class="kBullet fair"></span>
          <span class="kText">Good Primary Stream</span>
        </div>
        <span class="kDate">05:44 PM 04/02/2019</span>
      </div>
      <div class="kItemMetasList">
        <div class="kMetaItem">
          <span class="kBullet mini fair"></span>
          High FPS detected 60
        </div>
        <div class="kMetaItem">
          <span class="kBullet mini poor"></span>
          No Data is Received on the primary endpoint
        </div>
        <div class="kMetaItem">
          <span class="kBullet mini poor"></span>
          Encoder Stop Detected
        </div>
      </div>
    </div>
  </div>
</div>
