@import '../../../../../styles/variables';

$cleanHeight: calc(100% - 24px);
$kOrange: #f8a61a;

:host {
  margin-bottom: 24px;
  position: relative;
}

kScrollToTopContainer {
  overflow-y: auto;
  height: 100%;
  width: 100%;
  display: block;
  background-color: #FFFFFF;
  border-bottom-left-radius: 3px !important;
  border-bottom-right-radius: 3px !important;
}

.kStreamHealth {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  width: auto !important;
  margin-bottom: 0 !important;
  padding: 24px 16px 0 24px;
  height: $cleanHeight;

  .kNoResults {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $cleanHeight;

    span {
      font-weight: bold;
      color: $kGrayscale3;
    }
  }
}

.kHistory {
  .kItem {
    margin-bottom: 4px;

    .kItemHeader {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: bold;

      .kTitle {
        display: flex;
        align-items: center;

        .kText {
          display: inline-block;
        }
      }

      .kDate {
        font-size: 12px;
        color: $kGrayscale3;
        text-align: right;
      }
    }

    .kItemMetasList {
      font-size: 14px;
      color: $kGrayscale3;
      border-left: 1px solid $kGrayscale6;
      padding: 7px 0 13px 12px;
      margin-left: 4px;

      .kMetaItem {
        display: flex;
        align-items: center;
        padding: 3px 0;

        .kText {
          display: inline-block;
        }
      }
    }
  }

  .kBullet {
    display: inline-block;
    width: 9px;
    min-width: 9px;
    height: 9px;
    border-radius: 50%;
    margin-right: 8px;

    &.mini {
      width: 6px;
      min-width: 6px;
      height: 6px;
      margin-right: 11px;
    }

    &.good {
      background-color: $kSuccess;
    }

    &.fair {
      background-color: $kOrange;
    }

    &.poor {
      background-color: $kDandger;
    }
  }
}
.kLineCover{
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 62%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 62%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 62%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  position: absolute;
  bottom: 0px;
  height: 20px;
  right: 20px;
  left: 2px;
}
/* player height according to screen resolution */
@media (max-width: 991px) {
  :host {
    height: 349px;
  }
}
@media screen and (min-width: 992px) {
  :host {
    height: 309px;
  }
}
@media screen and (min-width: 1280px) {
  :host {
    height: 269px;
  }
}
@media screen and (min-width: 1610px) {
  :host {
    height: 229px;
  }
}
