@import '../../../../../styles/variables';

$cleanHeight: calc(100% - 24px);

:host {
  height: 100%;
  width: 100%;
  display: block;
  overflow-y: auto;
}

.kStreamHealth {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  width: auto !important;
  margin-bottom: 0 !important;
  padding: 24px 16px 0 24px;
  height: $cleanHeight;

  .kNoResults {
    display: flex;
    align-items: center;
    justify-content: center;
    height: $cleanHeight;

    span {
      font-weight: bold;
      color: $kGrayscale3;
    }
  }
}
