@import '../../../../../../styles/variables';

:host /deep/ .kValue {
  font-size: 24px;
  font-weight: 700;
}

:host /deep/ .kUnits {
  font-size: 13px;
  font-weight: 700;
}

.kReportContent {
  overflow: hidden;
  position: relative;
  padding-bottom: 45px
}

.kFilters {
  height: 93px !important;
}

.kMini {
  height: 100%;

  .kDetails {
    margin-left: auto;
    white-space: nowrap;
    margin-right: 24px;
  }

  .kReportRow {
    display: flex;
    padding: 0 24px;
    margin-bottom: 20px;
    color: $kGrayscale1;

    .kValue {
      font-size: 18px;
      font-weight: bold;
      margin-right: 12px;
      flex: 0 0 15%;
      line-height: 24px;
    }

    .kInfo {
      display: flex;
      flex-direction: column;

      .kLabel {
        font-size: 18px;
        font-weight: normal;
      }

      .kDesc {
        font-size: 15px;
        font-weight: normal;
        color: $kGrayscale3;
      }
    }

    &.kNoResults {
      height: 100%;
      font-size: 28px;
      color: $kGrayscale3;
      position: absolute;
      background-color: white;
      width: 100%;
      top: 0;
    }

  }
}

