@import '../../../../../styles/variables';

.kFilters {
  height: 93px !important;
}

.kChart {
  width: 100%;
}

@media screen and (min-width: 1280px) {
  .kChart {
    height: 180px !important;
    margin-bottom: 0 !important;
  }
}

@media screen and (max-width: 1280px) {
  .kChart {
    height: 240px !important;
  }

  .kWeekly {
    margin-bottom: 75px !important;
  }
}

.kMinutesViewedContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .kWeekly {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    padding: 0 24px;

    .kValue {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 6px;
    }

    .kLabel {
      font-size: 15px;
      font-weight: normal;
    }
  }

  .kFooter {
    padding: 0 24px;
    font-size: 15px;
    font-weight: normal;

    .kDay {
      font-weight: bold;
      margin-right: 8px;
    }
  }
}

.kLegend {
  display: flex;
  font-size: 12px;
  color: $kGrayscale1;
  font-weight: bold;
  padding: 0 16px;
  white-space: nowrap;

  .kLegendItem {
    display: flex;
    align-items: center;
    margin-right: 12px;
    margin-top: 4px;

    .kCircle {
      width: 10px;
      height: 10px;
      border-radius: 5px;
      margin-right: 8px;
    }
  }
}

.kMini {
  height: 100%;
}

.kTrend {
  display: inline-block;
  margin-bottom: 4px;
}

:host /deep/ .kValue{
  font-size: 24px;
  font-weight: 700;
}

:host /deep/ .kUnits{
  font-size: 13px;
  font-weight: 700;
}
