@import '../../../../../../styles/variables';

.kEntryDetailsOverlay {
  width: 300px;
  height: 260px;

  k-area-blocker {
    display: block;
  }

  .kEntryThumbnail {
    overflow: hidden;
    position: relative;
    width: 300px;
    height: 140px;
    background-color: $kGrayscale6;
    white-space: nowrap;
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &.error{
      border: 1px solid $kGrayscale4;
    }

    img {
      position: absolute;
      left: -100%;
      right: -100%;
      top: -100%;
      bottom: -100%;
      margin: auto;
      width: 300px;
      height: auto;
      border-radius: 3px;
    }

    .kEntryName {
      color: #FFFFFF;
      position: absolute;
      bottom: 12px;
      left: 16px;
      width: 264px;
      text-align: left;

      span {
        width: 100%;
        white-space: normal;
        font-weight: bold;
        word-break: break-word;
      }
    }
    .kProtector {
      background-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
      position: absolute;
      left: -100%;
      right: -100%;
      top: -100%;
      bottom: -100%;
      margin: auto;
      width: 300px;
      height: auto;
      border-radius: 3px;
    }
  }

  .kEntryDetails {
    padding: 12px 16px 16px 16px;

    .kDetailsRow {
      display: flex;
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: bold;

      &:last-child {
        margin-bottom: 0;
      }

      .kLabel {
        color: $kGrayscale3;
        margin-right: 4px;
      }

      .kValue {
        color: $kGrayscale1;
      }
    }
  }
}

.kErrorMessage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
