<div class="kEntryDetails">
  <div class="kIconMediaType" [ngClass]="entry?.mediaType | mediaType: false"></div>
  <span>{{entry?.mediaType | mediaType: true}}</span>
  <div class="kSeparator"></div>
  <span>{{'app.entryLive.owner' | translate: {'0': entry?.owner} }}</span>
  <div class="kSeparator"></div>
  <span>{{'app.entryLive.createdOn' | translate: {'0': +entry?.createdAt | kDate:'dateOnly'} }}</span>
  <div class="kSeparator"></div>
  <span>{{'app.entryLive.dvrStatus' | translate: {'0': ((entry?.dvr ? 'app.entryLive.on' : 'app.entryLive.off') | translate)} }}</span>
  <div class="kSeparator"></div>
  <span>{{'app.entryLive.recordingStatus' | translate: {'0': ((entry?.recording ? 'app.entryLive.on' : 'app.entryLive.off') | translate)} }}</span>
  <div class="kSeparator"></div>
  <span>{{'app.entryLive.transcodingStatus' | translate: {'0': ((entry?.transcoding ? 'app.entryLive.on' : 'app.entryLive.off') | translate)} }}</span>
  <div class="kSeparator"></div>
  <span class="link" (click)="navigateToEntry.emit()">{{'app.entryLive.seeAll' | translate}}</span>
</div>
