<div class="kReport kHighlights kOverrideFAIcons">
  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">
    <div class="kReportContent">

      <app-report-tabs [tabs]="_tabsData" [showValue]="false" (tabChange)="_onTabChange($event)"></app-report-tabs>

      <div class="kChart">
        <div echarts class="kChart"
             *ngIf="_lineChartData && _lineChartData[_selectedMetrics] && _lineChartData[_selectedMetrics]?.series[0]?.data?.length"
             [options]="_lineChartData[_selectedMetrics]"></div>

        <div
          *ngIf="!_isBusy && (!_lineChartData || !_lineChartData[_selectedMetrics] || !_lineChartData[_selectedMetrics]?.series[0]?.data?.length)"
          class="kNoResults">
          <span>{{'app.common.noResults' | translate}}</span>
        </div>
      </div>

      <div class="kTable" *ngIf="_tableData.length">
        <div class="kToggle" *ngIf="!exporting">
          <i [class.kIcondropdown_arrow_bottom]="!_showTable" [class.kIcondropdown_arrow_top]="_showTable"></i>
          <a (click)="toggleTable()">{{(_showTable ? 'app.common.hideDetails' : 'app.common.viewDetails') | translate}}</a>
        </div>
        <!--span *ngIf="exporting" class="kDetails">{{'app.ve.details' | translate}}</span-->
        <div class="kTableContainer" [class.kOpen]="_showTable || exporting" [class.kClose]="!_showTable && !exporting">
          <p-table appScrollTopOnPaging
                   [value]="_tableData"
                   [paginator]="true"
                   [rows]="10"
                   [customSort]="true"
                   [defaultSortOrder]="-1"
                   [sortField]="_sortField"
                   [sortOrder]="-1"
                   (sortFunction)="_onSortChanged($event)">
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of _columns" [pSortableColumn]="col">
                  <div class="kColumnHeader">
                    <span [kTooltip]="'app.ve.' + col | translate" [showOnEllipsis]="true">
                      {{'app.ve.' + col | translate}}
                    </span>
                    <p-sortIcon [field]="col"></p-sortIcon>
                  </div>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr>
                <td *ngFor="let col of _columns; let i = index" [class.kHighlight]="i===0">
                  <ng-container>
                    <span *ngIf="i===0">{{data[col]}}</span>
                    <span *ngIf="i>0">{{data[col]}}</span>
                  </ng-container>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <div class="emptymessage">
                <div class="kEmptyMessage" *ngIf="!_isBusy">{{'app.common.noResults' | translate}}</div>
                <div class="kEmptyMessage" *ngIf="_isBusy">&nbsp;</div>
              </div>
            </ng-template>
          </p-table>
        </div>
      </div>

    </div>

  </k-area-blocker>
</div>

