<div class="kRefineFilters kReport">
  <div class="kTagsContainer" *ngIf="_tags.length">
    <kTags title=""
           labelField="label"
           tooltipField="tooltip"
           [data]="_tags"
           [clearAllLabel]="'app.common.clearAll' | translate"
           (onTagRemove)="_removeFilter($event)"
           (onRemoveAll)="_removeAll()">
    </kTags>
  </div>
  <div *ngIf="showFilters"
       [@state]="_state"
       (@state.done)="_filtersAnimationDone($event)">
    <div class="kRefineFiltersMain">
      <div class="kFilterContainer kOverrideFAIcons">
        <div class="kFilterContainerRow">
          <div class="kFilterContainerCol">
            <app-country-filter [dateFilter]="_dateFilter"
                                [selectedFilters]="_selectedValues['countries']"
                                (itemSelected)="_onItemSelected($event, 'countries')"
                                (itemUnselected)="_onItemUnselected($event, 'countries')"></app-country-filter>


            <app-domains-filter [dateFilter]="_dateFilter"
                                [selectedFilters]="_selectedValues['domains']"
                                (itemSelected)="_onItemSelected($event, 'domains')"
                                (itemUnselected)="_onItemUnselected($event, 'domains')"></app-domains-filter>

          </div>
          <div class="kFilterContainerCol">
            <app-category-filter [label]="'app.filters.categories' | translate"
                                 [selectedFilters]="_selectedValues['categories']"
                                 [linkLabel]="'app.filters.selectCategories' | translate"
                                 (itemSelected)="_onItemSelected($event, 'categories')"
                                 (itemUnselected)="_onItemUnselected($event, 'categories')"></app-category-filter>
          </div>
        </div>
      </div>
      <div class="kRefineFiltersFooter">
        <button type="button" class="kButtonBranded" pButton
                [label]="'app.common.apply' | translate"
                (click)="_apply()"></button>
      </div>
    </div>
  </div>
</div>
