<div class="kMain">
  <div class="kReportView">
    <div class="kReport kContent kOverrideFAIcons">
      <div class="kReportHeader">
        <button pButton class="kButtonDefault kBackBtn small" icon="kIconarrow_backward" (click)="_back()" [kTooltip]="'app.entry.back' | translate"></button>
        <span class="kTitle">{{_entryName}}</span>
        <app-export-csv [headers]="_csvExportHeaders" [totalCount]="_totalCount" [reportInputFilter]="_filter"
                        [reportType]="_reportType"
                        [dimension]="_selectedMetrics" [reportText]="'app.common.noMsg' | translate"
                        [reportTitle]="'app.bandwidth.usersStorage' | translate"></app-export-csv>
        <div class="kFilter kOverrideFAIcons">
          <div class="kDropDown" (click)="_refineFilterOpened = !_refineFilterOpened">
            <span>{{'app.filters.filter' | translate}}</span>
            <i *ngIf="!_refineFilterOpened" class="kIcondropdown_arrow_bottom"></i>
            <i *ngIf="_refineFilterOpened" class="kIcondropdown_arrow_top"></i>
          </div>
        </div>
        <app-date-filter #dateFilter [dateRange]="_dateRange" [selectedTimeUnit]="_timeUnit"
                         (filterChange)="_onDateFilterChange($event)"></app-date-filter>
      </div>

      <div class="kEntryDetails">
        <div class="kIconMediaType" [ngClass]="_entryType | mediaType: false"></div>
        <span>{{_entryType | mediaType: true}}</span>
        <div class="kSeparator"></div>
        <span>{{'app.entry.owner' | translate}}</span>
        <span class="kOwner">{{_owner}}</span>
        <div class="kSeparator"></div>
        <span class="link" (click)="_navigateToEntry()">{{'app.entry.seeAll' | translate}}</span>
      </div>
      <div class="kReportContainer">
        <app-refine-filter [opened]="_refineFilterOpened"
                           [dateFilter]="_dateFilter"
                           [selectedFilters]="_selectedRefineFilters"
                           (closeFilters)="_refineFilterOpened = false"
                           (filterChange)="_onRefineFilterChange($event)"></app-refine-filter>
      </div>

      <app-entry-totals [dateFilter]="_dateFilter" [entryId]="_entryId"></app-entry-totals>

      <app-entry-preview [dateFilter]="_dateFilter" [entryId]="_entryId"></app-entry-preview>

      <div class="kReportContainer">
        <app-video-performance [dateFilterComponent]="dateFilter"
                               [dateFilter]="_dateFilter"
                               [entryId]="_entryId"></app-video-performance>
      </div>
      <div class="kReportContainer">
        <app-entry-impressions [dateFilter]="_dateFilter"
                               [entryId]="_entryId"></app-entry-impressions>
      </div>

    </div>
  </div>
</div>
