<div data-aid="report-group-entry" class="kMain">
  <k-area-blocker [showLoader]="_loadingEntry" [message]="_blockerMessage">
    <div class="kReportView">
      <div *ngIf="_creationDate" class="kReport kContent kOverrideFAIcons">
        <div class="kReportHeader">
          <button pButton class="kButtonDefault kBackBtn small" icon="kIconarrow_backward" (click)="_back()"
                  [kTooltip]="'app.entry.back' | translate"></button>
          <span class="kTitle">{{_entryName}}</span>
          <app-export-csv name="entry"
                          [reports]="_exportConfig"
                          [refineFilter]="_refineFilter"
                          [dateFilter]="_dateFilter"
                          [entryId]="_entryId"></app-export-csv>
          <div class="kFilter kOverrideFAIcons">
            <div class="kDropDown" (click)="_refineFilterOpened = !_refineFilterOpened">
              <span>{{'app.filters.filter' | translate}}</span>
              <i *ngIf="!_refineFilterOpened" class="kIcondropdown_arrow_bottom"></i>
              <i *ngIf="_refineFilterOpened" class="kIcondropdown_arrow_top"></i>
            </div>
          </div>
          <app-date-filter #dateFilter
                           name="entry"
                           [dateRange]="_dateRange"
                           [selectedTimeUnit]="_timeUnit"
                           [creationDate]="_creationDate"
                           (filterChange)="_onDateFilterChange($event)"></app-date-filter>
        </div>

        <div class="kEntryDetails">
          <div class="kIconMediaType" [ngClass]="_entryType | mediaType: false"></div>
          <span>{{_entryType | mediaType: true}}</span>
          <div class="kSeparator"></div>
          <span>{{'app.entry.owner' | translate}}</span>
          <span class="kOwner">{{_owner}}</span>
          <div class="kSeparator"></div>
          <span class="link" (click)="_navigateToEntry()">{{'app.entry.seeAll' | translate}}</span>
        </div>

        <app-entry-filter [opened]="_refineFilterOpened"
                          [dateFilter]="_dateFilter"
                          [selectedFilters]="_selectedRefineFilters"
                          (closeFilters)="_refineFilterOpened = false"
                          (filterChange)="_onRefineFilterChange($event)"></app-entry-filter>

        <app-entry-totals [dateFilter]="_dateFilter" [entryId]="_entryId" [refineFilter]="_refineFilter"></app-entry-totals>

        <div class="kReportContainer kEntryPreview">
          <app-entry-preview [dateFilter]="_dateFilter"
                             [entryId]="_entryId"
                             [refineFilter]="_refineFilter"></app-entry-preview>
          <app-user-engagement [dateFilter]="_dateFilter"
                               [duration]="_duration"
                               [refineFilter]="_refineFilter"
                               [entryId]="_entryId"></app-user-engagement>
        </div>

        <div class="kReportContainer">
          <app-video-performance [dateFilterComponent]="dateFilter"
                                 [dateFilter]="_dateFilter"
                                 [entryId]="_entryId"
                                 [refineFilter]="_refineFilter"></app-video-performance>
        </div>

        <div class="kReportContainer">
          <app-impressions [dateFilter]="_dateFilter"
                           [entryId]="_entryId"
                           [refineFilter]="_refineFilter"></app-impressions>
        </div>

        <div class="kReportContainer">
          <app-top-countries [dateFilter]="_dateFilter"
                             [refineFilter]="_refineFilter"
                             [entryId]="_entryId"></app-top-countries>
        </div>

        <div class="kReportContainer">
          <app-entry-devices-overview [dateFilter]="_dateFilter"
                                      [refineFilter]="_refineFilter"
                                      [entryId]="_entryId"></app-entry-devices-overview>
        </div>

        <div class="kReportContainer">
          <app-syndication [entryId]="_entryId"
                           [dateFilterComponent]="dateFilter"
                           [dateFilter]="_dateFilter"
                           [refineFilter]="_refineFilter"
                           (onDrillDown)="_onDrillDown($event)"></app-syndication>
        </div>
      </div>
    </div>
  </k-area-blocker>
</div>
