@import '../../../../../../styles/variables';

:host {
  display: block;
  padding-bottom: 8px !important;
}

.kTableHeader {
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .kRightSide {
    display: flex;
    align-items: center;

    .kTimePeriodLabel a {
      margin-left: 5px;
    }
  }

  .kTableContent {
    display: flex;
    align-items: center;
  }

  .kTotalCount {
    display: inline-block;
    font-size: 15px;
  }
}

.kTagsContainer {
  margin-top: 8px;
  ktags {
    width: 100%;
    margin-left: 0;

    ::ng-deep .kTags {
      width: auto;
      padding: 0 8px 0 16px;
    }
  }
}

:host ::ng-deep {
  .p-autocomplete-multiple-container {
    width: 200px !important;
    min-height: 34px;
    padding: 3px 6px !important;
  }
}
