<div data-aid="filter-entry-users" class="kTableHeader" [ngStyle]="{'padding-bottom': _tags.length ? 0 : '8px'}">
  <div class="kTableContent">
    <ng-content></ng-content>
    <span class="kTotalCount">{{'app.entryLive.discovery.totalActiveUsers' | translate: { '0': totalCount } }}</span>
  </div>

  <div class="kRightSide">
    <div class="kTimePeriodLabel">
      <span [innerHTML]="rangeLabel"></span>
      <a (click)="openTimeSelector.emit()">{{'app.entryLive.changeDate' | translate}}</a>
    </div>
    <div class="kSearch">
      <app-discovery-users-filter [selectedUsers]="_selectedValues['users']"
                                (itemSelected)="_onItemSelected($event, 'users')"></app-discovery-users-filter>
    </div>
  </div>
</div>

<div class="kTagsContainer" *ngIf="_tags.length">
  <span class="kDisclaimer" *ngIf="_showDisclaimer">
      <i class="kIconhelp_full"></i>
    {{'app.filters.disclaimer' | translate}}
  </span>
  <kTags title=""
         labelField="label"
         tooltipField="tooltip"
         [data]="_tags"
         [clearAllLabel]="'app.common.clearAll' | translate"
         (onTagRemove)="_removeFilter($event)"
         (onRemoveAll)="_removeAll()">
  </kTags>
</div>
