@import '../../../../../styles/variables';

:host{
  width: 100%;
  height: 100%;
}
.divider {
  display: flex;
  width: 100%;
  .chart {
    .banner {
      display: flex;
    }
    .header {
      width: 60%;
      position: absolute;
      top: 0px;
      left: 24px;
      display: flex;
      z-index: 1;
      ::ng-deep .p-selectbutton {
        transform: scale(0.7);
      }
      button {
        margin-left: auto;
        margin-right: 32px;
        width: 24px;
        height: 24px;
      }
    }
    width: 60%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    a {
      font-size: 13px;
      z-index: 2;
    }
  }
}
#wordsCloud {
  width: 100%;
  flex: 0 0 auto;
  height: 600px;
  align-self: center;
  position: relative;
  transform: scale(0.1,0.1);
  transition: all 350ms ease-in;
  opacity: 0;
  &.shown {
    transform: scale(1,1);
    opacity: 1;
  }
  .cover {
    position: absolute;
    width: 135px;
    height: 20px;
    z-index: 1;
    background-color: white;
    bottom: 0px;
    right: 0px;
    text-align: right;
    padding-bottom: 12px;
    padding-right: 8px;
  }
}
.table {
  position: absolute;
  top: 48px;
  left: 40px;
  width: 55%;
  height: 416px;
  overflow-y: scroll;
  transform: scale(0.1,0.1);
  transition: all 350ms ease-in;
  opacity: 0;
  border-left: 1px solid #d9d9d9;
  &.shown {
    transform: scale(1,1);
    opacity: 1;
  }
}
.insights {
  width: 35%;
  flex: 0 0 auto;
  padding-left: 24px;
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  .aiTitle {
    font-size: 18px;
    font-weight: 700;
    color: $kGrayscale1;
  }
  .row {
    display: flex;
    width: 100%;
    align-items: center;
    svg {
      margin-right: 12px;
    }
  }
  .aiResponse {
    margin-top: 12px;
    width: 100%;
    font-size: 15px;
    font-weight: 700;
    color: $kGrayscale3;
    opacity: 1;
  }
  .trendTitle {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 24px;
    display: block;
    color: $kGrayscale1;
  }
  .error {
    display: flex;
    flex-direction: column;
    span {
      color: #db1f26;
      margin-bottom: 12px;
      margin-top: 12px;
    }
  }
}
.blink {
  animation: blinker 350ms linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}
