@import '../../../../../styles/variables';

:host{
  width: 100%;
  height: 100%;
}
.divider {
  display: flex;
  width: 100%;
  .chart {
    .banner {
      display: flex;
    }
    .header {
      position: absolute;
      top: 0px;
      left: 24px;
      display: flex;
      z-index: 1;
      svg {
        cursor: pointer;
      }
    }
    width: 50%;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    a {
      font-size: 13px;
      z-index: 2;
    }
  }
}
#wordsCloud {
  width: 100%;
  flex: 0 0 auto;
  height: 600px;
  align-self: center;
  position: relative;
  transform: scale(0.1,0.1);
  transition: all 350ms ease-in;
  opacity: 0;
  &.shown {
    transform: scale(1,1);
    opacity: 1;
  }
  .cover {
    position: absolute;
    width: 135px;
    height: 20px;
    z-index: 1;
    background-color: white;
    bottom: 0px;
    right: 0px;
    text-align: right;
    padding-bottom: 12px;
    padding-right: 8px;
  }
}
.table {
  position: absolute;
  top: 48px;
  left: 24px;
  width: 45%;
  height: 528px;
  overflow-y: scroll;
  transform: scale(0.1,0.1);
  transition: all 350ms ease-in;
  opacity: 0;
  border-left: 1px solid #d9d9d9;
  &.shown {
    transform: scale(1,1);
    opacity: 1;
  }
}
.insights {
  width: 50%;
  padding-right: 24px;
  padding-bottom: 24px;
  .blueBkg {
    border-radius: 4px;
    background: rgba(0, 110, 250, 0.05);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    align-items: center;
    img {
      width: 140px;
      height: 140px;
      margin-top: 56px;
    }
    .aiTitle {
      color: var(--primary, #006EFA);
      font-family: Lato;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 26px;
    }
    .aiResponse {
      display: flex;
      flex-direction: column;
      align-items: center;
      .title {
        color: var(--tone-1, #333);
        text-align: center;
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px; /* 150% */
        margin-top: 16px;
        margin-bottom: 16px;
      }
      .tag {
        box-sizing: border-box;
        margin-bottom: 8px;
        border-radius: 8px;
        background: rgba(0, 110, 250, 0.10);
        display: flex;
        align-items: center;
        height: 32px;
        padding: 8px;
        .label {
          color: var(--tone-light-theme-tone-1, #333);
          font-family: Lato;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin-right: 8px;
        }
        .percent {
          color: var(--tone-light-theme-tone-1, #333);
          font-family: Lato;
          font-size: 14px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          margin-left: 2px;
        }
      }
    }
    .link {
      margin-top: 18px;
    }
    .genAiBtn {
      display: inline-flex;
      height: 32px;
      padding: 8px 12px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      border-radius: var(--roundness-1, 4px);
      background: var(--primary, #006EFA);
      cursor: pointer;
      margin-top: 8px;
      box-sizing: border-box;
      .label {
        color: var(--primary-text-contrast, #FFF);
        leading-trim: both;
        text-edge: cap;
        /* Button Label 1 */
        font-family: Lato;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }

  .trendTitle {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 24px;
    display: block;
    color: $kGrayscale1;
  }

  .error {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
    span {
      color: #db1f26;
      margin-bottom: 12px;
      margin-top: 12px;
      font-weight: 700;
    }
    a {
      margin-top: 8px;
    }
  }
}
.blink {
  animation: blinker 350ms linear infinite;
}
@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}
