@import '../../../../../styles/variables';

.kReport {
  height: 100%;
}

.kReportContainer{
 padding-bottom: 24px;
  background-color: $appBkgColor;
  display: flex;

  &.kHide {
    padding: 0;
  }

  .kSmallReportContainer{
    width: 60%;
    height: 444px;
    &:nth-child(even){
      width: 40%;
      padding-left: 24px;
    }
  }
  .kMiniReportContainer{
    height: 280px;
    width: 100%;
    flex: 0 1 auto;
    margin-right: 24px;
    &:last-child {
      margin-right: 0;
    }
  }
}

.kFilter {
  display: flex;
  align-items: center;

  .kDropDown {
    background-color: white;
    width: 100px;
    height: 34px;
    border: 1px solid $kGrayscale4;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 16px;

    &:hover {
      border-color: $kPrimary;
    }

    &:active {
      box-shadow: 0 0 0 3px rgba(0, 167, 132, 0.4);
    }

    span {
      font-size: 15px;
      white-space: nowrap;
      margin-right: 12px;
    }

    i {
      margin-left: auto;
      font-size: 12px;
      color: $kGrayscale3;
    }
  }
}
