<div class="kReport kContent kOverrideFAIcons">
  <div class="kReportHeader">
    <span class="kTitle">{{'app.engagement.title' | translate}}</span>
    <app-export-csv [headers]="_csvExportHeaders" [totalCount]="_totalCount" [reportInputFilter]="_filter"
                    [reportType]="_reportType"
                    [dimension]="_selectedMetrics" [reportText]="'app.common.noMsg' | translate"
                    [reportTitle]="'app.bandwidth.usersStorage' | translate"></app-export-csv>
    <app-refine-filter [selectedFilters]="_selectedRefineFilters"
                       (filterChange)="_onRefineFilterChange($event)"></app-refine-filter>
    <app-date-filter #dateFilter [dateRange]="_dateRange" [selectedTimeUnit]="_timeUnit"
                     (filterChange)="_onDateFilterChange($event)"></app-date-filter>
  </div>

  <div class="kReportContainer kTagsContainer" *ngIf="_tags.length">
    <kTags [title]="''"
           [data]="_tags"
           [labelField]="'label'"
           [tooltipField]="'label'"
           [clearAllLabel]="'app.common.clearAll' | translate"
           (onTagRemove)="_onRemoveTag($event)"
           (onRemoveAll)="_onRemoveAllTags()">
    </kTags>
  </div>

  <div class="kReportContainer">
    <div class="kMiniReportContainer">
      <app-engagement-mini-highlights [dateFilter]="_dateFilter"
                                      [refineFilter]="_refineFilter"></app-engagement-mini-highlights>
    </div>
  </div>

  <div id="highlights-report" class="kReportContainer">
    <app-engagement-highlights [dateFilterComponent]="dateFilter"
                               [dateFilter]="_dateFilter"
                               [refineFilter]="_refineFilter"></app-engagement-highlights>
  </div>

  <div class="kReportContainer">
    <app-engagement-top-videos [dateFilter]="_dateFilter"
                               [refineFilter]="_refineFilter"></app-engagement-top-videos>
  </div>

  <div class="kReportContainer">
    <app-engagement-duration [dateFilter]="_dateFilter"
                             [refineFilter]="_refineFilter"></app-engagement-duration>
  </div>

  <div class="kReportContainer">
    <div class="kSmallReportContainer">
      <app-engagement-impressions [dateFilter]="_dateFilter"
                                  [refineFilter]="_refineFilter"></app-engagement-impressions>
    </div>
    <div class="kSmallReportContainer">
      <app-engagement-users [dateFilter]="_dateFilter"
                            [refineFilter]="_refineFilter"></app-engagement-users>
    </div>
  </div>
</div>


