@import '../../../../../styles/variables';

.kReportContainer{
 padding-bottom: 24px;
  background-color: $appBkgColor;
  display: flex;
  .kSmallReportContainer{
    width: 60%;
    &:nth-child(even){
      width: 40%;
      padding-left: 24px;
    }
  }
}

.kTagsContainer {
  ktags {
    width: 100%;
    margin-left: 0;

    /deep/ .kTags {
      width: auto;
      padding: 7px;
    }
  }
}
