<div [attr.data-aid]="'table-graph-geo-' + name" class="kReportContent kTopCountries" [ngClass]="isCompareMode ? 'kCompareMode' : 'kDefaultMode'">
  <div class="kTable">
    <div class="kTableContainer">
      <p-table #table [value]="tableData" [paginator]="true" [rows]="5">
        <ng-template pTemplate="header">
          <tr>
            <th [ngStyle]="{'width': '50px'}">
              <span *ngIf="tableData?.length">{{'app.audience.geo.index' | translate}}</span>
            </th>
            <th *ngIf="!drillDownItems.length" [ngStyle]="{'width': '42px'}"></th>
            <th [ngStyle]="{'width': '20%'}">
              <div class="kColumnHeader">
                <span [kTooltip]="'app.audience.geo.object_id' | translate" [showOnEllipsis]="true">
                  {{'app.audience.geo.object_id' | translate}}
                </span>
              </div>
            </th>
            <th [ngStyle]="{'width': '20%'}" *ngIf="!isCompareMode && selectedMetrics === 'count_plays'">
              <div class="kColumnHeader">
                <span [kTooltip]="'app.entry.count_loads' | translate" [showOnEllipsis]="true">
                  {{'app.entry.count_loads' | translate}}
                </span>
              </div>
            </th>
            <th [ngStyle]="{'width': '20%'}">
              <div class="kColumnHeader">
                <span [kTooltip]="('app.entry.' + distributionCalculationKey) | translate" [showOnEllipsis]="true">
                  {{('app.entry.' + distributionCalculationKey) | translate}}
                </span>
              </div>
            </th>
            <th>
              <div class="kColumnHeader">
                <span [kTooltip]="('app.entry.' + distributionKey) | translate" [showOnEllipsis]="true">
                  {{('app.entry.' + distributionKey) | translate}}
                </span>
              </div>
            </th>
            <th *ngIf="showTrend">{{'app.audience.geo.trend' | translate}}</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
          <tr>
            <td>
              <span>{{rowIndex + 1}}</span>
            </td>
            <td class="kFlagColumn" *ngIf="!drillDownItems.length">
              <i class="kFlag" [ngClass]="'kFlag-' + data['object_id']"></i>
            </td>
            <td class="kHighlight">
              <a *ngIf="drillDownItems.length === 0" (click)="drillDown(data['country'])">{{data['country']}}</a>
              <a *ngIf="drillDownItems.length === 1" (click)="drillDown(data['region'])">{{data['region']}}</a>
              <span *ngIf="drillDownItems.length === 2">{{data['city']}}</span>
            </td>
            <td *ngIf="!isCompareMode && selectedMetrics === 'count_plays'">
              <span *ngIf="!data['count_loads']?.value">{{data['count_loads']}}</span>
            </td>
            <td>
              <span *ngIf="!data[distributionCalculationKey]?.value">{{data[distributionCalculationKey]}}</span>
            </td>
            <td *ngIf="!data[distributionCalculationKey]?.value">
              <div>
                <app-bullet [value]="data[distributionKey]"></app-bullet>
              </div>
            </td>
            <td *ngIf="showTrend">
              <span>
                <h5 class="mini-loader"
                    *ngIf="!data[selectedMetrics+'_trend']?.trend"><span></span><span></span></h5>
                <span *ngIf="data[selectedMetrics+'_trend']?.trend" class="kTrend"
                      [kTooltip]="data[selectedMetrics+'_trend']?.tooltip" [maxWidth]="500" [escape]="false">
                  <app-trend-value [value]="data[selectedMetrics+'_trend']?.trend"
                                   [units]="data[selectedMetrics+'_trend']?.units"
                                   [trend]="data[selectedMetrics+'_trend']?.trendDirection"></app-trend-value>
                </span>
              </span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <div class="emptymessage">
            <div class="kEmptyMessage" *ngIf="!isBusy">{{'app.common.noResultsRegion' | translate}}</div>
            <div class="kEmptyMessage" *ngIf="isBusy">&nbsp;</div>
          </div>
        </ng-template>
      </p-table>
    </div>
  </div>
  <div *ngIf="isCompareMode" class="kPeriod">{{periodTitle}}</div>
  <div class="kMap">
    <div *ngIf="_mapDataReady" echarts class="kChart"
         [options]="_mapChartData"
         (chartClick)="_onChartClick($event)"
         (chartInit)="_onChartInit($event)"></div>
    <div class="kZoomWidget">
      <button pButton class="kButtonDefault kZoomOutBtn" icon="icon-minus" (click)="_zoom('out')"></button>
      <button pButton class="kButtonDefault kZoomInBtn" icon="kIconplus" (click)="_zoom('in')"></button>
    </div>
  </div>
</div>

