@import '../../../../styles/variables';

.kReportTabs{
  display: flex;
  width: 100%;
  border-bottom: 1px solid $kGrayscale4;
  .kTab{
    display: flex;
    flex-direction: column;
    margin-right: 4px;
    padding: 16px 24px;
    padding-bottom: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 120px;
    background-color: white;
    cursor: pointer;
    &:last-child {
      margin-right: 0px;
    }
    &.kNarrow{
      height: 100px;
    }
    &:hover{
      background-color: $kGrayscale7;
    }
    .kTabTitle{
      font-size: 15px;
      font-weight: 400;
      color: $kGrayscale3;
    }
    .kValueContainer{
      margin-top: auto;
      display: flex;
      align-items: flex-end;
      ::ng-deep .kValue{
        font-size: 24px;
        font-weight: 400;
        color: $kGrayscale1;
      }
      .kUnits{
        font-size: 13px;
        font-weight: 700;
        color: $kGrayscale3;
        line-height: 20px;
        margin-left: 4px;
      }
    }
    &.active{
      cursor: default;
      border-bottom: 4px solid $kTertiary;
      padding-bottom: 16px;
      .kValueContainer .kValue {
        font-weight: 700;
      }
      .kTabTitle {
        color: $kGrayscale1;
        font-weight: 700;
      }
    }
    &.noContent {
      height: auto;
    }
  }
}
