<div class="kReportTabs kOverrideFAIcons"
     (keydown.arrowRight)="_moveFocus( 'right')"
     (keydown.arrowLeft)="_moveFocus('left')">
  <div role="tab" tabindex="0" class="kTab"
       *ngFor="let tab of tabs"
       appElementFocus
       [attr.aria-selected]="tab.selected"
       [class.kNarrow]="tabs.length < 4 || narrowTabs"
       [class.noContent]="!showValue"
       [class.active]="tab.selected"
       [kTooltip]="compareMode ? tab.tooltip : null"
       [maxWidth]="500"
       [escape]="false"
       (keydown.enter)="tabClick(tab)"
       (click)="tabClick(tab)">
    <span class="kTabTitle">
      {{tab.title}}
      <kInputHelper *ngIf="tab.tooltip && !compareMode">
        <span>{{tab.tooltip}}</span>
    </kInputHelper>
    </span>
    <div class="kValueContainer" *ngIf="showValue">
      <span *ngIf="compareMode" class="kTrend">
        <app-trend-value valueStyleClass="kValue"
                         [value]="tab.value"
                         [trend]="tab.trend"></app-trend-value>
        <span class="kUnits">{{tab.units}}</span>
      </span>
      <ng-container *ngIf="!compareMode">
        <span class="kValue">{{tab.value}}</span>
        <span class="kUnits">{{tab.units}}</span>
      </ng-container>
    </div>
  </div>
</div>
