<div class="kReportTabs kOverrideFAIcons">
  <div class="kTab" [class.kNarrow]="tabs.length<4" *ngFor="let tab of tabs"
       [class.active]="tab.selected" [class.noContent]="!showValue"
       [kTooltip]="compareMode ? tab.tooltip : null" [maxWidth]="500" [escape]="false"
       (click)="tabClick(tab)" >
    <span class="kTabTitle">
      {{tab.title}}
      <kInputHelper *ngIf="tab.tooltip && !compareMode">
        <span>{{tab.tooltip}}</span>
    </kInputHelper>
    </span>
    <div class="kValueContainer" *ngIf="showValue">
      <span *ngIf="compareMode" class="kTrend">
        <app-trend-value valueStyleClass="kValue"
                         [value]="tab.value"
                         [trend]="tab.trend"></app-trend-value>
        <span class="kUnits">{{tab.units}}</span>
      </span>
      <ng-container *ngIf="!compareMode">
        <span class="kValue">{{tab.value}}</span>
        <span class="kUnits">{{tab.units}}</span>
      </ng-container>
    </div>
  </div>
</div>
