<div class="kReport kTotals kOverrideFAIcons">
  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">
    <div class="kTotalsContainer">
      <div class="kTotalContainer">
        <div class="kMiniIcon blue"><i class="icon-small-play"></i></div>
        <div class="kTotal">
          <span class="kLable">{{_tabsData[0]?.title}}</span>
          <span class="kValue">{{_tabsData[0]?.value}}</span>
        </div>
      </div>
      <div class="kTotalContainer">
        <div class="kMiniIcon green"><i class="icon-small-viewer-contributor"></i></div>
        <div class="kTotal">
          <span class="kLable">{{_tabsData[1]?.title}}</span>
          <span class="kValue">{{_tabsData[1]?.value}}</span>
        </div>
      </div>
      <div class="kTotalContainer">
        <div class="kMiniIcon orange"><i class="icon-small-time"></i></div>
        <div class="kTotal">
          <span class="kLable">{{_tabsData[2]?.title}}</span>
          <span class="kValue">{{_tabsData[2]?.value}}</span>
        </div>
      </div>
      <div class="kTotalContainer">
        <div class="kMiniIcon darkgreen"><i class="kIconcomplete"></i></div>
        <div class="kTotal">
          <span class="kLable">{{_tabsData[3]?.title}}</span>
          <span class="kValue">{{_tabsData[3]?.value}}</span>
        </div>
      </div>
    </div>
  </k-area-blocker>
</div>

