@import '../../../../styles/variables';

:host {
  display: block;
  width: 100%;
}

.kBulletContainer{
  display: flex;
  align-items: center;
  .kValue{
    font-size: 15px;
    margin-right: 5px;
    color: $kGrayscale3;
    width: 30%;
  }
  .kBullet{
    width: 70%;
    height: 12px;
    border: 0px solid $kGrayscale5;
    border-radius: 6px;
    overflow: hidden;
    background-color: $kGrayscale5;
    .kBar{
      height: 100%;
      background-color: #487ADF;
      transition: width 0.35s ease-out;
    }
  }
}
