@import '../../../../styles/variables';

:host {
  display: block;
  width: 100%;
}

.kBulletContainer{
  display: flex;
  align-items: center;
  .kValue{
    font-size: 15px;
    color: $kGrayscale3;
    width: 60px;
  }
  .kBullet{
    width: 70%;
    height: 12px;
    border: 0px solid $kGrayscale5;
    border-radius: 6px;
    overflow: hidden;
    background-color: $kGrayscale5;
    .kBar{
      height: 100%;

      &.animate {
        transition: width 0.35s ease-out;
      }
    }
  }
}
@media (max-width: 991px) {
  .hideOnTablet {
    display: none;
  }
}
