<div data-aid="report-engagement-mini-highlights" class="kReport kMini kOverrideFAIcons">

    <div class="kReportContent">

      <div class="kVal">
        <i *ngIf="data.countries.length === 0" class="icon-globe"></i>
        <i *ngIf="data.countries.length" class="kFlag flag1" [ngClass]="'kFlag-' + data.countries[0]"></i>
        <i *ngIf="data.countries.length > 1" class="kFlag flag2" [ngClass]="'kFlag-' + data.countries[1]"></i>
        <div class="kLabels kCountriesLables">
          <span class="value">{{data.countriesCount | numberFormat}}</span>
          <span class="title">{{'app.entryWebcast.highlights.countries' | translate }}</span>
        </div>
      </div>


      <div class="kVal">
        <div class="kMiniIcon grey"><i class="icon-small-viewer-contributor"></i></div>
        <div class="kLabels">
          <span class="value">{{data.unregistered | numberFormat}}</span>
          <span class="title">{{'app.ve.unregistered' | translate}}</span>
        </div>
      </div>

    </div>

</div>

