<div class="kTable">
  <div class="kToggle">
    <i [class.kIcondropdown_arrow_bottom]="!_showTable"
       [class.kIcondropdown_arrow_top]="_showTable"></i>
    <a (click)="_toggleTable()">
      {{(_showTable ? 'app.entryLive.discovery.hidePresence' : 'app.entryLive.discovery.viewPresence') | translate}}
    </a>
  </div>
  <k-area-blocker [showLoader]="_isBusy" [message]="_blockerMessage">
    <div class="kTableContainer" *ngIf="_showTable">
      <ng-container [ngSwitch]="_tableMode">

        <!-- USERS TABLE-->
        <ng-container *ngSwitchCase="_tableModes.users">
          <app-discovery-filter [totalCount]="_totalCount"
                                [rangeLabel]="rangeLabel"
                                (openTimeSelector)="_openTimeSelector()"
                                (filterChange)="_widget.usersFilterChange($event)">
            <app-table-selector *ngIf="(_usersModeService.usersMode$ | async) === _entryLiveUsersMode.Authenticated"
                                [tableMode]="_tableMode"
                                (tableModeChange)="_onTableModeChange($event)"></app-table-selector>
          </app-discovery-filter>
          <app-users-table [tableData]="_tableData"
                           [summary]="_summaryData"
                           [columns]="_columns"
                           [firstTimeLoading]="_firstTimeLoading"
                           [totalCount]="_totalCount"></app-users-table>
        </ng-container>

        <!-- DEVICES TABLE-->
        <ng-container *ngSwitchCase="_tableModes.devices">
          <div class="kTableContent">
            <app-table-selector class="kDevicesModeTableSelector"
                                *ngIf="(_usersModeService.usersMode$ | async) === _entryLiveUsersMode.Authenticated"
                                [tableMode]="_tableMode"
                                (tableModeChange)="_onTableModeChange($event)"></app-table-selector>
            <span class="kTotalCount">
              {{'app.entryLive.discovery.totalDevices' | translate: { '0': _totalCount } }}
            </span>
            <div class="kTimePeriodLabel">
              <span [innerHTML]="rangeLabel"></span>
              <a (click)="_openTimeSelector()">{{'app.entryLive.changeDate' | translate}}</a>
            </div>
          </div>
          <app-devices-table [tableData]="_tableData"
                             [summary]="_summaryData"
                             [columns]="_columns"
                             [firstTimeLoading]="_firstTimeLoading"></app-devices-table>
        </ng-container>

      </ng-container>
    </div>
  </k-area-blocker>
</div>
