@import '../../../../../styles/variables';

.kTableContainer.kOpen {
  min-height: 296px;
}

.kDevicesModeTableSelector {
  display: block;
  margin-left: 24px;
}

.emptymessage {
  height: 175px;

  .kEmptyMessage {
    top: -15px;
    border-bottom: none;
  }
}
