<div class="kTable">
  <div class="kToggle">
    <i [class.kIcondropdown_arrow_bottom]="!_liveDiscoveryTableWidget.showTable"
       [class.kIcondropdown_arrow_top]="_liveDiscoveryTableWidget.showTable"></i>
    <a (click)="_liveDiscoveryTableWidget.toggleTable()">
      {{(_liveDiscoveryTableWidget.showTable ? 'app.entryLive.discovery.hidePresence' : 'app.entryLive.discovery.viewPresence') | translate}}
    </a>
  </div>
  <k-area-blocker [showLoader]="_liveDiscoveryTableWidget.isBusy" [message]="_blockerMessage">
    <div class="kTableContainer"
         [class.kOpen]="_liveDiscoveryTableWidget.showTable"
         [class.kClose]="!_liveDiscoveryTableWidget.showTable">
      <app-discovery-filter [totalCount]="_totalCount"
                            [selectedFilters]="_selectedRefineFilters"
                            (filterChange)="_onRefineFilterChange($event)">
        <div class="kTableModeSelector">
          <p-dropdown [style]="{'width': '172px'}"
                      [options]="_tableModes"
                      (onChange)="_onTableModeChange($event.value)"
                      [(ngModel)]="_tableMode">
            <ng-template let-option pTemplate="selectedItem">
              <div class="kOptionsLabelWrapper">
                <i class="kIcon" [ngClass]="option.value | tableModeIcon"></i>
                <span>{{option.label}}</span>
              </div>
            </ng-template>
            <ng-template let-option pTemplate="item">
              <div class="kOptionsLabelWrapper">
                <i class="kIcon" [ngClass]="option.value | tableModeIcon"></i>
                <span>{{option.label}}</span>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
      </app-discovery-filter>

      <p-table appScrollTopOnPaging
               [value]="_tableData"
               [customSort]="true"
               [defaultSortOrder]="-1"
               [sortOrder]="-1"
               (sortFunction)="_onSortChanged($event)"
               (onPage)="_onPaginationChange($event)">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of _columns" [pSortableColumn]="col">
              {{'app.entry.' + col | translate}}
              <p-sortIcon [field]="col"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>

          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <div class="emptymessage">
            <div class="kEmptyMessage" *ngIf="!_firstTimeLoading">{{'app.common.noResults' | translate}}</div>
            <div class="kEmptyMessage" *ngIf="_firstTimeLoading">&nbsp;</div>
          </div>
        </ng-template>
      </p-table>
      <p-paginator [rows]="_pager.pageSize"
                   [first]="(_pager.pageIndex -1) * _pager.pageSize"
                   [totalRecords]="_totalCount"
                   (onPageChange)="_onPaginationChange($event)"></p-paginator>

    </div>
  </k-area-blocker>
</div>
