<div class="kTable">
  <div class="kToggle">
    <i [class.kIcondropdown_arrow_bottom]="!_liveDiscoveryTableWidget.showTable"
       [class.kIcondropdown_arrow_top]="_liveDiscoveryTableWidget.showTable"></i>
    <a (click)="_liveDiscoveryTableWidget.toggleTable(isPolling)">
      {{(_liveDiscoveryTableWidget.showTable ? 'app.entryLive.discovery.hidePresence' : 'app.entryLive.discovery.viewPresence') | translate}}
    </a>
  </div>
  <k-area-blocker [showLoader]="_liveDiscoveryTableWidget.isBusy" [message]="_blockerMessage">
    <div class="kTableContainer"
         [class.kOpen]="_liveDiscoveryTableWidget.showTable"
         [class.kClose]="!_liveDiscoveryTableWidget.showTable">

      <ng-container [ngSwitch]="_tableMode">

        <!-- USERS TABLE-->
        <ng-container *ngSwitchCase="_tableModes.users">
          <app-discovery-filter [totalCount]="_totalCount"
                                [selectedFilters]="_selectedRefineFilters"
                                (filterChange)="_liveDiscoveryTableWidget.usersFilterChange($event)">
            <app-table-selector (tableModeChange)="_liveDiscoveryTableWidget.tableModeChange($event)"
                                [(tableMode)]="_tableMode"></app-table-selector>
          </app-discovery-filter>
          <app-users-table [tableData]="_tableData"
                           [columns]="_columns"
                           [firstTimeLoading]="_firstTimeLoading"
                           [totalCount]="_totalCount"></app-users-table>
        </ng-container>

        <!-- DEVICES TABLE-->
        <ng-container *ngSwitchCase="_tableModes.devices">
          <div class="kContent">
            <app-table-selector class="kDevicesModeTableSelector"
                                (tableModeChange)="_liveDiscoveryTableWidget.tableModeChange($event)"
                                [(tableMode)]="_tableMode"></app-table-selector>
            <span class="kTotalCount">
              {{'app.entryLive.discovery.totalDevices' | translate: { '0': _totalCount } }}
            </span>
          </div>
          <app-devices-table [tableData]="_tableData"
                             [columns]="_columns"
                             [firstTimeLoading]="_firstTimeLoading"></app-devices-table>
        </ng-container>

      </ng-container>
    </div>
  </k-area-blocker>
</div>
