<div class="kReport kFunnel kOverrideFAIcons">
  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">
    <div class="kReportContent" aria-labelledby="kImpressions">
      <div class="kData" *ngIf="_chartLoaded">
        <div class="kDataContainer" aria-label="Registered">
          <span class="kValue">{{_funnelData.registered | numberFormat}}</span>
          <div class="kFilters">
            <span class="kLabel">{{'app.ve.registered' | translate}}</span>
            <kInputHelper>
              <span>{{'app.ve.registered_tt' | translate}}</span>
            </kInputHelper>
          </div>
        </div>
        <div class="kDataContainer" aria-label="Confirmed">
          <span class="kValue">{{_funnelData.confirmed | numberFormat}}</span>
          <div class="kFilters">
            <span class="kLabel">{{'app.ve.confirmed' | translate}}</span>
            <kInputHelper>
              <span>{{'app.ve.confirmed_tt' | translate}}</span>
            </kInputHelper>
          </div>
        </div>
        <div class="kDataContainer" aria-label="Participated">
          <span class="kValue">{{_funnelData.participated | numberFormat}}</span>
          <div class="kFilters">
            <span class="kLabel">{{'app.ve.participated' | translate}}</span>
            <kInputHelper>
              <span>{{'app.ve.participated_tt' | translate}}</span>
            </kInputHelper>
          </div>
        </div>
      </div>

      <div class="kCharts"  [style.opacity]="_chartLoaded ? 1 : 0">
        <div class="kChart">
          <div aria-label="Impressions Funnel" echarts class="kChart"  [options]="_chartData" (chartInit)="onChartInit($event)"></div>
        </div>
      </div>

    </div>

  </k-area-blocker>
</div>

