@import '../../../../../styles/variables';

:host {
  display: block;
  height: 100%;
}
.kFunnel {
  height: 100%;
  padding-top: 12px;
}
.kCharts{
  display: flex;
  padding-right: 16px;
  .kChart{
    height: 324px !important;
    width: 100%;
    margin-bottom: 0px;
  }
}
.kTurnout {
  height: 62px;
  display: flex;
  align-items: flex-end;
  width: calc(100% - 48px);
  margin-left: 24px;
  margin-right: 24px;
  padding-bottom: 22px;
  box-sizing: border-box;
  border-bottom: 1px solid $kGrayscale6;
  .kValue{
    font-size: 24px;
    color: $kGrayscale1;
    font-weight: 700;
  }
  .kLabel{
    font-size: 16px;
    color: $kGrayscale1;
    margin-left: 8px;
  }
}
.kData {
  width: 70%;
  position: absolute;
  margin-top: 61px;
  height: 318px;
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  .kDataContainer{
    width: 100%;
    height: 100%;
    border-top: 1px solid $kGrayscale6;
    display: flex;
    flex-direction: column;
    .kFilters {
      height: auto;
    }
    &:first-child {
      border-top: none;
    }
  }
  .kValue{
    font-size: 24px;
    color: $kGrayscale1;
    font-weight: 700;
    line-height: 52px;
  }
  .kLabel{
    font-size: 16px;
    color: $kGrayscale1;
  }
}
.kPlaythrough{
  margin-left: 24px;
  position: absolute;
  top: 288px;
}
:host ::ng-deep p-dropdown{
  .ui-dropdown {
    margin-left: 8px;
    margin-right: 8px;
    width: 84px !important;
    min-width: 84px !important;
  }

  .ui-state-focus {
    // margin-top: 4px;
    outline: 5px auto rgba(0, 150, 255, 1) !important;
  }
}
