<div data-aid="report-group-category" class="kMain">
  <k-area-blocker [showLoader]="_loadingCategory" [message]="_blockerMessage">
    <div class="kReportView">
      <div class="kReport kContent kOverrideFAIcons">
        <div class="kReportHeader" [class.noTitle]="!_viewConfig.title">
          <button tabindex="0" aria-label="Back" role="button" pButton *ngIf="_viewConfig.title"
                  class="kButtonDefault kBackBtn small" icon="kIconarrow_backward" (click)="_back()"
                  [kTooltip]="'app.entry.back' | translate"></button>
          <h1 *ngIf="_viewConfig.title" class="kTitle">{{_category?.name}}</h1>
          <div class="kHeaderRight" [class.noTitle]="!_viewConfig.title">
            <app-export-csv aria-label="Export"
                            role="button"
                            *ngIf="_viewConfig.export" name="entry"
                            [reports]="_exportConfig"
                            [refineFilter]="_refineFilter"
                            [dateFilter]="_dateFilter"
                            [categoryId]="_categoryId"></app-export-csv>
            <div class="kFilter kOverrideFAIcons">
              <div role="button" aria-label="Refine Filter" tabindex="0" class="kDropDown"
                   (click)="_refineFilterOpened = !_refineFilterOpened"
                   (keydown.enter)="_refineFilterOpened = !_refineFilterOpened">
                <span>{{'app.filters.filter' | translate}}</span>
                <i *ngIf="!_refineFilterOpened" class="kIcondropdown_arrow_bottom"></i>
                <i *ngIf="_refineFilterOpened" class="kIcondropdown_arrow_top"></i>
              </div>
            </div>
            <app-date-filter #dateFilter
                             name="category"
                             [dateRange]="_dateRange"
                             [selectedTimeUnit]="_timeUnit"
                             [creationDate]="_creationDate"
                             (filterChange)="_onDateFilterChange($event)"></app-date-filter>
          </div>
        </div>

        <div *ngIf="_viewConfig.details" class="kCategoryDetails" aria-label="Category Details"
             [class.kFloatingDetails]="!_viewConfig.title">
          <span class="kLabel" *ngIf="_category?.parentId">{{'app.category.parent' | translate}}</span>
          <a *ngIf="_category?.parentId" class="kParentLink"
             (click)="_navigateToParent(_category.parentId)">{{_parentCategoryName}}</a>
          <div *ngIf="_category?.parentId" class="kSeparator"></div>
          <span class="kLabel">{{'app.category.id' | translate}}</span>
          <span>{{_category?.id}}</span>
          <div class="kSeparator"></div>
          <span class="kLabel">{{'app.category.subcats' | translate}}</span>
          <span>{{_category?.directSubCategoriesCount}}</span>
          <div class="kSeparator"></div>
          <!--span class="kLabel">{{'app.category.entries' | translate}}</span>
          <span>{{_category?.entriesCount}}</span>
          <div class="kSeparator"></div-->
          <span class="kLabel">{{'app.category.created' | translate}}</span>
          <span>{{_creationDate}}</span>
          <div class="kSeparator"></div>
          <span class="kLabel">{{'app.category.updated' | translate}}</span>
          <span>{{_updateDate}}</span>
        </div>

        <div *ngIf="_miniViewsCount && _categoryLoaded" class="kReportContainer">

          <div *ngIf="_viewConfig.miniTopVideos"
               class="kMiniReportContainer">
            <app-category-mini-top-videos [dateFilter]="_dateFilter" [topVideos]="_categoryTopContentComponent?.topVideos$"
                                          [refineFilter]="_refineFilter"></app-category-mini-top-videos>
          </div>

          <div *ngIf="_viewConfig.miniTopViewers"
               class="kMiniReportContainer">
            <app-category-mini-top-viewers [dateFilter]="_dateFilter" [categoryId]="_category?.id.toString()"
                                           [refineFilter]="_refineFilter"></app-category-mini-top-viewers>
          </div>

          <div class="kMiniReportContainer" *ngIf="_viewConfig.insights && _categoryLoaded">
            <ui-carousel height="100%"
                         [infinite]="true"
                         [autoPlay]="true"
                         [autoPlaySpeed]="5000"
                         [arrows]="false"
                         [fade]="false"
                         [speed]="200">
              <ui-carousel-item *ngIf="_viewConfig.insights.domains">
                <app-category-insight-domains [dateFilter]="_dateFilter" [categoryId]="_category?.id.toString()"
                                              [refineFilter]="_refineFilter"></app-category-insight-domains>
              </ui-carousel-item>
              <ui-carousel-item *ngIf="_viewConfig.insights.geo">
                <span>geo</span>
                <!--app-user-insight-plays [userId]="_userId"
                                        [dateFilter]="_dateFilter"
                                        [refineFilter]="_refineFilter"></app-user-insight-plays-->
              </ui-carousel-item>

              <ui-carousel-item *ngIf="_viewConfig.insights.devices">
                <span>devices</span>
                <!--app-user-insight-domain [userId]="_userId"
                                         [dateFilter]="_dateFilter"
                                         [refineFilter]="_refineFilter"></app-user-insight-domain-->
              </ui-carousel-item>

            </ui-carousel>
          </div>


          <!--div *ngIf="_engagementViewConfig.miniTopVideos"
               class="kMiniReportContainer">
            <app-engagement-mini-top-videos [dateFilter]="_dateFilter" [topVideos$]="topVideos.topVideos$"
                                            [refineFilter]="_refineFilter"></app-engagement-mini-top-videos>
          </div>

          <div *ngIf="_engagementViewConfig.miniPeakDay"
               class="kMiniReportContainer">
            <app-engagement-mini-peak-day [dateFilter]="_dateFilter"
                                          [refineFilter]="_refineFilter"></app-engagement-mini-peak-day>
          </div-->

        </div>

        <div *ngIf="_viewConfig.performance && _categoryLoaded" class="kReportContainer" id="performance" >
          <span>Category Performance Over Time</span>
        </div>

        <div *ngIf="_viewConfig.topVideos && _categoryLoaded" class="kReportContainer" id="top-videos" >
          <app-category-top-content [categoryId]="_category?.id.toString()" #topVideos
                                [dateFilter]="_dateFilter"
                                [refineFilter]="_refineFilter"></app-category-top-content>
        </div>

        <div *ngIf="_viewConfig.geo && _categoryLoaded" class="kReportContainer">
          <app-top-countries [dateFilter]="_dateFilter"
                                   [refineFilter]="_refineFilter"
                                   [categoryId]="_category?.id.toString()"
                                   (onDrillDown)="_onGeoDrillDown($event)"></app-top-countries>
        </div>

        <div *ngIf="_viewConfig.devices && _categoryLoaded" class="kReportContainer">
          <app-devices-overview [dateFilter]="_dateFilter"
                                      [refineFilter]="_refineFilter"
                                      [colorScheme]="'impressions'"
                                      [categoryId]="_category?.id.toString()"></app-devices-overview>
        </div>

        <div *ngIf="_viewConfig.syndication && _categoryLoaded" class="kReportContainer">
          <app-syndication [dateFilterComponent]="dateFilter" #topDomains
                           [dateFilter]="_dateFilter"
                           [categoryId]="_category?.id.toString()"
                           [refineFilter]="_refineFilter"></app-syndication>
        </div>

      </div>
    </div>
  </k-area-blocker>
</div>
