@import '../../../../../styles/variables';

:host {
  width: 100%;
  height: 100%;
}

.kReportContent {
  width: 100%;
  min-width: 370px;
}

.kDevicesOverview {
  margin-bottom: 10px;

  ::ng-deep {
    .kTable {
      min-height: auto !important;
    }

    .kLabel {
      flex: 0 1 auto !important;
      width: 20%;
    }

    .kTrend {
      width: 10% !important;
    }

    .kIcon {
      font-size: 22px;
      color: $kGrayscale3;
      margin-right: 17px;
    }
  }
}

.kNoResults {
  display: flex;
  width: 100%;
  height: 280px;
  align-items: center;
  justify-content: center;

  span {
    font-size: 28px;
    color: $kGrayscale3;
  }
}

.kHighContrast :host ::ng-deep {
  .kUnits {
    color: $kGrayscale1 !important;
  }
}
