<div data-aid="report-contributors-sources" class="kReport kSources kOverrideFAIcons">
  <div class="kFilters">
    <span class="kTitle">{{'app.contributors.contributorsSources' | translate}}</span>
    <kInputHelper>
      <span>{{'app.contributors.contributorsSources_tt' | translate}}</span>
    </kInputHelper>
  </div>
  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">

    <div class="kReportContent">
      <app-report-tabs [tabs]="_tabsData" [showValue]="false" (tabChange)="_onTabChange($event)"></app-report-tabs>
      <app-horizontal-bar-chart [data]="_barChartData[_selectedMetrics]"
                                [currentPeriod]="_currentPeriod"
                                [comparePeriod]="_comparePeriod"
                                [isCompareMode]="_isCompareMode"></app-horizontal-bar-chart>
    </div>

  </k-area-blocker>
</div>

