<div data-aid="report-engagement-mini-quality" class="kReport kMini kOverrideFAIcons">
  <div class="kFilters">
    <span class="kTitle">{{'app.entryWebcast.engagement.title' | translate}}</span>
    <a class="link" [class.disabled]="_isBusy" (click)="export()">{{'app.common.exportCsv' | translate}}</a>
  </div>

  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">

    <div class="kReportContent">

      <div class="kVal">
        <div class="kMiniIcon green"><i class="icon-small-impressions"></i></div>
          <div class="kLabels">
            <span class="value">N/A</span>
            <!--span class="value">{{_tabsData[0]?.value}}</span>
            <span class="title">{{_tabsData[0]?.title}}</span-->
          </div>

      </div>

      <div class="kVal">
        <div class="kMiniIcon green"><i class="icon-small-Completion-Rate"></i></div>
        <div class="kLabels">
          <span class="value">{{_tabsData[0]?.value}}</span>
          <span class="title">{{_tabsData[0]?.title}}</span>
        </div>
      </div>

      <div class="kVal">
        <div class="kMiniIcon blue"><i class="icon-ic_questions"></i></div>
        <div class="kLabels">
          <span class="value">{{_usersCount}}</span>
          <span class="title">{{'app.entryWebcast.engagement.questions' | translate: { '1': _questions.length} }}</span>
          <a class="link" [class.disabled]="!_questions.length" (click)="questionsPopup.open()">{{'app.entryWebcast.engagement.view' | translate}}</a>
        </div>

      </div>

      <div class="kVal">
        <div class="kMiniIcon blue"><i class="icon-ic_registration"></i></div>
        <div class="kLabels">
          <span class="value">{{_tabsData[1]?.value}}</span>
          <span class="title">{{_tabsData[1]?.title}}</span>
          <a class="link" *ngIf="showDownload" [class.disabled]="_isBusy" (click)="download()">{{'app.entryWebcast.engagement.download' | translate}}</a>
        </div>
      </div>

    </div>

  </k-area-blocker>
  <kPopupWidget data-aid="webcast-questions" #questionsPopup
                class="kPopup"
                [popupWidth]="586"
                [popupHeight]="560"
                [closeBtn]="false"
                [modal]="true">
    <ng-template>
      <div class="kQuestions">
        <div class="kHeader">
          <span class="kTitle">{{'app.entryWebcast.engagement.users' | translate}}</span>
        </div>
        <div class="kMain">
          <div class="questionsHeader">
            <span class="title" [innerHTML]="'app.entryWebcast.engagement.questionsPercent' | translate: { '0': _usersCount, '1': _questions.length}"></span>
            <a class="link" [class.disabled]="!_questions.length" (click)="exportQuestions()">{{'app.common.exportCsv' | translate}}</a>
          </div>
          <div class="questionsList">
              <div class="question" *ngFor="let question of _questions">
                <span class="text" [kTooltip]="question.text" [showOnEllipsis]="true">{{question.text}}</span>
                <span class="date">{{question.updated | date: 'MM/d/yy h:mm a'}}</span>
              </div>

          </div>
        </div>
        <div class="kFooter">
          <div class="kActions">
            <button class="kButtonBranded" pButton [label]="'app.common.close' | translate" (click)="questionsPopup.close()"></button>
          </div>
        </div>
      </div>
    </ng-template>
  </kPopupWidget>
</div>



