<k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">
  <p-table dataKey="name"
           [sortField]="'count_plays'"
           [value]="_tableData"
           [customSort]="true"
           [defaultSortOrder]="-1"
           [sortOrder]="-1"
           (sortFunction)="_onSortChanged($event)">
    <ng-template pTemplate="header">
      <tr [ngStyle]="{'borderBottom': '1px solid #cccccc'}">
        <th *ngFor="let col of _columns" [pSortableColumn]="col === 'full_name' || col === 'entry_id' ? null : col" [class.nonSortable]="col === 'full_name'" [ngStyle]="{'width': col === 'entry_id' ? '100px': 'auto'}">
          {{col !== 'entry_id' ? ('app.entry.' + col | translate) : ''}}
          <p-sortIcon [field]="col" *ngIf="col !== 'full_name' && col !== 'entry_id'"></p-sortIcon>
        </th>
      </tr>
      <tr *ngIf="_tableData?.length" class="kSummaryRow" [ngStyle]="{'height': '48px'}">
        <th></th>
        <th>
          <span class="summaryLabel">{{'app.playlist.summary' | translate}}</span>
        </th>
        <th>
          <span>{{_summaryData['count_loads']}}</span>
        </th>
        <th>
          <span>{{_summaryData['count_plays']}}</span>
        </th>
        <th>
          <span>{{_summaryData['sum_vod_view_period']}}</span>
        </th>
        <th [ngStyle]="{'paddingRight':'28px', 'fontWeight': 'normal'}">
          <app-bullet [hideBulletOnTablet]="true" [value]="_summaryData['avg_completion_rate']" [animate]="false" [colorScheme]="'dropoff'"></app-bullet>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td [ngStyle]="{'padding': '16px', 'paddingLeft': '24px'}">
          <thumb-loader [thumbnailUrl]="data.thumbnailUrl"></thumb-loader>
        </td>
        <td class="kHighlight">
          <span >{{data['entry_name']}}</span>
        </td>
        <td>
          <span >{{data['count_loads']}}</span>
        </td>
        <td>
          <span >{{data['count_plays']}}</span>
        </td>
        <td>
          <span >{{data['sum_vod_view_period']}}</span>
        </td>
        <td>
          <app-bullet [hideBulletOnTablet]="true" [ngStyle]="{'padding-right': '24px'}" [value]="data['avg_completion_rate']" [animate]="false" [colorScheme]="'dropoff'"></app-bullet>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <div class="emptymessage">
        <div class="kEmptyMessage">{{'app.common.noResults' | translate}}</div>
      </div>
    </ng-template>
  </p-table>

  <p-paginator [rows]="_pager.pageSize"
               [first]="(_pager.pageIndex -1) * _pager.pageSize"
               [totalRecords]="totalCount"
               (onPageChange)="_onPaginationChanged($event)"></p-paginator>
</k-area-blocker>
