@import '../../../../../../styles/variables';

.kPreview {
  width: 50%;
  height: 100%;
  margin-right: 24px;
}


.kTotalContainer {
  width: 50%;

  .kMiniIcon {
    &.aqua {
      background-color: rgba(22, 168, 215, 0.2);
      color: #16a8d7;
    }

    &.blue {
      background-color: rgba(72, 122, 223, 0.2);
      color: #487ADF;
    }

    &.green {
      background-color: rgba(129, 204, 111, 0.2);
      color: #81cc6f;
    }
  }
}
