<div data-aid="report-entry-totals" class="kReport kTotals kOverrideFAIcons">
  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">
    <div class="kTotalsContainer">
      <div *ngIf="_viewConfig.plays" class="kTotalContainer">
        <div class="kMiniIcon aqua"><i class="icon-small-impressions"></i></div>
        <div class="kTotal">
          <span class="kLable">{{_tabsData[0]?.title}}</span>
          <span *ngIf="!_isCompareMode" class="kValue">{{_tabsData[0]?.value}}</span>
          <span *ngIf="_isCompareMode" class="kTrend"
                [kTooltip]="_tabsData[0]?.tooltip"
                [maxWidth]="500"
                [escape]="false">
            <app-trend-value valueStyleClass="kValue"
                             unitsStyleClass="kUnits"
                             [value]="_tabsData[0]?.value"
                             [units]="_tabsData[0]?.units"
                             [trend]="_tabsData[0]?.trend"></app-trend-value>
          </span>
        </div>
      </div>
      <div *ngIf="_viewConfig.uniqueViewers" class="kTotalContainer">
        <div class="kMiniIcon green"><i class="icon-small-viewer-contributor"></i></div>
        <div class="kTotal"
             [kTooltip]="_tabsData[1]?.tooltip"
             [maxWidth]="500"
             [escape]="false">
          <span class="kLable">{{_tabsData[1]?.title}}</span>
          <span *ngIf="!_isCompareMode" class="kValue">{{_tabsData[1]?.value}}</span>
          <span *ngIf="_isCompareMode" class="kTrend">
            <app-trend-value valueStyleClass="kValue"
                             unitsStyleClass="kUnits"
                             [value]="_tabsData[1]?.value"
                             [units]="_tabsData[1]?.units"
                             [trend]="_tabsData[1]?.trend"></app-trend-value>
          </span>
        </div>
      </div>
      <ng-container *ngIf="_canShowKmsTotals">
        <div *ngIf="_viewConfig.likes && likes !== null" class="kTotalContainer">
          <div class="kMiniIcon orange"><i class="icon-small-time"></i></div>
          <div class="kTotal"
               [kTooltip]="'app.entry.likes_tt' | translate"
               [maxWidth]="500"
               [escape]="false">
            <span class="kLable">{{'app.entry.likes' | translate}}</span>
            <span class="kValue">{{likes}}</span>
          </div>
        </div>
        <div *ngIf="_viewConfig.comments && comments !== null" class="kTotalContainer">
          <div class="kMiniIcon darkgreen"><i class="kIconcomplete"></i></div>
          <div class="kTotal"
               [kTooltip]="'app.entry.comments_tt' | translate"
               [maxWidth]="500"
               [escape]="false">
            <span class="kLable">{{'app.entry.comments' | translate}}</span>
            <span class="kValue">{{comments}}</span>
          </div>
        </div>
      </ng-container>
    </div>
  </k-area-blocker>
</div>

