@import '../../../../../../styles/variables';
.kImageReport.kReport.kTotals {
  background-color: $appBkgColor;
  margin-bottom: 0px !important;
  padding-bottom: 24px;
}
.kTotalsRow{
  display: flex;
  width: 100%;
  background-color: $appBkgColor;
}
.kPreview {
  width: 100%;
  height: 100%;
  margin-right: 0px;
  justify-self: center;
}
.kDivider{
  width: 24px;
  flex: 0 0 auto;
  background-color: $appBkgColor;
}
.kTitle {
  margin-top: 0;
}

k-area-blocker{
  flex-direction: row;
}

.kTotalContainer {
  width: 100%;

  .kMiniIcon {
    &.aqua {
      background-color: rgba(22, 168, 215, 0.2);
      color: #16a8d7;
    }

    &.blue {
      background-color: rgba(72, 122, 223, 0.2);
      color: #487ADF;
    }

    &.green {
      background-color: rgba(129, 204, 111, 0.2);
      color: #81cc6f;
    }
  }
}

@media (max-width: 991px) {
  .kTotalsRow {
    display: flex;
    height: auto;
    .kTotalsContainer {
      height: auto;
      .kTotalContainer{
        padding-left: 16px;
      }
    }
    .kSocialHighlights {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      padding: 12px 12px 0px 0px;
      align-items: flex-start;
      box-sizing: border-box;
      .kTitle {
        font-size: 18px;
      }
    }
  }
}
