@import '../../../../../../styles/variables';

.kNoResults {
  display: flex;
  width: 100%;
  height: 280px;
  align-items: center;
  justify-content: center;

  span {
    font-size: 28px;
    color: $kGrayscale3;
  }
}
.kReport .kReportContent .kChart{
  margin-bottom: 0;
}

.kTableModeSelector {
  margin-left: 24px;
  margin-bottom: 16px;

  .kOptionsLabelWrapper {
    display: flex;
    align-items: center;
    width: calc(100% - 15px);
    height: 100%;
    font-weight: normal;

    .kIcon {
      color: $kGrayscale3;
      margin-right: 12px;
      font-size: 16px;
      font-weight: bold;
    }
  }
}

:host ::ng-deep .kTableModeSelector {
  .p-dropdown {
    width: 198px !important;
  }
  .p-dropdown-item {
    position: relative;

    &:after {
      position: absolute;
      right: 3px;
      top: 9px;
    }
  }
}
