<div class="kReport kContent kOverrideFAIcons">
  <div class="kFilters">
    <span class="kTitle">{{'app.engagement.highlights' | translate}}</span>
  </div>

  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">

    <div class="kReportContent">
      <app-report-tabs [tabs]="_tabsData"
                       [compareMode]="_isCompareMode"
                       (tabChange)="_onTabChange($event)"></app-report-tabs>
      <div class="kDimensions">
        <app-time-units [dateFilter]="dateFilterComponent" [selectedTimeUnit]="_reportInterval"></app-time-units>
      </div>
      <div *ngIf="_lineChartData[_selectedMetrics]" class="kChart">
        <div echarts class="kChart" [options]="_lineChartData[_selectedMetrics]"></div>
      </div>
      <div *ngIf="!_lineChartData[_selectedMetrics]" class="kNoResults">
        <span>{{'app.common.noResults' | translate}}</span>
      </div>

      <div class="kTable">
        <div class="kToggle">
          <i [class.kIcondropdown_arrow_bottom]="!_showTable" [class.kIcondropdown_arrow_top]="_showTable"></i>
          <a (click)="_toggleTable()">
            {{(_showTable ? 'app.common.hideDetails' : 'app.common.viewDetails') | translate}}
          </a>
        </div>
        <div class="kTableContainer" [class.kOpen]="_showTable" [class.kClose]="!_showTable">
          <p-table sortField="month_id"
                   [value]="_tableData"
                   [customSort]="true"
                   [defaultSortOrder]="-1"
                   [sortOrder]="-1"
                   (sortFunction)="_onSortChanged($event)">
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of _columns" [pSortableColumn]="_isCompareMode ? null : col">
                  {{'app.engagement.highlightsReport.' + col | translate}}
                  <p-sortIcon [field]="col" *ngIf="!_isCompareMode"></p-sortIcon>
                </th>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr>
                <td *ngFor="let col of _columns; let i = index" [class.kHighlight]="i===0">
                  <span *ngIf="_isCompareMode && data[col]?.value && col !== 'month_id' && col !== 'date_id'" class="kTrend">
                    <span [kTooltip]="data[col].tooltip" [escape]="false">
                      <app-trend-value [value]="data[col].value"
                                       [units]="data[col].units"
                                       [trend]="data[col].trend"></app-trend-value>
                    </span>
                  </span>
                  <ng-container *ngIf="!_isCompareMode || col === 'month_id' || col === 'date_id'">
                    <span>{{data[col]}}</span>
                  </ng-container>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <div class="emptymessage">
                <div class="kEmptyMessage" *ngIf="!_firstTimeLoading">{{'app.common.noResults' | translate}}</div>
                <div class="kEmptyMessage" *ngIf="_firstTimeLoading">&nbsp;</div>
              </div>
            </ng-template>
          </p-table>

          <p-paginator [rows]="_pager.pageSize"
                       [first]="(_pager.pageIndex -1) * _pager.pageSize"
                       [totalRecords]="_totalCount"
                       (onPageChange)="_onPaginationChanged($event)"></p-paginator>
        </div>
      </div>
    </div>

  </k-area-blocker>
</div>

