@import '../../../../../../styles/variables';

:host {
  width: 100%;
  height: 100%;
}

.kNoResults {
  display: flex;
  width: 100%;
  height: 280px;
  align-items: center;
  justify-content: center;

  span {
    font-size: 28px;
    color: $kGrayscale3;
  }
}

.kChart {
  margin-top: 12px;
}

.kCustomLegend {
  width: 100%;
  height: 50px;
  position: absolute;
  top: 360px;
  padding-left: 24px;

  .kLegendItemContainer {
    display: flex;
    align-items: center;
    height: 20px;

    .kPeriod {
      font-size: 12px;
      font-weight: normal;
      color: $kGrayscale1;
    }

    .kLegendItem {
      font-size: 12px;
      font-weight: bold;
      color: $kGrayscale1;
    }

    .kCircle {
      width: 10px;
      height: 10px;
      border-radius: 5px;
      margin-left: 12px;
      margin-right: 4px;
    }
  }
}

.kTableModeSelector {
  margin-left: 24px;
  margin-bottom: 16px;

  .kOptionsLabelWrapper {
    display: flex;
    align-items: center;
    width: calc(100% - 15px);
    height: 100%;
    font-weight: normal;

    .kIcon {
      color: $kGrayscale3;
      margin-right: 12px;
      font-size: 16px;
      font-weight: bold;
    }
  }
}

:host ::ng-deep .kTableModeSelector {
  .ui-dropdown {
    width: 172px !important;
  }

  .ui-state-focus {
    margin-top: 4px;
    outline: 5px auto rgba(0, 150, 255, 1) !important;
  }

  .ui-dropdown-item {
    position: relative;

    &:after {
      position: absolute;
      right: 3px;
      top: 9px;
    }
  }
}

.kHighContrast :host {
  th, td {
    color: $kGrayscale1;

    &.ui-state-highlight span {
      text-decoration: underline;
    }

    a {
      text-decoration: underline;
    }
  }

  ::ng-deep {
    .kTabTitle {
      color: $kGrayscale1 !important;
    }

    p-selectButton .ui-state-active {
      background-color: #00866a !important;
      border: 1px solid #00866a !important;
    }
  }
}
