<div data-aid="report-group-category" class="kMain" id="reportToExport">
  <k-area-blocker [showLoader]="_loadingVirtualEvent" [message]="_blockerMessage">
    <div class="kReportView">
      <div class="kReport kContent kOverrideFAIcons">
        <div class="kReportHeader" [class.noTitle]="!_viewConfig.title">
          <button tabindex="0" aria-label="Back" role="button" pButton *ngIf="_viewConfig.title"
                  class="kButtonDefault kBackBtn small" icon="kIconarrow_backward" (click)="_back()"
                  [kTooltip]="'app.entry.back' | translate" [placement]="'bottom'"></button>
          <h1 *ngIf="_viewConfig.title" class="kTitle kTruncateTitle" [kTooltip]="_virtualEvent?.name" [showOnEllipsis]="true" [placement]="'bottom'">{{_virtualEvent?.name}}</h1>
          <div class="kHeaderRight" [class.noTitle]="!_viewConfig.title">
            <button #btn *ngIf="_viewConfig.download" tabindex="0" aria-label="Download Report" role="button" pButton class="kButtonDefault kDownloadReport" icon="icon-pdf" (click)="downloadReport(btn)" [label]="'app.common.downloadCsv' | translate"></button>
            <!--app-export-csv aria-label="Export" #export
                            role="button"
                            [class.kHidden]="!_viewConfig.export" name="Category"
                            [reports]="_exportConfig"
                            [refineFilter]="_refineFilter"
                            [dateFilter]="_dateFilter"
                            [virtualEventId]="null"></app-export-csv-->
            <div class="kFilter kOverrideFAIcons" [class.kFloatLeft]="!_viewConfig.download">
              <div role="button" aria-label="Refine Filter" tabindex="0" class="kDropDown" *ngIf="_viewConfig.refineFilter"
                   (click)="_refineFilterOpened = !_refineFilterOpened"
                   (keydown.enter)="_refineFilterOpened = !_refineFilterOpened">
                <span>{{'app.filters.filter' | translate}}</span>
                <i *ngIf="!_refineFilterOpened" class="kIcondropdown_arrow_bottom"></i>
                <i *ngIf="_refineFilterOpened" class="kIcondropdown_arrow_top"></i>
              </div>
            </div>
            <app-date-filter #dateFilter *ngIf="_creationDate" [class.noTitle]="!_viewConfig.title"
                             name="virtual-event"
                             [creationDateLabels]="_creationDateLabels"
                             [dateRange]="_dateRange"
                             [selectedTimeUnit]="_timeUnit"
                             [showCompare]="false"
                             [showMonthsAndYears]="false"
                             [creationDate]="_creationDate"
                             (filterChange)="_onDateFilterChange($event)"></app-date-filter>
          </div>
        </div>

        <div *ngIf="_viewConfig.details" class="kEntryDetails" aria-label="Virtual Event Details"
             [class.kFloatingDetails]="!_viewConfig.title">
          <span class="kLabel">{{'app.category.id' | translate}}</span>
          <span>{{_virtualEvent?.id}}</span>
          <div class="kSeparator"></div>
          <span class="kLabel">{{'app.category.created' | translate}}</span>
          <span>{{_virtualEventDateLabel}}</span>
          <div class="kSeparator"></div>
          <span class="kLabel">{{'app.category.updated' | translate}}</span>
          <span>{{_updateDate}}</span>
        </div>

        <app-ve-filter class="kRefineFiltersHost"
                        name="virtualEvent" #virtualEvent
                        [virtualEvent]="_virtualEvent"
                        [viewConfig]="_viewConfig.refineFilter"
                        [opened]="_refineFilterOpened"
                        [dateFilter]="_dateFilter"
                        [selectedFilters]="_selectedRefineFilters"
                        (closeFilters)="_refineFilterOpened = false"
                        (filterChange)="_onRefineFilterChange($event)"></app-ve-filter>


        <div *ngIf="_virtualEventLoaded" class="kReportContainer">
          <div *ngIf="_viewConfig.miniFunnel" class="kMiniReportContainer">
            <app-registration-funnel [dateFilter]="_dateFilter"
                                     [refineFilter]="_refineFilter"
                                     [virtualEventId]="null"
                                     (registrationDataLoaded)="onRegistrationDataLoaded($event)">
            </app-registration-funnel>
          </div>
          <div *ngIf="_viewConfig.miniInsights" class="kMiniReportContainer">
            <div class="col">
              <app-ve-mini-insights [unregistered]="_unregistered" [topCountries$]="geo.topCountries$">
              </app-ve-mini-insights>
              <app-devices-overview [dateFilter]="_dateFilter" *ngIf="_viewConfig.miniDevices" [class.fixHeight]="_exporting"
                                    [refineFilter]="_refineFilter"
                                    [reportConfig]="_devicesReportConfig"
                                    [virtualEventId]="null"
                                    [reportType]="_devicesReportType">
              </app-devices-overview>
            </div>
          </div>
        </div>

        <div [class.kHidden]="!_viewConfig.status" class="kReportContainer">
          <app-ve-status [dateFilter]="_dateFilter" #status
                         [refineFilter]="_refineFilter"
                         [virtualEventId]="null">
          </app-ve-status>
        </div>

        <div *ngIf="_viewConfig.highlights" class="kReportContainer">
          <app-ve-highlights [dateFilter]="_dateFilter"
                             [exporting]="_exporting"
                         [highlights$]="status.status$">
          </app-ve-highlights>
        </div>

        <div [class.kHidden]="!_viewConfig.geo" class="kReportContainer">
          <app-ve-geo #geo
                           [dateFilter]="_dateFilter"
                           [refineFilter]="_refineFilter"
                           [virtualEventId]="null">
          </app-ve-geo>
        </div>

        <div *ngIf="_viewConfig.roles || _viewConfig.industries" class="kReportContainer kPageBreak">
          <div class="kSmallReportContainer" *ngIf="_viewConfig.roles">
            <app-ve-roles
              [dateFilter]="_dateFilter"
              [refineFilter]="_refineFilter"
              [virtualEventId]="null">
            </app-ve-roles>
          </div>

          <div class="kSmallReportContainer" *ngIf="_viewConfig.industries">
            <app-ve-industries
              [dateFilter]="_dateFilter"
              [refineFilter]="_refineFilter"
              [virtualEventId]="null">
            </app-ve-industries>
          </div>
        </div>

      </div>
    </div>
  </k-area-blocker>
</div>
