@import '../../../styles/variables';

:host {
  display: block;
  width: 100%;
  height: 100%;
}
#reportToExport {
  width: 100vw;
}
@media screen and (max-width: 1060px) {
  .kBackBtn {
    margin-left: 0 !important;
  }
}
.kDownloadReport {
  font-weight: normal;
  margin-right: 16px;
  margin-left: auto;
  ::ng-deep  .ui-button-text {
    padding-left: 3.1em;
  }
}
.kFloatLeft {
  margin-left: auto;
}
.kReportContainer{
  padding-bottom: 24px;
  background-color: $appBkgColor;
  display: flex;
  flex-wrap: wrap;
  .kSmallReportContainer {
    width: calc(50% - 12px);
    &:first-child {
      margin-right: 24px;
    }
  }
  .kMiniReportContainer{
    width: calc(50% - 12px);
    flex: 1 1 auto;
    &:first-child {
      margin-right: 24px;
      height: 400px;
    }
    &.kMiniTopReportContainer{
      height: 184px;
    }
    .col {
      display: flex;
      flex-direction: column;
      ::ng-deep app-devices-overview .kNoResults {
        height: 166px;
      }
    }
  }
  .kMiniTopReportSmall{
    width: 30%;
  }
  .kMiniTopReportWide{
    width: calc(60% + 48px);
  }
  .showOnTablet {
    display: none;
  }
  .separator {
    width: 24px;
  }
  .divider {
    height: 24px;
    width: 100%;
  }
}
.kReport {
  background-color: $appBkgColor;

  .kBackBtn {
    margin-top: 4px;
    margin-left: -40px;
    margin-right: 22px;
    border: none;
    outline: none;
    background-color: transparent;
    color: $kGrayscale3;
    height: 20px;
    width: 18px;
    font-size: 24px;
    overflow: hidden;
    flex: 0 0 auto;

    &:active {
      box-shadow: none;
    }

    &:hover {
      color: $kPrimary;
    }
  }

  .kReportHeader {
    height: 80px;
    position: relative;
  }

  .kTruncateTitle {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
  }

  .kFloatingDetails{
    position: absolute;
    top: 32px;
  }

  .kEntryDetails {
    display: flex;
    font-size: 14px;
    color: $kGrayscale2;
    height: 36px;
    background-color: $appBkgColor;
    .kParentLink {
      font-size: 14px;
      height: 15px;
    }
    .kLabel{
      margin-right: 8px;
      white-space: nowrap;
    }
    .kSeparator {
      width: 1px;
      height: 12px;
      margin-top: 2px;
      background-color: $kGrayscale4;
      margin-left: 16px;
      margin-right: 16px;
    }

  }
}
.kFilter {
  display: flex;
  align-items: center;
  flex: 0 0 auto;
  .kDropDown {
    background-color: white;
    height: 34px;
    border: 1px solid $kGrayscale4;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 16px;

    &:hover {
      border-color: $kPrimary;
    }

    &:active {
      box-shadow: 0 0 0 3px rgba(0, 167, 132, 0.4);
    }

    span {
      font-size: 15px;
      white-space: nowrap;
      margin-right: 12px;
    }

    i {
      margin-left: auto;
      font-size: 12px;
      color: $kGrayscale3;
    }
  }
}
app-date-filter.noTitle {
  margin-right: 16px;
}
/* responsive design */
.kHeaderRight{
  display: flex;
  margin-left: auto;
  width: 100%;
  z-index: 1;
  &.noTitle {
    margin-left: 0px;
    flex-direction: row-reverse;
    .kDownloadReport {
      margin-right: 0px;
    }
  }
}
@media (max-width: 1280px) {
  ::ng-deep app-checkboxes-list-filter {
    min-width: 118px !important;
  }
}
@media (max-width: 991px) {
  .kHeaderRight{
    position: absolute;
    top: 110px;
    left: 0px;
  }
  .kReport .kEntryDetails{
    height: 86px;
  }

  .kReport .kReportHeader.noTitle{
    height: 32px;
  }

  .kHeaderRight.noTitle{
    top: 64px;
  }

  .kReport .kFloatingDetails{
    position: relative;
    top: 0px;
  }
  .kReportContainer {
    .kMiniTopReportSmall {
      width: 40%;
    }
    .kSmallReportContainer {
      width: 100%;
      &:first-child {
        margin-right: 0px;
      }
    }
    .kMiniTopReportWide {
      width: 80%;
      height: 248px !important;
    }
    .hideOnTablet {
      display: none;
    }
    .showOnTablet {
      display: block;
    }
    .kMiniReportContainer.kMiniTopReportContainer {
      height: 308px;
    }
  }

}
::ng-deep app-devices-overview {
  .kReport {
    padding-bottom: 12px;
    box-sizing: border-box;
  }
}
.kHighContrast :host {
  .kEntryDetails, .kBackBtn {
    color: $kGrayscale1;
  }
}
.fixHeight {
  max-height: 272px;
  overflow: hidden;
}
