@import '../../../../../styles/variables';

.kUsersReportsDivider {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $kGrayscale2;
  margin: 24px 0;

  .kTitle {
    flex: 1 0 auto;
    font-size: 20px;
    font-weight: bold;
    margin: 0 16px;
  }

  .kDivider {
    width: 100%;
    height: 1px;
    background-color: $kGrayscale4;
  }
}
