.kFlag {
  width: 24px;
  height: 24px;
}
.kFlagColumn{
  padding-left: 18px !important;
}
.kCountryFilter{
  margin-right: 24px;
}
.kMap{
  position: relative;
  .kChart{
    width: 100%;
    height: 360px;
    margin-bottom: 24px;
  }
  .kZoomWidget{
    position: absolute;
    right: 24px;
    bottom: 12px;
    button{
      width: 42px;
      height: 34px;
    }
    .kZoomInBtn{
      border-left: none;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    .kZoomOutBtn{
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
}
:host /deep/ .ui-multiselect-item{
  display: flex !important;
  align-items: center;
}
:host {
  margin-bottom: 24px;
}
.kCountryList {
  vertical-align: middle;
  display: flex;
  align-items: center;
  max-width: 275px;
  overflow: hidden;
  text-overflow: ellipsis;
  img{
    margin-right: 8px;
    margin-left: 4px;
  }
}
