@import '../../../../../styles/variables';


.kReportContainer {
  padding-bottom: 24px;
  background-color: $appBkgColor;
  display: flex;
  flex-wrap: wrap;
}

.kFlag {
  width: 24px;
  height: 24px;
}
.kFlagColumn{
  padding-left: 18px !important;
}
.kCountryFilter{
  margin-right: 24px;
}
.kMap{
  position: relative;
  .kChart{
    width: 100%;
    height: 360px;
    margin-bottom: 24px;
  }
  .kZoomWidget{
    position: absolute;
    right: 24px;
    bottom: 12px;
    button{
      width: 42px;
      height: 34px;
    }
    .kZoomInBtn{
      border-left: none;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
    .kZoomOutBtn{
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
}

.kFilter {
  display: flex;
  align-items: center;

  .kDropDown {
    background-color: white;
    width: 100px;
    height: 34px;
    border: 1px solid $kGrayscale4;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 16px;

    &:hover {
      border-color: $kPrimary;
    }

    &:active {
      box-shadow: 0 0 0 3px rgba(0, 167, 132, 0.4);
    }

    span {
      font-size: 15px;
      white-space: nowrap;
      margin-right: 12px;
    }

    i {
      margin-left: auto;
      font-size: 12px;
      color: $kGrayscale3;
    }
  }
}

:host ::ng-deep .ui-multiselect-item{
  display: flex;
  align-items: center;
}
:host ::ng-deep .ui-multiselect-panel .ui-multiselect-items-wrapper{
  overflow-x: hidden;
}
:host {
  margin-bottom: 24px;
}
