<div class="kReport kOverrideFAIcons">
  <div class="kReportHeader">
    <span class="kTitle">{{'app.audience.geo.title' | translate}}</span>
    <app-export-csv [headers]="_csvExportHeaders" [totalCount]="_totalCount" [reportInputFilter]="filter" [reportType]="reportType"
                    [dimension]="_selectedMetrics" [reportText]="'app.common.noMsg' | translate" [reportTitle]="'app.audience.geo.title' | translate"></app-export-csv>
    <app-date-filter #dateFilter [dateRange]="_dateRange" [dateRangeType]="_dateRangeType" (filterChange)="_onDateFilterChange($event)" [showCompare]="false"></app-date-filter>
  </div>

  <div class="kFilters">
    <span *ngIf="!_drillDown.length" class="kTitle">{{'app.audience.geo.top' | translate}}</span>
    <div class="kBreadcrumbs" *ngIf="_drillDown.length">
      <a (click)="_onDrillDown('')">{{'app.audience.geo.top' | translate}}</a>
      <span class="separator">/</span>
      <span *ngIf="_drillDown.length === 1">{{_drillDown[0]}}</span>
      <a *ngIf="_drillDown.length === 2" (click)="_onDrillDown(_drillDown[0])">{{_drillDown[0]}}</a>
      <span *ngIf="_drillDown.length === 2" class="separator">/</span>
      <span *ngIf="_drillDown.length === 2">{{_drillDown[1]}}</span>
    </div>
    <p-multiSelect class="kCountryFilter" [class.kHidden]="_drillDown.length>0"
                   [options]="_countryCodes"
                   [maxSelectedLabels]="0"
                   [selectedItemsLabel]="'app.audience.geo.countriesSelected' | translate"
                   [filterPlaceHolder]="'app.audience.geo.findCountry' | translate"
                   [showToggleAll]="false"
                   [resetFilterOnHide]="true"
                   [(ngModel)]="_selectedCountries"
                   [displaySelectedLabel]="false"
                   (onChange)="_onCountrySelectChange($event)"
                   [defaultLabel]="'app.audience.geo.selectCountry' | translate">
      <ng-template let-country pTemplate="item">
            <div class="kCountryList">
              <img class="kFlag" src="{{'assets/flags/' + country.value.toUpperCase() + '.png'}}"/>
              {{country.label}}
            </div>
      </ng-template>
    </p-multiSelect>
  </div>

  <kTags *ngIf="_tags.length"
         [title]="''"
         [data]="_tags"
         [labelField]="'country'"
         [tooltipField]="'country'"
         [clearAllLabel]="'app.common.clearAll' | translate"
         [class.kHidden]="_drillDown.length>0"
         (onTagRemove)="_onRemoveTag($event)"
         (onRemoveAll)="_onRemoveAllTags()">
  </kTags>

  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">

    <div class="kReportContent">
      <app-report-tabs [tabs]="_tabsData" (tabChange)="_onTabChange($event)"></app-report-tabs>
      <div class="kDimensions">

      </div>
      <div class="kMap">
        <div echarts class="kChart" [options]="_mapChartData[_selectedMetrics]" (chartMapSelectChanged)="onChartClick($event)" (chartInit)="onChartInit($event)"></div>
        <div class="kZoomWidget">
          <button pButton class="kButtonDefault kZoomOutBtn" icon="icon-minus" (click)="zoom('out')" [disabled]="_mapZoom<2"></button>
          <button pButton class="kButtonDefault kZoomInBtn" icon="kIconplus" (click)="zoom('in')" [disabled]="_mapZoom>4"></button>
        </div>
      </div>
      <div class="kTable">
        <div class="kTableContainer">
          <p-table [value]="_tableData" (sortFunction)="_onSortChanged($event)" [customSort]="true" sortField="count_plays" [defaultSortOrder]="-1" [sortOrder]="-1" [paginator]="true" [rows]="10">
            <ng-template pTemplate="header">
              <tr>
                <th [ngStyle]="{'width': '42px'}">{{'app.audience.geo.index' | translate}}</th>
                <th *ngIf="!_drillDown.length" [ngStyle]="{'width': '42px'}"></th>
                <th [ngStyle]="{'width': '20%'}">
                  <div class="kColumnHeader">
                    <span [kTooltip]="'app.audience.geo.object_id' | translate" [showOnEllipsis]="true">
                      {{'app.audience.geo.object_id' | translate}}
                    </span>
                  </div>
                </th>
                <th *ngIf="_selectedMetrics==='count_plays'" [ngStyle]="{'width': '20%'}">
                  <div class="kColumnHeader">
                    <span [kTooltip]="'app.audience.geo.count_plays' | translate" [showOnEllipsis]="true">
                      {{'app.audience.geo.count_plays' | translate}}
                    </span>
                  </div>
                </th>
                <th *ngIf="_selectedMetrics==='count_plays'">
                  <div class="kColumnHeader">
                    <span [kTooltip]="'app.audience.geo.distribution' | translate" [showOnEllipsis]="true">
                      {{'app.audience.geo.distribution' | translate}}
                    </span>
                  </div>
                </th>
                <th *ngIf="_selectedMetrics==='unique_known_users'" [ngStyle]="{'width': '20%'}">
                  <div class="kColumnHeader">
                    <span [kTooltip]="'app.audience.geo.unique_known_users' | translate" [showOnEllipsis]="true">
                      {{'app.audience.geo.unique_known_users' | translate}}
                    </span>
                  </div>
                </th>
                <th *ngIf="_selectedMetrics==='unique_known_users'">
                  <div class="kColumnHeader">
                    <span [kTooltip]="'app.audience.geo.distribution2' | translate" [showOnEllipsis]="true">
                      {{'app.audience.geo.distribution2' | translate}}
                    </span>
                  </div>
                </th>
                <th *ngIf="_selectedMetrics==='avg_view_drop_off'" [ngStyle]="{'width': '20%'}">
                  <div class="kColumnHeader">
                    <span [kTooltip]="'app.audience.geo.avg_view_drop_off' | translate" [showOnEllipsis]="true">
                      {{'app.audience.geo.avg_view_drop_off' | translate}}
                    </span>
                  </div>
                </th>
                <th >{{'app.audience.geo.trend' | translate}}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
              <tr>
                <td>
                  <span>{{rowIndex+1}}</span>
                </td>
                <td class="kFlagColumn" *ngIf="!_drillDown.length">
                  <img class="kFlag" src="{{'assets/flags/'+data['country']+'.png'}}"/>
                </td>
                <td class="kHighlight">
                  <a (click)="_onDrillDown(data['object_id'])" *ngIf="!data['object_id']?.value && _drillDown.length < 2">{{data['object_id']}}</a>
                  <span *ngIf="!data['object_id']?.value && _drillDown.length === 2">{{data['object_id']}}</span>
                </td>
                <td *ngIf="_selectedMetrics==='count_plays'">
                  <span *ngIf="!data['count_plays']?.value">{{data['count_plays']}}</span>
                </td>
                <td *ngIf="_selectedMetrics==='count_plays' && !data['count_plays']?.valuee">
                  <div>
                    <app-bullet [value]="getPercent(data['count_plays'])"></app-bullet>
                  </div>
                </td>
                <td *ngIf="_selectedMetrics==='unique_known_users'">
                  <span *ngIf="!data['unique_known_users']?.value">{{data['unique_known_users']}}</span>
                </td>
                <td *ngIf="_selectedMetrics==='unique_known_users' && !data['unique_known_users']?.value">
                  <div>
                    <app-bullet [value]="getPercent(data['unique_known_users'])"></app-bullet>
                  </div>
                </td>
                <td *ngIf="_selectedMetrics==='avg_view_drop_off'">
                  <span *ngIf="!data['count_plays']?.value">{{data['avg_view_drop_off']}}</span>
                </td>
                <td>
                  <span>
                    <h5 class="mini-loader" *ngIf="!data[_selectedMetrics+'_trend']?.trend"><span></span><span></span></h5>
                    <span *ngIf="data[_selectedMetrics+'_trend']?.trend" class="kTrend" [kTooltip]="data[_selectedMetrics+'_trend']?.tooltip" [maxWidth]="500" [escape]="false">
                      <app-trend-value [value]="data[_selectedMetrics+'_trend']?.trend"
                                       [units]="data[_selectedMetrics+'_trend']?.units"
                                       [trend]="data[_selectedMetrics+'_trend']?.trendDirection"></app-trend-value>
                    </span>
                  </span>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <div class="emptymessage">
                <div class="kEmptyMessage" *ngIf="!_isBusy">{{'app.common.noResults' | translate}}</div>
                <div class="kEmptyMessage" *ngIf="_isBusy">&nbsp;</div>
              </div>
            </ng-template>
          </p-table>
        </div>
      </div>

    </div>

  </k-area-blocker>

</div>

