$kmc-flags-path: './styles/flags/';
@import "./styles/flags/flags.scss";

.kCountryFilter{
  margin-right: 24px;
}

.kCountryList {
  vertical-align: middle;
  display: inline-block;
  max-width: 275px;
  overflow: hidden;
  text-overflow: ellipsis;

  .kCountryListFlag {
    margin: 0 .125em 0 .5em;
  }
}
