<div style="display: flex; align-items: center; height: 42px">
  <span style="margin-right: 8px; margin-left: 8px; flex: 0 0 auto">Partner Engagement Report:</span>
  <input #engagement type="text" style="margin-right: 8px; width: 100%" value="https://il-kmc-ng.dev.kaltura.com/hack20/apps/analytics-v1.12.1/views/engagement.html"/>
  <button style="margin-right: 8px; flex: 0 0 auto" (click)="copyLink(engagement.value)">Copy</button>
</div>
<span>Partner session created. This session remains active for 24 hours.</span>
