<div data-aid="report-group-user" class="kMain">
  <div class="kReportView">
    <k-area-blocker [showLoader]="_loadingEntries" [message]="_blockerMessage">
    <div class="kReport kContent kOverrideFAIcons">
        <div *ngFor="let entry of broadcastingEntries" class="entry">
          <div class="preview">
            <div class="header">
              <span class="status">{{entry.status | broadcastStatus}}</span>
              <span>{{entry.broadcastTime | appStreamDuration}}</span>
            </div>
          </div>
          <div class="details">
            <div class="header">
              <span>Name: {{entry.name}}</span>
              <a>{{'app.entriesLive.full' | translate}}</a>
            </div>
            <div class="entryData">
              <span>{{'app.entriesLive.owner' | translate}} {{entry.owner}}</span>
              <div class="separator"></div>
              <span>{{'app.entriesLive.dvr' | translate}} {{entry.dvr | liveDvrStatus}}</span>
              <div class="separator"></div>
              <span>{{'app.entriesLive.recording' | translate}} {{entry.recording | liveRecordingStatus}}</span>
              <div class="separator"></div>
              <span>{{'app.entriesLive.transcoding' | translate}} N/A</span>
            </div>
            <div class="reportData">
              <div class="col">
                <div class="row">
                  <span class="value">{{entry.activeUsers}}</span>
                  <span class="label">{{'app.entriesLive.view_unique_audience' | translate}}</span>
                </div>
                <div class="row">
                  <span class="value">{{entry.engagedUsers}}</span>
                  <span class="label">{{'app.entriesLive.avg_view_engagement' | translate}}</span>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <span class="value">{{entry.buffering}}</span>
                  <span class="label">{{'app.entriesLive.avg_view_buffering' | translate}}</span>
                </div>
                <div class="row">
                  <span class="value">{{entry.downstream}}</span>
                  <span class="label">{{'app.entriesLive.avg_view_downstream_bandwidth' | translate}}</span>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <span class="value">N/A</span>
                  <span class="label">{{'app.entriesLive.stream_health' | translate}}</span>
                </div>
                <div class="row">
                  <span class="value">N/A</span>
                  <span class="label">{{'app.entriesLive.redundancy' | translate}}</span>
                </div>
              </div>
            </div>


          </div>
        </div>
    </div>
    </k-area-blocker>
  </div>
</div>

