@import '../../../../../../styles/variables';

.kMain .kReportView .kReport {
  background: transparent;
  display: flex;
  flex-direction: column;
  min-height: 600px;
  .entry {
    width: 100%;
    height: 186px;
    display: flex;
    margin-bottom: 24px;
    .preview {
      width: 290px;
      height: 186px;
      flex: 0 0 auto;
      background-color: grey;
      display: flex;
      flex-direction: column;
      .header {
        display: flex;
        align-items: center;
        height: 34px;
        background-color: #487adf;
        font-size: 12px;
        color: white;
        font-weight: 700;
        &.previewColor {
          background-color: #f9a71b;
        }
        &.offlineColor {
          background-color: #666666;
        }
        i {
          margin-left: 12px;
          font-size: 20px;
        }
        span {
          margin-left: 8px;
          &.status {
            text-transform: uppercase;
          }
        }
      }
    }
    .details {
      width: 100%;
      flex: 1 1 auto;
      background-color: white;
      display: flex;
      flex-direction: column;
      padding: 24px;
      .header {
        display: flex;
        span {
          font-size: 20px;
          font-weight: 700;
          color: $kGrayscale1;
        }
        a {
          margin-left: auto;
          white-space: nowrap;
        }
      }
    }
    .entryData {
      display: flex;
      align-items: center;
      font-size: 14px;
      color: $kGrayscale2;
      margin-top: 12px;
      .separator {
        height: 12px;
        width: 12px;
        margin-left: 12px;
        border-left: 1px solid $kGrayscale2;
      }
    }
    .reportData{
      margin-top: 16px;
      display: flex;
      color: $kGrayscale1;
      .col {
        display: flex;
        flex-direction: column;
        .row {
          display: flex;
          align-items: flex-end;
          margin-top: 16px;
          .value {
            font-size: 18px;
            font-weight: 700;
            margin-right: 8px;
          }
          .label {
            font-size: 15px;
            font-weight: 300;
            margin-right: 40px;
          }
          i {
            color: $kGrayscale3;
            font-size: 12px;
            font-weight: 700;
            margin-right: 8px;
          }
          .healthIcon {
            width: 10px;
            height: 10px;
            border-radius: 5px;
            margin-right: 8px;
            align-self: center;
            display: none;
            &.good {
              display: block;
              background-color: #009444;
            }
            &.fair {
              display: block;
              background-color: #f9a71b;
            }
            &.poor {
              display: block;
              background-color: #db1f26;
            }
          }
        }
      }
    }
  }
}

::ng-deep .kAreaBlockerContainer {
  background: transparent !important;
}
::ng-deep .loading-backdrop {
  background: transparent;
}
