.kOptionsLabelWrapper {
  display: flex;
  flex-direction: column;

  .kOptionTitle {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 5px;

    &.kSelected {
      font-weight: bold;
    }
  }

  .kOptionDescription {
    font-size: 12px;
    font-weight: normal !important;
  }
}

:host ::ng-deep {
  .p-dropdown-item {
    position: relative;
  }

  .p-dropdown-item.p-state-highlight:after {
    position: absolute;
    right: 8px;
    top: 8px;
    font-size: 10px;
    font-weight: normal;
  }

  .p-dropdown .p-dropdown-panel {
    width: 283px;
  }
}
