<div class="kReport kOverrideFAIcons">
  <ng-content></ng-content>

  <div class="kFilters">
    <span class="kTitle">{{'app.audience.technology.devicesOverview' | translate}}</span>
  </div>

  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">

    <div class="kReportContent">
      <app-report-tabs [tabs]="_tabsData" [showValue]="false" (tabChange)="_onTabChange($event)"></app-report-tabs>
      <div class="kOverview">
        <div class="kSummary">
          <div class="kSummaryRow" *ngFor="let summary of _summaryData[_selectedMetrics]">
            <div class="kSummaryCheckbox">
              <p-checkbox name="devices"
                          [inputId]="summary.key"
                          [value]="summary.key"
                          (onChange)="_onSelectionChange()"
                          [(ngModel)]="_selectedValues"></p-checkbox>
              <label [for]="summary.key">
                <i class="kIcon" [ngClass]="summary.key | appDeviceIcon"></i>
                <span class="kLabel">{{summary.name}}</span>
              </label>
            </div>
            <div class="kSummaryValue">
              <h5 class="mini-loader" *ngIf="summary.trend === undefined"><span></span><span></span></h5>
              <span *ngIf="summary.trend !== undefined" class="kTrend" [kTooltip]="summary.tooltip" [escape]="false">
                <i [class]="summary.trendDirection | appTrend"></i>
                <span>{{summary.trend}}&nbsp;{{summary.units}}</span>
              </span>
              <div>
                <span class="kValue">{{summary.value}}</span>
                <span class="kUnits">{{summary.units}}</span>
              </div>
            </div>

          </div>
        </div>
        <div class="kSummaryChart">
          <div class="kChart">
            <div echarts class="kChart"
                 [options]="_barChartData[_selectedMetrics]"
                 [merge]="_mergeChartData"></div>
          </div>
        </div>
      </div>
    </div>

  </k-area-blocker>
</div>
