@import '../../../../../../styles/variables';

.kOverview {
  display: flex;

  .kSummary {
    width: 100%;
    padding: 20px 23px;

    .kSummaryRow {
      display: flex;
      height: 60px;

      app-horizontal-bar-row {
        display: flex;
        align-items: center;

        ::ng-deep {
          .kLabel {
            flex: 0 1 auto;
            width: 20%;
          }
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      .kSummaryCheckbox {
        display: flex;
        align-items: center;

        .kLabel {
          font-size: 15px;
          line-height: 22px;
          color: $kGrayscale1;
          font-weight: bold;
        }

        .kIcon {
          font-size: 22px;
          color: $kGrayscale3;
          margin: 0 17px 0 11px;
        }

        label {
          display: flex;
          align-items: center;
        }

        p-checkbox {
          width: 22px;
          height: 22px;
        }
      }

      .kTrend {
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
      }

      .mini-loader {
        margin-right: 12px;
      }
    }
  }
}

.kNoResults {
  display: flex;
  width: 100%;
  height: 280px;
  align-items: center;
  justify-content: center;

  span {
    font-size: 28px;
    color: $kGrayscale3;
  }
}
