@import '../../../../../styles/variables';
:host {
  display: block;
  height: 424px; // 234px;
  width: 100%;
}
.kReport {
  //margin-bottom: 0px !important;
  //border-bottom: none !important;
  //border-bottom-right-radius: 0px !important;
  //border-bottom-left-radius: 0px !important;
  height: 100%;
}
.kEmptyMessage {
  font-size: 20px;
  color: $kGrayscale3;
  font-weight: 700;
  width: 100%;
  text-align: center;
}
.reportContent {
  padding: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  .header {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    .title {
      font-weight: 700;
      font-size: 20px;
      color: $kGrayscale1;
    }
    .icons {
      margin-right: 12px;
    }
    .kMiniIcon {
      flex: 0 0 auto;
      width: 30px;
      height: 30px;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;

      &.blue {
        background-color: rgba(72, 122, 223, 0.2);
        color: #487ADF;
      }
    }
  }
  .row {
    display: flex;
    margin-bottom: 16px;
    .label {
      font-size: 16px;
      color: $kGrayscale1;
    }
    .value {
      font-weight: 700;
      margin-left: 8px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
  }
}

