<p-table appScrollTopOnPaging
         sortField="view_unique_buffering_users"
         [value]="tableData"
         [customSort]="true"
         [defaultSortOrder]="-1"
         [sortOrder]="-1"
         [paginator]="true"
         [rows]="5"
         (sortFunction)="_onSortChanged($event)">
  <ng-template pTemplate="header">
    <tr>
      <th [ngStyle]="{'width': '60px'}"></th>
      <th *ngFor="let col of columns; let i = index"
          [pSortableColumn]="col"
          [ngStyle]="{'padding-left': (i === 0 ? '0' : '24px')}">
        {{'app.entryLive.discovery.tables.devices.' + col | translate}}
        <p-sortIcon [field]="col"></p-sortIcon>
      </th>
    </tr>
    <tr class="kSummaryRow">
      <th [ngStyle]="{'width': '60px'}"></th>
      <th *ngFor="let col of columns; let i = index"
          [ngStyle]="{'padding-left': (i === 0 ? '0' : '24px'), 'width': '100%'}">
        <span *ngIf="col === 'device'">{{'app.entryLive.discovery.summary' | translate}}</span>
        <span *ngIf="col !== 'device'">{{summary[col]}}</span>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data>
    <tr>
      <td><i class="kIcon" [ngClass]="data['device'] | appDeviceIcon"></i></td>
      <td *ngFor="let col of columns; let i = index"
          [class.kHighlight]="i === 0"
          [ngStyle]="{'padding-left': (i === 0 ? '0' : '24px'), 'width': '100%'}">
        <span *ngIf="col === 'device'">{{('app.audience.technology.devices.' + data[col]) | translate}}</span>
        <span *ngIf="col !== 'device'">{{data[col]}}</span>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <div class="emptymessage">
      <div class="kEmptyMessage" *ngIf="!firstTimeLoading">{{'app.common.noResults' | translate}}</div>
      <div class="kEmptyMessage" *ngIf="firstTimeLoading">&nbsp;</div>
    </div>
  </ng-template>
</p-table>
