@import '../../../../../../styles/variables';

.kIcon {
  font-size: 22px;
  color: $kGrayscale3;
}

:host ::ng-deep {
  .p-datatable-wrapper {
    min-height: 224px;
  }
}

.kSummaryRow {
  height: 48px;
  border-top: 1px solid $kGrayscale6;

  th {
    color: $kGrayscale1;
    font-size: 15px;
    font-weight: bold;
  }
}

.kNoData ::ng-deep thead {
  border-top: none !important;
}

.kEmptyMessage {
  border: none !important;
}
