<div class="kColumn kMultiselectFilter">
  <div class="kColumnLabel">
    {{label}}&nbsp;
    <h5 class="mini-loader" *ngIf="isLoading"><span></span><span></span></h5>
  </div>
  <div class="kColumnContent">
    <p-multiSelect appendTo="body"
                   [style]="{'width':'192px'}"
                   [options]="options"
                   [maxSelectedLabels]="1"
                   [disabled]="disabled || !options?.length"
                   [selectedItemsLabel]="selectedItemsLabel"
                   [filterPlaceHolder]="filterPlaceHolder"
                   [showToggleAll]="false"
                   [resetFilterOnHide]="true"
                   [(ngModel)]="_selectedValue"
                   (onChange)="_onSelectionChange()"
                   [defaultLabel]="defaultLabel">

      <ng-template let-item pTemplate="item">
        <i class="kFlag" *ngIf="countryTemplate && item.value"
           [ngClass]="'kFlag-' + item?.value?.id.toUpperCase()"
           style="margin-right: 8px;margin-left: 4px;display:inline-block; vertical-align:middle"></i>
        <span *ngIf="countryTemplate" style="margin-top:2px; position: absolute">{{item.label}}</span>
        <span *ngIf="!countryTemplate" style="margin-top:2px; position: absolute">{{item.label}}</span>
      </ng-template>

    </p-multiSelect>
  </div>
</div>

