<div class="kColumn kMultiselectFilter">
  <div class="kColumnLabel">
    {{label}}&nbsp;
    <h5 class="mini-loader" *ngIf="isLoading"><span></span><span></span></h5>
  </div>
  <div class="kColumnContent">
    <p-dropdown appendTo="body"
                filter="true"
                dataKey="'id'"
                [style]="{'width':'192px'}"
                [placeholder]="defaultLabel"
                [options]="options"
                [disabled]="disabled || !options?.length"
                [filterPlaceholder]="filterPlaceHolder"
                [(ngModel)]="_selectedValue"
                (onChange)="_onSelectionChange()">
    </p-dropdown>
  </div>
</div>

