<div class="kColumn kMultiselectFilter">
  <div class="kColumnLabel">
    {{label}}&nbsp;
    <h5 class="mini-loader" *ngIf="isLoading"><span></span><span></span></h5>
    <ng-content *ngIf="!isLoading" select=".label-addition"></ng-content>
  </div>
  <div class="kColumnContent">
    <p-multiSelect appendTo="body"
                   role="button"
                   [style]="{'width':'192px'}"
                   [options]="options"
                   [maxSelectedLabels]="1"
                   [disabled]="disabled || !options?.length"
                   [selectedItemsLabel]="selectedItemsLabel"
                   [filterPlaceHolder]="filterPlaceHolder"
                   [showToggleAll]="false"
                   [resetFilterOnHide]="true"
                   [(ngModel)]="_selectedValue"
                   (onChange)="_onSelectionChange()"
                   [defaultLabel]="defaultLabel">

      <ng-template let-item pTemplate="item">
        <ng-container [ngSwitch]="templateType">

          <ng-container *ngSwitchCase="'country'">
            <i class="kFlag" *ngIf="item.value"
               [ngClass]="'kFlag-' + item?.value?.id.toUpperCase()"
               style="margin-right: 8px; margin-left: 4px; display:inline-block; vertical-align:middle"></i>
            <span style="margin-top:2px; position: absolute; overflow: hidden; width: 140px; text-overflow: ellipsis"
                  [kTooltip]="item.label" [showOnEllipsis]="true">
              {{item.label}}
            </span>
          </ng-container>

          <ng-container *ngSwitchCase="'domain'">
            <div #holder
                 style="margin-right: 8px; margin-left: 4px; display:inline-block; vertical-align:middle; height: 16px; width: 16px">
              <img [src]="'//' + item?.value?.id + '/favicon.ico'" style="height: 16px; width: 16px"
                   onError="this.onerror=null;this.style.display='none'"
                   (error)="holder.classList.add('kIconfile-small')">
            </div>
            <span style="margin-top:2px; position: absolute; overflow: hidden; text-overflow: ellipsis"
                  [kTooltip]="item.label" [showOnEllipsis]="true">
              {{item.label}}
            </span>
          </ng-container>

          <ng-container *ngSwitchDefault>
            <span style="margin-top:2px; position: absolute; overflow: hidden; text-overflow: ellipsis"
                  [kTooltip]="item.label" [showOnEllipsis]="true">
              {{item.label}}
            </span>
          </ng-container>

        </ng-container>
      </ng-template>

    </p-multiSelect>
  </div>
</div>

