<div data-aid="report-group-entry" class="kMain">
  <k-area-blocker [showLoader]="_downloadingReport" [message]="_blockerMessage">
    <div class="kReportView kContent">
      <div class="kReportHeader">
        <span class="kTitle">{{'app.exportReports.reportReady' | translate}}</span>
        <button type="button" class="kButtonBranded" pButton [label]="'app.entryWebcast.engagement.download' | translate" [disabled]="_downloadingReport" (click)="_downloadReport()"></button>
      </div>
    </div>
  </k-area-blocker>
</div>
