@import '../../../styles/variables';

.kReportHeader {
  display: flex;
  align-items: center;
  height: 80px;
  position: relative;
  .kTitle {
    color: $kGrayscale1;
    font-weight: bold;
    font-size: 24px;
    margin-right: 12px;
  }
}

