@import '../../../../../styles/variables';

:host {
  display: block;
  width: 100%;
  height: 100%;

  ::ng-deep {
    .kChartContainer {
      padding: 10px 24px !important;

      .kTable {
        min-height: auto !important;
      }
    }

    .kLabel {
      flex: 0 1 auto !important;
      width: 25%;
    }

    .kTrend {
      width: 10%;
    }

    .kCustomLegend {
      margin: 8px 0 12px !important;
    }
  }
}

.kSources {
  height: 100%;
}

.kNoResults {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;

  span {
    font-size: 28px;
    color: $kGrayscale3;
  }
}

.kTitle {
  width: auto !important;
  padding-right: 0px !important;
}

.kFilters {
  height: 64px !important;
}
