<div class="kColumn" [class.kDisabled]="disabled">
  <div class="kColumnLabel">{{label}}</div>
  <div class="kColumnContent">
    <div class="kCheckboxGroup" *ngFor="let option of options; let i = index">
      <p-radioButton name="playbackType" [class.selected]="_selectedValue[0] === option.value[0] || (!_selectedValue.length && i===0)"
                  [inputId]="option.label"
                  [value]="option.value"
                  (onClick)="_onSelectionChange()"
                  [(ngModel)]="_selectedValue"></p-radioButton>
      <label [for]="option.label">
        <span class="kLabel">{{option.label | translate}}</span>
      </label>
    </div>
  </div>
</div>

