@import '../../../../styles/variables';

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.kTotalCount {
  font-size: 15px;
  font-weight: normal;
  margin-left: 24px;
  margin-bottom: 24px;
}

.kIconfile-small {
  font-size: 24px;
}

.kOpenLink {
  color: $kGrayscale3;
  font-size: 24px;
  cursor: pointer;
}

.kDomainIcon {
  overflow: hidden;
  position: relative;
  width: 24px;
  height: 24px;
  background-color: transparent;
  white-space: nowrap;
  text-align: center;
  border-radius: 3px;
  margin-right: 10px;
  font-size: 24px;
  line-height: 22px;

  &.error{
    border: 1px solid $kGrayscale4;
  }
  img {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    width: 24px;
    height: auto;
    border-radius: 3px;
  }
}

td span {
  white-space: nowrap;
}

.kTitle{
  width: auto !important;
  padding-right: 0px !important;
}
