@import '../../../../../../../../styles/variables';
:host ::ng-deep .kValue{
  font-size: 24px;
  font-weight: 700;
}
:host ::ng-deep .kUnits{
  font-size: 13px;
  font-weight: 700;
}
.kReportContent{
  flex-wrap: wrap;
  display: flex;
  height: 187px;
  display: flex;
  flex-direction: column;
  .kHighlights {
    display: flex;
    .kVal{
      display: flex;
      margin-left: 24px;
      height: 137px;
      width: 25%;
      flex-direction: column;
      &:not(:last-child) {
        border-right: 1px solid $kGrayscale6;
      }
      .kMiniIcon{
        margin-top: 24px;
        flex: 0 0 auto;
        width: 30px;
        height: 30px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        margin-right: 20px;
        &.blue{
          background-color: rgba(72,122,223,0.2);
          color: #487ADF;
        }
        &.green{
          background-color: rgba(49,190,166,0.2);
          color: #31BEA6;
        }
        &.lightgreen{
          background-color: rgba(130, 204, 111,0.2);
          color: #81cc6f;
        }
        &.aqua {
          background-color: rgba(22, 168, 215, 0.2);
          color: #16a8d7;
        }
        &.orange{
          background-color: rgba(225,150,46,0.2);
          color: #E1962E;
        }
        &.purple{
          background-color: rgba(155,100,230,0.2);
          color: #9b64e6;
        }
      }
      .kTrend {
        margin-top: 12px;
        display: block;
      }
      .value{
        margin-top: 12px;
        font-size: 24px;
        line-height: 24px;
        font-weight: 700;
        color: $kGrayscale1;
      }
      .title{
        margin-top: 12px;
        display: block;
        font-size: 15px;
        line-height: 15px;
        color: $kGrayscale1;
      }
    }
  }
  .kShowDetails {
    justify-content: center;
    height: 50px;
    display: flex;
    align-items: center;
  }
}
.kPlayedEntries {
  display: inline-block;
  margin-top: 6px;
  font-size: 15px;
  color: $kGrayscale3;
}
