@import './variables';
$mc-theme-font-path : '~@kaltura-ng/mc-theme/themes/default/fonts';
@import '~@kaltura-ng/mc-theme/themes/default/scss/index.scss';
@import './icons/icons.scss';
@import './mini-loader';
@import './flags';

$appBkgColor: #f2f2f2;
body{
  background-color: $appBkgColor;
  overflow-y: hidden;
}

// Spinner positioning for area-blocker
.loading-backdrop {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(255,255,255,0.3);
  .spinner-container {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate3d(-50px, -50px, 0);
  }
}

.kMain {
  width: 100%;
  .kReportView{
    width: 100%;
    min-height: 600px;
    .kReport {
      width: 100%;
      margin-bottom: 24px;
      background-color: white;
      border: 0px solid white;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      .kReportHeader{
        height: 80px;
        display: flex;
        align-items: center;
        background-color: $appBkgColor;
        .kTitle {
          font-size: 24px;
          color: $kGrayscale1;
          font-weight: bold;
        }
        app-export-csv{
          margin-left: auto;
          white-space: nowrap;
        }
      }
      .kBreadcrumbs{
        height: 24px;
        width: 100%;
        display: flex;
        padding-left: 24px;
        align-items: center;
        a{
          font-size:20px;
          font-weight: 700;
          color: $kGrayscale3;
          text-decoration: none;
          &:hover{
            color: $kGrayscale1;
          }
        }
        span{
          font-size:20px;
          font-weight: 700;
          color: $kGrayscale1;
          &.separator{
            color: $kGrayscale3;
            margin-left: 8px;
            margin-right: 8px;
          }
        }
      }
      .kFilters{
        height: 70px;
        display: flex;
        width: 100%;
        align-items: center;
        .kTitle {
          width: 100%;
          padding: 0 24px;
          font-size: 20px;
          color: $kGrayscale1;
          font-weight: bold;
        }
      }
      .kReportContent{
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
        min-width: 0;
        .kDimensions{
          width: 100%;
          margin-top: 16px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          app-time-units{
            margin-right: 24px;
          }
        }
      }
      ktags{
        margin-left: 16px;
        width: auto;
        /deep/ .kTags {
          border-top: none !important;
        }
      }
      .kChart{
        width: 100%;
        height: 280px;
        margin-bottom: 24px;
      }
      .kTable{
        display: flex;
        flex-direction: column;
        .kToggle{
          display: flex;
          align-items: center;
          margin-bottom: 24px;
          i{
            width: 20px;
            color: $kTertiary;
            font-size: 12px;
            margin-left: 24px;
            margin-right: 8px;
          }
          span {
            cursor: pointer;
          }
        }
        .kTableContainer{
          overflow-y: hidden;
          &.kOpen{
            height: auto;
          }
          &.kClose{
            height: 0px;
          }
        }
      }

      .kHighlight{
        font-weight: bold;
        color: $kGrayscale1;
      }
    }
  }
}
.kHidden {
  visibility: hidden;
  width: 0px !important;
  height: 0px !important;
  margin: 0px !important;
}
.ng-tooltip {
  background-color: white;
  color: $kGrayscale1;
  border: 1px solid $kGrayscale4;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.30);
  display: flex;
  flex-direction: column;
  transition: none !important;
  .kTotalsCompareTooltip {
    line-height: 24px;
    display: flex;
    strong {
      color: $kGrayscale1;
    }

    .kTimePeriod {
      min-width: 120px;
      text-align: left;
    }
    .kTotalsCompareTooltipValue {
      display: flex;
      margin-left: 24px;
    }
  }
  &:after{
    content: none;
  }
}

.ngx-charts .grid-panel.odd {
  display: none;
}

.kTrend {
  cursor: default;

  .icon-progress,
  .icon-regression {
    font-weight: bold;
  }

  .icon-progress, .icon-progress + span, .icon-progress + span + span {
    color: $kPrimary !important;
  }

  .icon-regression, .icon-regression + span, .icon-regression + span + span {
    color: $kDandger !important;
  }
}
/* main content width according to screen resolution */
@media screen and (max-width: 991px) {
  .kContent {
    width: 970px !important;
    margin: auto !important;
    display: flex;
  }
}
@media screen and (min-width: 992px) {
  .kContent {
    width: 970px !important;
    margin: auto !important;
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .kContent {
    width: 1200px!important;
    margin: auto !important;
    display: flex;
  }
}
@media screen and (min-width: 1610px) {
  .kContent {
    width: 1500px !important;
    margin: auto !important;
    display: flex;
  }
}

.kEntryGraphTooltip {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px;

  .kCurrentTime {
    color: $kGrayscale3;
    font-weight: normal;
  }

  .kValue {
    display: flex;
    align-items: center;
    font-weight: bold;

    .kBullet {
      font-size: 48px;
      margin-right: 5px;
    }
  }

}
.kEntryCompareGraphTooltip {
  display: flex;
  align-items: center;
  padding: 5px;
  font-weight: bold;
  .kBullet {
    font-size: 48px;
    margin-right: 5px;
  }
}


.kGraphTooltip {
  padding: 5px;

  .kBullet {
    font-weight: bold;
    font-size: 24px;
    vertical-align: text-bottom;
  }

  .kValue {
    font-weight: bold;
    color: $kGrayscale1;
  }

  .kSeriesName {
    margin-right: 15px;
  }
}

kpopupwidget{
  .kPopupWidget{
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .24) !important;
  }
}

p-multiselect /deep/ {
  .ui-multiselect-label {
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: .5em calc(2em + 12px) .25em 12px !important;
  }

  .ui-multiselect-item {
    padding: .125em 13px !important;
  }
}

.emptymessage {
  display: table-row;
  border: 0;
  height: 200px;

  .kEmptyMessage {
    position: absolute;
    width: 100%;
    height: 200px;
    border-bottom: 1px solid $kGrayscale4;
  }
}

.kThumbnailHolder {
  overflow: hidden;
  position: relative;
  width: 128px;
  height: 72px;
  background-color: $kGrayscale6;
  white-space: nowrap;
  text-align: center;
  border-radius: 3px;

  &.error{
    border: 1px solid $kGrayscale4;
  }
  img {
    position: absolute;
    left: -100%;
    right: -100%;
    top: -100%;
    bottom: -100%;
    margin: auto;
    width: 128px;
    height: auto;
    border-radius: 3px;
  }
}

.kTableColumn {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ui-overlaypanel-content {
  padding: 0;
}

.ui-carousel-item {
  background-color: #FFFFFF !important;
}

.dot {
  background-color: $kGrayscale3 !important;

  &.active {
    background-color: $menuBkgColor !important;
  }
}

.ui-paginator{
  margin-top: 4px;
  margin-bottom: 2px;
}
.ui-paginator .ui-paginator-pages{
  margin-top: 1px;
}
.ui-paginator .ui-paginator-page{
  width: 32px;
}


.kFlag {
  width: 24px;
  height: 24px;
}

.ui-multiselect-item {
  display: flex;
  align-items: center;
  height: 40px;
}

.ui-widget-header {
  border: 0;
}

.kCountryList {
  vertical-align: middle;
  display: flex;
  align-items: center;
  max-width: 275px;
  overflow: hidden;
  text-overflow: ellipsis;

  img {
    margin-right: 8px;
    margin-left: 4px;
  }
}

.kNoPadding {
  padding: 0 !important;
}

.kNoMargin {
  margin: 0 !important;
}

.kBrowserIcon {
  width: 24px;
  height: 24px;
  font-size: 24px;
}

.kHeatMapTooltipWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;

  .kDuration {
    color: $kGrayscale3;
    margin-bottom: 12px;
  }

  .kHeatMapTooltip {
    display: flex;
    align-items: center;

    .kBullet {
      display: inline-block;
      width: 9px;
      min-width: 9px;
      height: 9px;
      border-radius: 3px;
      margin-right: 8px;
    }

    .kMessage {
      font-size: 15px;
      font-weight: bold;
    }
  }
}

div, span, tr, td, li {
  outline: none !important;
}

.ui-datepicker-trigger {
  position: absolute;
}

.ui-table p-sorticon {
  vertical-align: unset;
}

k-area-blocker {
  .kErrorMessageContainer{
    width: 100%;
    .kErrorMessage{
      max-width: 586px;
      width: 80% !important;
      padding: 12px 12px 18px 12px !important;
      .kErrorButtons{
        margin-top: 24px !important;
      }
      .kErrorMessageText{
        overflow-x: hidden;
      }
    }
  }

}

.kDevicesGraphTooltip {
  display: flex;
  height: 48px;
  min-width: 158px;
  padding: 16px;
  flex-direction: column;

  .kTitle {
    font-size: 14px;
    color: $kGrayscale3;
    margin-bottom: 12px;
  }

  .kValue {
    color: $kGrayscale1;
    font-size: 15px;
    font-weight: bold;
  }
}

.kHorizontalBarGraphTooltip {
  display: flex;
  font-weight: bold;
  align-items: center;
  padding: 0 16px;
  height: 50px;
  vertical-align: middle;

  .kBullet {
    font-size: 24px;
    margin-right: 8px;
    line-height: 20px;
  }
}

.kDefaultTooltip {
  display: flex;
  align-items: center;
  padding: 16px;
  font-weight: bold;

  .kBullet {
    font-weight: bold;
    font-size: 22px;
    line-height: 15px;
    margin-right: 6px;
  }
}

// duplicate for IE
.kTags {
  border-top: none !important;
}

.ui-autocomplete-panel {
  max-height: 284px !important;
  max-width: 250px;

  .ui-autocomplete-list {
    padding: 0;

    .ui-autocomplete-list-item,
    .ui-autocomplete-notification-item {
      border: 0 !important;
      border-radius: 0 !important;
      min-height: 32px !important;
      padding: .5em 1em;

      &:hover {
        background-color: $kGrayscale7 !important;
      }

      .kHighlightedText {
        text-decoration: underline;
      }

      span:not(.kHighlightedText) {
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
      }
    }
  }
}

ui-carousel {
  z-index: 1;
}

.kDisclaimer {
  margin: 16px 0 0 16px;
  display: inline-block;

  .kIconInfo_Full {
    color: $kGrayscale3;
    margin-right: 6px;
  }
}

.ui-dialog.ui-confirmdialog {
  top: 150px !important;
}
