@import './variables';
$mc-theme-font-path : '~@kaltura-ng/mc-theme/themes/default/fonts';
@import '~@kaltura-ng/mc-theme/themes/default/scss/index.scss';


$appBkgColor: #f2f2f2;
body{
  background-color: $appBkgColor;
  overflow-y: hidden;
}

// Spinner positioning for area-blocker
.loading-backdrop {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(255,255,255,0.3);
  .spinner-container {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate3d(-50px, -50px, 0);
  }
}

.kMain {
  width: 100%;
  .kReportView{
    width: 100%;
    .kReport {
      margin-left: 40px;
      margin-right: 40px;
      background-color: white;
      border: 0px solid white;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      .kReportHeader{
        height: 80px;
        display: flex;
        align-items: center;
        background-color: $appBkgColor;
        .kTitle {
          font-size: 24px;
          color: $kGrayscale1;
          font-weight: bold;
        }
        app-export-csv{
          margin-left: auto;
        }
      }
      .kBreadcrumbs{
        height: 24px;
        display: flex;
        align-items: center;
        margin-bottom: 24px;
        margin-left: 20px;
        i{
          margin-left: 12px;
          margin-right: 12px;
          font-size: 14px;
        }
      }
      .kFilters{
        height: 40px;
        display: flex;
        align-items: center;
        padding: 20px;
        .kTitle {
          width: 100%;
          font-size: 20px;
          color: $kGrayscale1;
          font-weight: bold;
        }
      }
      .kReportContent{
        display: flex;
        flex-direction: column;
        width: 100%;
        height:100%;
        background-color: white;
      }
      .kChart{
        width: 100%;
        height: 500px;
      }
      .kTable{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        .kToggle{
          display: flex;
          align-items: center;
          margin-bottom: 24px;
          i{
            width: 20px;
            color: $kTertiary;
            font-size: 12px;
            margin-left: 24px;
          }
        }
        .kTableContainer{
          overflow-y: hidden;
          &.kOpen{
            height: auto;
          }
          &.kClose{
            height: 0px;
          }
        }
      }

      .kHighlight{
        font-weight: bold;
        color: $kGrayscale1;
      }
    }
  }
}
.kHidden {
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.ng-tooltip {
  transition: none !important;
}
p-table /deep/ .ui-table .ui-table-tbody > tr{
  &:nth-child(odd) {
    background-color: #F6F6F6;
    &:hover{
      background-color: $kGrayscale7;
    }
  }
  > td {
    height: 48px;
  }
}
p-paginator /deep/ .ui-paginator.ui-widget-header.ui-unselectable-text {
  height: 34px;
  border-bottom: 1px solid #d9d9d9;
}
