@import './variables';
$mc-theme-font-path : '~@kaltura-ng/mc-theme/themes/default/fonts';
@import '~@kaltura-ng/mc-theme/themes/default/scss/index.scss';
@import './icons/icons.scss';
@import './mini-loader';

$appBkgColor: #f2f2f2;
body{
  background-color: $appBkgColor;
  overflow-y: hidden;
}

// Spinner positioning for area-blocker
.loading-backdrop {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: rgba(255,255,255,0.3);
  .spinner-container {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate3d(-50px, -50px, 0);
  }
}

.kMain {
  width: 100%;
  .kReportView{
    width: 100%;
    .kReport {
      width: 100%;
      margin-bottom: 24px;
      background-color: white;
      border: 0px solid white;
      border-radius: 3px;
      display: flex;
      flex-direction: column;
      .kReportHeader{
        height: 80px;
        display: flex;
        align-items: center;
        background-color: $appBkgColor;
        .kTitle {
          font-size: 24px;
          color: $kGrayscale1;
          font-weight: bold;
        }
        app-export-csv{
          margin-left: auto;
          margin-right: 16px;
          white-space: nowrap;
        }
      }
      .kBreadcrumbs{
        height: 24px;
        width: 100%;
        display: flex;
        padding-left: 24px;
        align-items: center;
        a{
          font-size:20px;
          font-weight: 700;
          color: $kGrayscale3;
          text-decoration: none;
          &:hover{
            color: $kGrayscale1;
          }
        }
        span{
          font-size:20px;
          font-weight: 700;
          color: $kGrayscale1;
          &.separator{
            color: $kGrayscale3;
            margin-left: 8px;
            margin-right: 8px;
          }
        }
      }
      .kFilters{
        height: 70px;
        display: flex;
        width: 100%;
        align-items: center;
        .kTitle {
          width: 100%;
          padding-left: 24px;
          font-size: 20px;
          color: $kGrayscale1;
          font-weight: bold;
        }
      }
      .kReportContent{
        display: flex;
        flex-direction: column;
        width: 100%;
        height:100%;
        background-color: white;
        .kDimensions{
          width: 100%;
          margin-top: 16px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          app-time-units{
            margin-right: 24px;
          }
        }
      }
      ktags{
        margin-left: 16px;
        width: auto;
        /deep/ .kTags {
          border-top: none;
        }
      }
      .kChart{
        width: 100%;
        height: 280px;
        margin-bottom: 24px;
      }
      .kTable{
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
        .kToggle{
          display: flex;
          align-items: center;
          margin-bottom: 24px;
          i{
            width: 20px;
            color: $kTertiary;
            font-size: 12px;
            margin-left: 24px;
          }
        }
        .kTableContainer{
          overflow-y: hidden;
          &.kOpen{
            height: auto;
          }
          &.kClose{
            height: 0px;
          }
        }
      }

      .kHighlight{
        font-weight: bold;
        color: $kGrayscale1;
      }
    }
  }
}
.kHidden {
  visibility: hidden;
  width: 0px !important;
  height: 0px !important;
  margin: 0px !important;
}
.ng-tooltip {
  background-color: white;
  color: $kGrayscale1;
  border: 1px solid $kGrayscale4;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.30);
  display: flex;
  flex-direction: column;
  transition: none !important;
  .kTotalsCompareTooltip {
    line-height: 24px;
    display: flex;
    strong {
      color: $kGrayscale1;
    }
    .kTotalsCompareTooltipValue {
      display: flex;
      margin-left: 24px;
    }
  }
  &:after{
    content: none;
  }
}

p-table /deep/ .ui-table .ui-table-tbody > tr{
  &:nth-child(odd) {
    background-color: #F8F8F8;
    &:hover{
      background-color: $kGrayscale7;
    }
  }
  > td {
    height: 48px;
    padding-left: 24px;
    a {
      color: $kTertiary;
      text-decoration: none;
      font-weight: 700;
    }
  }
}
p-table /deep/ .ui-table .ui-table-thead > tr > th{
  padding-left: 24px;
}
p-table /deep/ .ui-table .ui-widget-header.ui-table-scrollable-header {
  height: inherit;
}
p-table /deep/ .ui-table .ui-table-tbody > tr > td:first-child {
  border-top: 1px solid #d9d9d9;
}
p-table /deep/ .ui-table .ui-table-thead {
  border-top: 1px solid #d9d9d9;
}
p-paginator /deep/ .ui-paginator.ui-widget-header.ui-unselectable-text {
  height: 34px;
}
kpopupwidget{
  .kPopupWidget{
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .24) !important;
  }
}

.ngx-charts .grid-panel.odd {
  display: none;
}

.kTrend {
  .icon-progress, .icon-progress + span, .icon-progress + span + span {
    color: $kPrimary !important;
  }

  .icon-regression, .icon-regression + span, .icon-regression + span + span {
    color: $kDandger !important;
  }
}
/* main content width according to screen resolution */
@media screen and (max-width: 991px) {
  .kContent {
    width: 970px !important;
    margin: auto !important;
    display: flex;
  }
}
@media screen and (min-width: 992px) {
  .kContent {
    width: 970px !important;
    margin: auto !important;
    display: flex;
  }
}
@media screen and (min-width: 1280px) {
  .kContent {
    width: 1200px!important;
    margin: auto !important;
    display: flex;
  }
}
@media screen and (min-width: 1610px) {
  .kContent {
    width: 1500px !important;
    margin: auto !important;
    display: flex;
  }
}
