@import '../../../../../../styles/variables';

.kDevicesFilter {
  margin-right: 24px;

  /deep/ {
    .ui-multiselect {
      width: 180px;
    }

    .ui-widget-header {
      height: 0;
      min-height: 0;
    }
    .ui-multiselect-items-wrapper {
      overflow-x: hidden;
    }
  }
}

.kDevicesListItem {
  vertical-align: middle;
  display: inline-flex;
  width: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .kIcon {
    font-size: 22px;
    color: $kGrayscale3;
    margin: 0 17px 0 11px;
  }

  .kLabel {
    line-height: 22px;
  }
}
