@import '../../../../../../styles/variables';

.kDevicesFilter {
  margin-right: 24px;

  ::ng-deep {

    .ui-widget-header {
      height: 0;
      min-height: 0;
    }
    .ui-multiselect-items-wrapper {
      overflow-x: hidden;
    }
  }
}

.kDevicesListItem {
  vertical-align: middle !important;
  display: inline-flex !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  .kIcon {
    font-size: 22px;
    color: $kGrayscale3;
    margin: 0 17px 0 11px;
  }

  .kLabel {
    line-height: 22px;
  }
}
