@import '../../../../../styles/variables';

k-area-blocker {
  display: block;
}
.kReport {
  overflow: hidden;
}
.reportContent {
  .title {
    font-weight: 700;
    font-size: 20px;
    color: $kGrayscale1;
    margin-bottom: 24px;
    display: block;
    margin: 24px;
  }
  .row {
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .tableCell {
      display: flex;
      align-items: center;
      span {
        margin-right: 8px;
        min-width: 28px;
        flex: 0 0 auto;
      }
    }
  }
}
