<div data-aid="report-engagement-mini-highlights" class="kReport kOverrideFAIcons">

  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">

    <div class="reportContent">
      <div class="icons">
        <div class="kMiniIcon green"><i class="icon-small-viewer-contributor"></i></div>
      </div>

      <div class="dataContainer">
        <div class="header">
          <span class="title">{{_tabsData[0]?.title}}</span>
<!--          <a class="kLink" (click)="exportLinks()">{{'app.entryEp.highlights.export' | translate}}</a>-->
        </div>

        <span class="value">{{_tabsData[0]?.value}}</span>
        <span class="label">{{_tabsData[1]?.title}}</span>
        <div class="kBulletContainer">
          <div class="bulletBkg">
            <div class="kBullet" [style.width]="_livePercent + '%'"></div>
          </div>
          <span class="graphValue">{{_tabsData[1]?.value}}</span>
        </div>
        <span class="label">{{_tabsData[2]?.title}}</span>
        <div class="kBulletContainer">
          <div class="bulletBkg">
            <div class="kBullet"[style.width]="_recordingPercent + '%'"></div>
          </div>
          <span class="graphValue">{{_tabsData[2]?.value}}</span>
        </div>
      </div>

    </div>

  </k-area-blocker>
</div>

