<div data-aid="report-engagement-mini-highlights" class="kReport kOverrideFAIcons">

  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">

    <div class="reportContent">
      <div class="icons">
        <div class="kMiniIcon green"><i class="icon-small-viewer-contributor"></i></div>
      </div>

      <div class="dataContainer">
        <div class="header">
          <span class="title">{{_tabsData[0]?.title}}</span>
          <a class="kLink" (click)="exportUsers()">{{'app.entryEp.highlights.export' | translate}}</a>
        </div>

        <span class="value">{{_tabsData[0]?.value}}</span>

        <div class="kBulletContainer">
          <div class="kLive"></div>
          <span class="graphValue">{{_tabsData[1]?.value}}</span>
          <span class="label">{{_tabsData[1]?.title}}</span>
        </div>
        <div class="kBulletContainer">
          <div class="kRecordings"></div>
          <span class="graphValue">{{_tabsData[2]?.value}}</span>
          <span class="label">{{_tabsData[2]?.title}}</span>
        </div>

        <div class="bulletBkg">
          <div class="kBullet kLiveBkg" [style.width]="_livePercent + '%'" [kTooltip]="'app.entryEp.highlights.live_tt' | translate"></div>
          <div class="kBullet kBothBkg" [style.width]="_liveAndRecordingPercent + '%'" [kTooltip]="'app.entryEp.highlights.both_tt' | translate"></div>
          <div class="kBullet kRecordingsBkg" [style.width]="_recordingPercent + '%'" [kTooltip]="'app.entryEp.highlights.recordings_tt' | translate"></div>
        </div>
      </div>

    </div>

  </k-area-blocker>
</div>

