@import '../../../../../../styles/variables';

:host {
  width: 100%;
  height: 100%;
}

.kCompare {
  height: 760px;
}

@media (max-width: 991px) {
  .kCompare {
    height: auto;
  }
}

.kHighContrast :host {
  .kBreadcrumbsLink {
    color: $kGrayscale1 !important;
  }
}
