@import '../../../../../styles/variables';

.kNoResults {
  display: flex;
  width: 100%;
  height: 280px;
  align-items: center;
  justify-content: center;

  span {
    font-size: 28px;
    color: $kGrayscale3;
  }
}

:host /deep/ .kRowExpansion {
  padding: 0 !important;
  text-align: center;
}
