<div class="kTable">
  <div class="kToggle">
    <i [class.kIcondropdown_arrow_bottom]="!_showTable" [class.kIcondropdown_arrow_top]="_showTable"></i>
    <a (click)="_toggleTable()">{{(_showTable ? 'app.entry.hideDetails' : 'app.entry.viewDetails') | translate}}</a>
  </div>

  <div class="kTableContainer" [class.kOpen]="_showTable" [class.kClose]="!_showTable">

    <div class="kTableHeader">
      <span class="kTotalCount">{{'app.entry.totalViewersCount' | translate: {'0': _totalCount} }}</span>
      <div class="kSearch"></div>
    </div>

    <p-table sortField="count_plays"
             dataKey="name"
             [value]="_tableData"
             [customSort]="true"
             [defaultSortOrder]="-1"
             [sortOrder]="-1"
             (sortFunction)="_onSortChanged($event)">
      <ng-template pTemplate="header">
        <tr>
          <th [ngStyle]="{'width':'40px'}" *ngIf="!_isCompareMode"></th>
          <th *ngFor="let col of _columns" [pSortableColumn]="_isCompareMode ? null : null">
            {{'app.entry.' + col | translate}}
            <p-sortIcon [field]="col" *ngIf="false"></p-sortIcon>
          </th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data let-expanded="expanded">
        <tr>
          <td [ngStyle]="{'width':'40px'}" *ngIf="!_isCompareMode">
            <a [pRowToggler]="data">
              <i [ngClass]="expanded ? 'pi pi-fw pi-chevron-circle-down' : 'pi pi-pw pi-chevron-circle-right'"
                 style="font-size: 1.25em"></i>
            </a>
          </td>
          <td *ngFor="let col of _columns; let i = index" [class.kHighlight]="i===0">
            <span *ngIf="_isCompareMode && data[col]?.value && col !== 'name'"
                  class="kTrend">
              <span [kTooltip]="data[col].tooltip" [escape]="false" [maxWidth]="500">
                <app-trend-value [value]="data[col].value"
                                 [units]="data[col].units"
                                 [trend]="data[col].trend"></app-trend-value>
              </span>
            </span>
            <ng-container *ngIf="!_isCompareMode || col === 'name'">
              <span *ngIf="col !== 'avg_view_drop_off'">{{data[col]}}</span>
              <app-bullet *ngIf="col === 'avg_view_drop_off'"
                          colorScheme="dropoff"
                          [value]="data['avg_view_drop_off']"></app-bullet>
            </ng-container>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <div class="emptymessage">
          <div class="kEmptyMessage" *ngIf="!_firstTimeLoading">{{'app.common.noResults' | translate}}</div>
          <div class="kEmptyMessage" *ngIf="_firstTimeLoading">&nbsp;</div>
        </div>
      </ng-template>
      <ng-template let-profile pTemplate="rowexpansion">
        <tr>
          <td [attr.colspan]="_columns.length + 1" [ngStyle]="{'padding': 0}">
            <div [ngStyle]="{background: 'blue', height: '100%'}">&nbsp;</div>
          </td>
        </tr>
      </ng-template>
    </p-table>

    <p-paginator [rows]="_pager.pageSize"
                 [first]="(_pager.pageIndex -1) * _pager.pageSize"
                 [totalRecords]="_totalCount"
                 (onPageChange)="_onPaginationChanged($event)"></p-paginator>
  </div>
</div>

