@import '../../../../../styles/variables';

:host {
  width: 100%;
}
.kReport {
  .kReportContainer {
    padding-bottom: 24px;
    background-color: $appBkgColor;
    display: flex;
    flex-wrap: wrap;
  }
}
