@import '../../../../../styles/variables';

:host {
  width: 100%;
}
.kReport.kRoles {
  .kReportContainer {
    padding-bottom: 24px;
    background-color: $appBkgColor;
    display: flex;
    flex-wrap: wrap;
  }
  .kReportContent {
    padding-right: 12px;
  }
  ::ng-deep .p-table .p-table-tbody > tr > td, ::ng-deep  .p-table .p-table-thead {
    border: none !important;
  }
}
.kRoles ::ng-deep p-table .p-datatable .p-datatable-thead {
  border-top: none;
}

.kRoles ::ng-deep p-table .p-datatable-tbody > tr > td {
  border: none;
  height: 40px;
}

.kRoles ::ng-deep p-table .p-datatable .p-datatable-tbody > tr > td:first-child {
  border: none;
  height: 40px;
}
