<app-dropdown-filter templateType="os"
                     [label]="'app.filters.os' | translate"
                     [options]="_predefinedOSs || (_osFilterService.osOptions | async)"
                     [isLoading]="_osFilterService.isBusy('os')"
                     [defaultLabel]="'app.filters.osPlaceholder' | translate"
                     [selectedItemsLabel]="'app.filters.osSelected' | translate"
                     [selectedFilters]="_selectedOs"
                     (itemSelected)="_onItemSelected($event, 'os')"></app-dropdown-filter>
