@import '../../../../../styles/variables';

.kPlayer {
  position: relative;
  width: 100%;
}
/* player height according to screen resolution */
@media (max-width: 991px) {
  .kPlayer {
    height: 160px;
  }
}
@media screen and (min-width: 992px) {
  .kPlayer {
    height: 200px;
  }
}
@media screen and (min-width: 1280px) {
  .kPlayer {
    height: 240px;
  }
}
@media screen and (min-width: 1610px) {
  .kPlayer {
    height: 280px;
  }
}

