<div class="kBarContainer">
  <div class="kLabel" [kTooltip]="label" [showOnEllipsis]="true">{{label}}</div>
  <div class="kBarWrapper">
    <div class="kBarWrapperRow">
      <span class="kValue">{{_value}}<span class="kUnits">{{units}}</span></span>
      <div class="kBullet" [kTooltip]="_tooltip" [escape]="false">
        <div class="kBar" [style.background-color]="_colors[0]" [style.width]="_value+'%'"></div>
      </div>
      <div class="kTrend" *ngIf="_trend" [kTooltip]="_trend.tooltip" [escape]="false">
        <app-trend-value [value]="_trend.value"
                         [units]="_trend.units"
                         [trend]="_trend.trend"></app-trend-value>
      </div>
    </div>
    <div class="kBarWrapperRow kCompare" *ngIf="_compareValue !== null">
      <span class="kValue">{{_compareValue}}<span class="kUnits">{{units}}</span></span>
      <div class="kBullet" [kTooltip]="_compareTooltip" [escape]="false">
        <div class="kBar" [style.background-color]="_colors[1]" [style.width]="_compareValue+'%'"></div>
      </div>
      <div class="kTrend" *ngIf="_trend">
        <div class="kTrendStub"></div>
      </div>
    </div>
  </div>
</div>
