<div data-aid="filter-entry-users" class="kTableHeader" [ngStyle]="{'padding-bottom': _tags.length ? 0 : '8px'}">
  <span class="kTotalCount">
    {{'app.entry.totalEntriesCount' | translate: { '0': totalCount } }}
  </span>
  <div class="kSearch">
    <app-engagement-entries-filter [selectedEntries]="_selectedValues['entries']" [_showEntryFilter]="_showEntryFilter"
                                 (itemSelected)="_onItemSelected($event, 'entries')"></app-engagement-entries-filter>
  </div>
</div>

<div class="kTagsContainer" *ngIf="_tags.length">
  <span class="kDisclaimer" *ngIf="_showDisclaimer">
      <i class="kIconhelp_full"></i>
    {{'app.filters.disclaimer' | translate}}
  </span>
  <kTags title=""
         labelField="label"
         tooltipField="tooltip"
         [data]="_tags"
         [clearAllLabel]="'app.common.clearAll' | translate"
         (onTagRemove)="_removeFilter($event)"
         (onRemoveAll)="_removeAll()">
  </kTags>
</div>
