@import '../../../../../../styles/variables';

.kNoResults {
  display: flex;
  width: 100%;
  height: 280px;
  align-items: center;
  justify-content: center;

  span {
    font-size: 28px;
    color: $kGrayscale3;
  }
}

.kReport .kReportContent .kChart {
  margin-bottom: 0;
}

.kThumbnailHolder {
  width: 85px;
  height: 48px;

  img {
    width: 85px;
  }
}
