<div data-aid="report-engagement-mini-highlights" class="kReport kOverrideFAIcons">

  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">

    <div class="reportContent">
      <div class="icons">
        <div class="kMiniIcon orange"><i class="icon-small-time"></i></div>
      </div>

      <div class="dataContainer">
        <span class="title">{{'app.entryEp.highlights.avgMinutes' | translate}}</span>
        <span class="value">{{_tabsData[2]?.value}}</span>

        <span class="label">{{_tabsData[0]?.title}}</span>
        <div class="kBulletContainer">
          <div class="bulletContainer">
            <div class="kBullet" [style.width]="_livePercent + '%'"></div>
          </div>
          <span class="graphValue">{{_tabsData[0]?.value}}</span>
        </div>
        <span class="label">{{_tabsData[1]?.title}}</span>
        <div class="kBulletContainer">
          <div class="bulletContainer">
            <div class="kBullet"[style.width]="_recordingPercent + '%'"></div>
          </div>
          <span class="graphValue">{{_tabsData[1]?.value}}</span>
        </div>
      </div>

    </div>

  </k-area-blocker>
</div>

