<div data-aid="report-engagement-mini-quality" class="kReport kMini kOverrideFAIcons">
  <div class="kFilters">
    <span class="kTitle">{{'app.entryWebcast.tools.title' | translate}}</span>
    <!--a class="link" [class.disabled]="_isBusy" (click)="export()">{{'app.common.exportCsv' | translate}}</a-->
  </div>

  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy || _loadingReport">

    <div class="kReportContent">

      <div class="kVal">
        <div class="kMiniIcon blue"><i class="icon-ic_slide"></i></div>
          <div class="kLabels">
            <span class="value">{{_slides}}</span>
            <span class="title">{{'app.entryWebcast.tools.slides' | translate}}</span>
          </div>

      </div>

      <div class="kVal">
        <div class="kMiniIcon blue"><i class="icon-ic_poll"></i></div>
        <div class="kLabels">
          <span class="value">{{_polls}}</span>
          <span class="title">{{'app.entryWebcast.tools.polls' | translate}}</span>
        </div>
      </div>

      <div class="kVal">
        <div class="kMiniIcon blue"><i class="icon-ic_annoucements"></i></div>
        <div class="kLabels">
          <span class="value">{{_announcements}}</span>
          <span class="title">{{'app.entryWebcast.tools.announcements' | translate}}</span>
        </div>

      </div>

      <div class="kVal">
        <div class="kMiniIcon blue"><i class="icon-viewer-contributor"></i></div>
        <div class="kLabels">
          <span class="value">{{_answer_on_air}}</span>
          <span class="title">{{'app.entryWebcast.tools.answer' | translate}}</span>
        </div>
      </div>

      <div class="kVal">
        <div class="kMiniIcon blue"><i class="icon-small-like"></i></div>
        <div class="kLabels">
          <span class="value">{{_tabsData[0]?.value || 0}}</span>
          <span class="title">{{_tabsData[0]?.title}}</span>
          <a class="link" [class.disabled]="!_tabsData.length || _tabsData[0].value === '0'" (mouseenter)="_showReactionsBreakdown($event)" (mouseleave)="_hideReactionsBreakdown()">{{'app.entryWebcast.tools.breakdown' | translate}}</a>
        </div>
      </div>

      <div class="kVal">
        <div class="kMiniIcon blue"><i class="icon-calendar"></i></div>
        <div class="kLabels">
          <span class="value">{{_tabsData[1]?.value || 0}}</span>
          <span class="title">{{_tabsData[1]?.title}}</span>
        </div>
      </div>

    </div>

  </k-area-blocker>

</div>

<k-overlayPanel #overlay appendTo="body">
  <app-reactions-breakdown-overlay #breakdown [ReactionsBreakdown]="_reactionsBreakdown"></app-reactions-breakdown-overlay>
</k-overlayPanel>

