@import '../../../../../../../styles/variables';

.kEntryDetailsOverlay {
  width: 280px;
  height: 220px;

  k-area-blocker {
    display: block;
  }

  .kEntryThumbnail {
    overflow: hidden;
    position: relative;
    width: 280px;
    height: 100px;
    background-color: $kGrayscale6;
    white-space: nowrap;
    text-align: center;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &.error{
      border: 1px solid $kGrayscale4;
    }

    img {
      position: absolute;
      left: -100%;
      right: -100%;
      top: -100%;
      bottom: -100%;
      margin: auto;
      width: 280px;
      height: auto;
      border-radius: 3px;
    }

    .kEntryName {
      color: #FFFFFF;
      position: absolute;
      bottom: 12px;
      left: 16px;
    }
  }

  .kEntryDetails {
    padding: 12px 16px 16px 16px;

    .kDetailsRow {
      display: flex;
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: bold;

      &:last-child {
        margin-bottom: 0;
      }

      .kLabel {
        color: $kGrayscale3;
        margin-right: 4px;
      }

      .kValue {
        color: $kGrayscale1;
      }
    }
  }
}
