<div class="kReport kOverrideFAIcons">
  <div class="kFilters">
    <span class="kTitle">{{'app.engagement.users' | translate}}</span>
  </div>
  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">

    <div class="kReportContent">
      <div class="kChart">
        <div echarts class="kChart" [options]="_barChartData" *ngIf="_chartType==='bar'"></div>
        <div echarts class="kChart" [options]="_lineChartData" *ngIf="_chartType==='line'"></div>
      </div>
    </div>
  </k-area-blocker>
</div>

