<div class="kReport kContent kOverrideFAIcons">
  <div class="kReportHeader">
    <span class="kTitle">{{'app.bandwidth.usersStorage' | translate}}</span>
    <a [class.disabled]="_exportingCsv"(click)="exportToScv()">{{(_exportingCsv ? 'app.common.exporting' : 'app.common.exportCsv') | translate}}</a>
  </div>

  <div class="kFilters">
    <span class="kTitle">{{'app.bandwidth.highlights' | translate}}</span>
    <app-users-filter (filterChange)="onSearchUsersChange($event)"></app-users-filter>
    <app-date-filter [dateRangeType]="_dateRangeType" (filterChange)="onDateFilterChange($event)"></app-date-filter>
  </div>


  <div class="kBreadcrumbs" *ngIf="_drillDown.length">
    <a (click)="onDrillDown('')">{{'app.bandwidth.usersStorage' | translate}}</a>
    <i class="kIcondropdown_arrow_right"></i>
    <span>{{_drillDown}}</span>
  </div>

  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">
    <div class="kReportContent">
      <app-report-tabs [Tabs]="_tabsData" (tabChange)="onTabChange($event)"></app-report-tabs>
      <div class="kChart">
        <ngx-charts-bar-vertical *ngIf="_chartDataLoaded && _reportInterval==='months'"
                                 [results]="_chartData[_selectedMetrics]"
                                 [gradient]="false"
                                 [xAxis]="true"
                                 [yAxis]="true"
                                 [showXAxisLabel]="true"
                                 [showYAxisLabel]="true"
        >
        </ngx-charts-bar-vertical>

        <ngx-charts-line-chart *ngIf="_chartDataLoaded && _reportInterval==='days'"
                               [results]="_chartData[_selectedMetrics]"
                               [xAxis]="true"
                               [yAxis]="true"
                               [showXAxisLabel]="true"
                               [showYAxisLabel]="true"
                               [autoScale]="true"
        >
        </ngx-charts-line-chart>
      </div>

      <p-table [value]="_tableData" (sortFunction)="_onSortChanged($event)" [customSort]="true" sortField="added_entries" [sortOrder]="-1">
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of _columns" [pSortableColumn]="col" [style.display]="col==='HIDDEN'?'none':'table-cell'">
              {{'app.bandwidth.' + col | translate}}
              <p-sortIcon [field]="col"></p-sortIcon>
            </th>

          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
          <tr>
            <td *ngFor="let col of _columns; let i = index" [style.display]="col==='HIDDEN'?'none':'table-cell'">
              <span *ngIf="i>1 || _drillDown.length">{{data[col]}}</span>
              <a *ngIf="i===1 && !_drillDown.length" style=""(click)="onDrillDown(data[col].name)">{{data[col].name}}</a>
            </td>
          </tr>
        </ng-template>
      </p-table>

    </div>




  </k-area-blocker>

</div>

