@import '../../../../../styles/variables';

app-users-filter{
  margin-right: 24px;
}
.nameLink{
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
:host{
  margin-bottom: 24px;
}

p-sorticon ::ng-deep .ui-sortable-column-icon.pi.pi-fw.pi-sort-up:before {
  content: "\e91e";
}

.kReportContainer {
  padding-bottom: 24px;
  background-color: $appBkgColor;
  display: flex;
  flex-wrap: wrap;
}

.kFilter {
  display: flex;
  align-items: center;

  .kDropDown {
    background-color: white;
    width: auto;
    height: 34px;
    border: 1px solid $kGrayscale4;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 16px;

    &:hover {
      border-color: $kPrimary;
    }

    &:active {
      box-shadow: 0 0 0 3px rgba(0, 167, 132, 0.4);
    }

    span {
      font-size: 15px;
      white-space: nowrap;
      margin-right: 12px;
    }

    i {
      margin-left: auto;
      font-size: 12px;
      color: $kGrayscale3;
    }
  }
}
