<div class="kReport kContent kOverrideFAIcons">
  <div class="kReportHeader">
    <span class="kTitle">{{'app.bandwidth.usersStorage' | translate}}</span>
    <app-export-csv [headers]="_csvExportHeaders" [totalCount]="_totalCount" [reportInputFilter]="filter" [reportType]="reportType"
                    [dimension]="_selectedMetrics" [reportText]="'app.common.noMsg' | translate" [reportTitle]="'app.bandwidth.usersStorage' | translate"></app-export-csv>
    <app-date-filter #dateFilter [dateRangeType]="_dateRangeType" (filterChange)="_onDateFilterChange($event)"></app-date-filter>
  </div>

  <div class="kFilters">
    <span class="kTitle" *ngIf="!_drillDown.length">{{'app.bandwidth.allUsers' | translate}}</span>
    <div class="kBreadcrumbs" *ngIf="_drillDown.length">
      <a (click)="_onDrillDown('')">{{'app.bandwidth.usersStorage' | translate}}</a>
      <span class="separator">/</span>
      <span>{{_drillDown}}</span>
    </div>
    <app-users-filter #userFilter [class.kHidden]="_drillDown.length>0" (filterChange)="_onSearchUsersChange($event)"></app-users-filter>
  </div>

  <kTags *ngIf="_tags.length"
         [title]="''"
         [data]="_tags"
         [labelField]="'fullName'"
         [tooltipField]="'fullName'"
         [clearAllLabel]="'app.common.clearAll' | translate"
         [class.kHidden]="_drillDown.length>0"
         (onTagRemove)="_onRemoveTag($event)"
         (onRemoveAll)="_onRemoveAllTags()">
  </kTags>


  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">
    <div class="kReportContent">
      <app-report-tabs [tabs]="_tabsData" [compareMode]="isCompareMode" (tabChange)="_onTabChange($event)"></app-report-tabs>
      <div class="kDimensions">
        <app-time-units [dateFilter]="dateFilter"></app-time-units>
      </div>
      <div class="kChart">
        <div echarts class="kChart" [options]="_barChartData[_selectedMetrics]" *ngIf="_chartType==='bar'"></div>
        <div echarts class="kChart" [options]="_lineChartData[_selectedMetrics]" *ngIf="_chartType==='line'"></div>
      </div>

      <div class="kTable">
        <div class="kToggle">
          <i [class.kIcondropdown_arrow_bottom]="!_showTable" [class.kIcondropdown_arrow_top]="_showTable"></i>
          <a (click)="toggleTable()">{{(_showTable ? 'app.common.hideDetails' : 'app.common.viewDetails') | translate}}</a>
        </div>
        <div class="kTableContainer" [class.kOpen]="_showTable" [class.kClose]="!_showTable">
          <p-table [value]="_tableData" (sortFunction)="_onSortChanged($event)" [customSort]="true" sortField="added_entries" [sortOrder]="-1">
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of _columns" [pSortableColumn]="isCompareMode ? null : col">
                  {{'app.bandwidth.' + col | translate}}
                  <p-sortIcon [field]="col" *ngIf="!isCompareMode"></p-sortIcon>
                </th>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr>
                <td *ngFor="let col of _columns; let i = index">
                  <span *ngIf="isCompareMode && data[col]?.value && col !== 'name' && col !== 'month_id' && col !== 'date_id'" class="kTrend">
                    <i [class]="data[col].trend | appTrend"></i>
                    <span [kTooltip]="data[col].tooltip">{{data[col].value}}&nbsp;{{data[col].units}}</span>
                  </span>
                  <ng-container *ngIf="!isCompareMode || col === 'name' || col === 'month_id' || col === 'date_id'">
                    <span *ngIf="col !== 'name'">{{data[col]}}</span>
                    <a *ngIf="col === 'name'" (click)="_onDrillDown(data[col])">{{data[col]}}</a>
                  </ng-container>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <p-paginator [rows]="pager.pageSize" (onPageChange)="_onPaginationChanged($event)" [first]="(pager.pageIndex -1) * pager.pageSize" [totalRecords]="_totalCount"></p-paginator>
        </div>
      </div>
    </div>




  </k-area-blocker>

</div>

