app-users-filter{
  margin-right: 24px;
}
.nameLink{
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
:host{
  margin-bottom: 24px;
}

p-sorticon /deep/ .ui-sortable-column-icon.pi.pi-fw.pi-sort-up:before {
  content: "\e91e";
}
