<div class="kBulletContainer">
  <div class="kBullet">
    <div class="kBar" [style.background-color]="_topValueColor" [style.width]="_topValuePercent+'%'"></div>
    <div class="kBar" [style.background-color]="_othersColor" [style.width]="_othersValuePercent+'%'"></div>
  </div>
  <div class="kLegend">
    <div class="kCircle" [style.background-color]="_topValueColor"></div>
    <span>{{topLabel}}</span>
    <div class="kCircle" [style.background-color]="_othersColor"></div>
    <span>{{othersLabel}}</span>
  </div>
</div>
