@import '../../../../styles/variables';

:host {
  display: block;
  width: 100%;
}

.kBulletContainer {
  display: flex;
  flex-direction: column;

  .kBullet {
    width: 100%;
    height: 12px;
    border: 0px solid $kGrayscale5;
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
    display: flex;

    .kBar {
      height: 100%;
      transition: width 0.35s ease-out;
      margin: 0 1px;

      &:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        margin-left: 0;
      }

      &:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        margin-right: 0;
      }
    }
  }

  .kLegend {
    display: flex;
    align-items: center;
    margin-top: 18px;
    font-size: 12px;
    color: $kGrayscale1;
    font-weight: bold;

    .kLegendItem {
      display: flex;
      align-items: center;

      &:not(:first-child) {
        margin-left: 24px;
      }

      .kCircle {
        width: 10px;
        height: 10px;
        border-radius: 5px;
        margin-right: 8px;
      }
    }
  }
}
