<div class="kReport kFunnel kOverrideFAIcons">
  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">
    <div class="kReportContent" aria-labelledby="kAttendeeStatus">
      <div class="kHeader">
        <span class="kTitle">{{'app.ve.status' | translate}}</span>
        <span class="kLabel">{{'app.ve.evolution' | translate}}</span>
      </div>

      <div class="kCharts"  [style.opacity]="_chartLoaded ? 1 : 0">
        <div class="kChart">
          <div echarts class="kChart" [options]="_chartData" (chartInit)="onChartInit($event)"></div>
        </div>
      </div>

    </div>

  </k-area-blocker>
</div>

