<div *ngIf="showFilters"
     class="kRefineFilters kReport"
     [class.kAdvancedFiltersShown]="_showAdvancedFilters"
     [@state]="_state"
     (@state.done)="_animationDone($event)" >
  <div class="kRefineFiltersMain">
    <div class="kFilterContainer kOverrideFAIcons">
      <div class="kListFilters">
        <app-checkboxes-list-filter [label]="'app.filters.mediaType' | translate"
                                    [options]="_mediaTypes"
                                    [selectedFilters]="_selectedValues['mediaType']"
                                    (itemSelected)="_onItemSelected($event, 'mediaType')"
                                    (itemUnselected)="_onItemUnselected($event, 'mediaType')"></app-checkboxes-list-filter>

        <app-checkboxes-list-filter [label]="'app.filters.applications' | translate"
                                    [options]="_applications"
                                    [selectedFilters]="_selectedValues['applications']"
                                    (itemSelected)="_onItemSelected($event, 'applications')"
                                    (itemUnselected)="_onItemUnselected($event, 'applications')"></app-checkboxes-list-filter>

        <app-checkboxes-list-filter [label]="'app.filters.entrySource' | translate"
                                    [options]="_entrySources"
                                    [selectedFilters]="_selectedValues['entrySources']"
                                    (itemSelected)="_onItemSelected($event, 'entrySources')"
                                    (itemUnselected)="_onItemUnselected($event, 'entrySources')"></app-checkboxes-list-filter>
      </div>
      <div class="kMiscFilters">
        <app-autocomplete-filter [label]="'app.filters.tags' | translate"></app-autocomplete-filter>
        <app-category-filter [label]="'app.filters.category' | translate"
                             [selectedFilters]="_selectedValues['categories']"
                             [linkLabel]="'app.filters.selectCategory' | translate"
                             (itemSelected)="_onItemSelected($event, 'categories')"
                             (itemUnselected)="_onItemUnselected($event, 'categories')"></app-category-filter>
      </div>
    </div>
  </div>
  <div class="kRefineFiltersFooter">
    <a (click)="_showAdvancedFilters = !_showAdvancedFilters">
      <span *ngIf="_showAdvancedFilters">{{'app.filters.basicFilters' | translate}}</span>
      <span *ngIf="!_showAdvancedFilters">{{'app.filters.advancedFilters' | translate}}</span>
    </a>
    <button type="button" class="kButtonBranded" pButton
            [label]="'app.common.apply' | translate"
            (click)="_apply()"></button>
  </div>
</div>
