<div data-aid="overlay-entry-details" class="kEntryDetailsOverlay">
  <ng-container *ngIf="entryData">
    <div class="kEntryThumbnail" #holder>
      <img [src]="entryData.thumbnailUrl"
           onError="this.onerror=null;this.style.display='none'"
           (error)="holder.classList.add('error')">
      <div class="kProtector"></div>
      <div class="kEntryName">
        <span>{{entryData.entry_name}}</span>
      </div>
    </div>
    <div class="kEntryDetails">
      <div class="kDetailsRow">
        <div class="kLabel">{{'app.engagement.topVideosReport.type' | translate}}</div>
        <div class="kValue">{{entryData.media_type | mediaType: true}}</div>
      </div>

      <div class="kDetailsRow" *ngIf="entryData.creator_name">
        <div class="kLabel">{{'app.engagement.topVideosReport.creator' | translate}}</div>
        <div class="kValue">{{entryData.creator_name}}</div>
      </div>

      <div class="kDetailsRow">
        <div class="kLabel">{{'app.engagement.topVideosReport.creationDate' | translate}}</div>
        <div class="kValue">{{entryData.created_at}}</div>
      </div>

      <div class="kDetailsRow">
        <div class="kLabel">{{'app.engagement.topVideosReport.duration' | translate}}</div>
        <div class="kValue">{{entryData.duration_msecs}}</div>
      </div>
    </div>
  </ng-container>
</div>
