<app-dropdown-filter templateType="browser"
                     [label]="'app.filters.filterBrowsers' | translate"
                     [options]="_browsersFilterService.browserOptions | async"
                     [isLoading]="_browsersFilterService.isBusy('browser')"
                     [defaultLabel]="'app.filters.browserPlaceholder' | translate"
                     [selectedItemsLabel]="'app.filters.browsersSelected' | translate"
                     [selectedFilters]="_selectedBrowsers"
                     (itemSelected)="_onItemSelected($event, 'browser')"></app-dropdown-filter>
