<div tabindex="0" (keydown.enter)="toggleDropdown()" #main>
  <ng-container *ngIf="_showComponent">

    <ng-container *ngIf="!_singleMode">
      <div [attr.tabindex]="_opened ? 0 : -1" class="kExport" #toggle role="button">
        <div class="kDropDown">
          <span>{{'app.common.exportCsv' | translate}}</span>
          <i *ngIf="!_opened" class="kIcondropdown_arrow_bottom"></i>
          <i *ngIf="_opened" class="kIcondropdown_arrow_top"></i>
        </div>
      </div>

      <kPopupWidget #popupWidgetComponent
                    [attr.data-aid]="'export-csv-' + name.split(' ').join('-').toLowerCase()"
                    [popupWidth]="width"
                    [closeBtn]="false"
                    [targetRef]="toggle"
                    [targetOffset]="{'x': 0, 'y': 42}"
                    (onOpen)="_onPopupOpen()"
                    (onClose)="_onPopupClose()">
        <ng-template>
          <div class="kExportPanel">
            <p-tree selectionMode="checkbox"
                    [value]="_options"
                    [(selection)]="_selected"></p-tree>

            <button pButton
                    tabindex="0" [attr.aria-label]="_exportingCsv || !_selected.length ? 'disabled ' + ('app.common.exportReports' | translate) : ('app.common.exportReports' | translate)"
                    class="kButtonBranded kExportBtn"
                    [class.kButtonProcess]="_exportingCsv"
                    [class.kDisabled]="_exportingCsv || !_selected.length"
                    [label]="(_exportingCsv ? 'app.common.exporting' : 'app.common.exportReports') | translate"
                    (click)="_export()"
                    (keydown.tab)="popupWidgetComponent.close();main.focus()"
                    (keydown.enter)="_export()"></button>
          </div>
        </ng-template>
      </kPopupWidget>
    </ng-container>

    <ng-container *ngIf="_singleMode">
      <div class="kExport">
        <button pButton class="kButtonDefault kExportBtn" icon="icon-export"
                [class.kButtonProcess]="_exportingCsv"
                [disabled]="_exportingCsv"
                [label]="(_exportingCsv ? 'app.common.exporting' : 'app.common.exportCsv') | translate"
                (click)="_export()"
                (keydown.enter)="_export()"></button>
      </div>
    </ng-container>

  </ng-container>
  <kPopupWidget #confirmExportPopup class="exportPopup"
                [attr.data-aid]="'confirm-export-csv'"
                [popupWidth]="560"
                [modal]="true"
                [closeBtn]="false">

      <div class="kExportConfirm">
        <div class="kHeader">
          <span class="kTitle">{{'app.exportReports.title' | translate}}</span>
        </div>
        <div class="kMain">
          <span>{{ emailAddress.length > 0 ? ('app.exportReports.withEmail' | translate: {'emailAddress': emailAddress}) : ('app.exportReports.withoutEmail' | translate) }}</span>
          <div class="kHeaders">
            <p-checkbox [binary]="true" label="{{'app.exportReports.headers' | translate}}" name="friendlyHeaders" [(ngModel)]="_useFriendlyHeadersNames"></p-checkbox>
            <kInputHelper>
              <span>{{'app.exportReports.headers_tt' | translate}}</span>
            </kInputHelper>
          </div>
        </div>
        <div class="kFooter">
          <a role="button" tabindex="0"
             (click)="confirmExportPopup.close()"
             (keydown.enter)="confirmExportPopup.close()">
            {{'app.common.cancel' | translate}}
          </a>
          <button class="kButtonBranded" pButton [label]="'app.exportReports.approve' | translate" (click)="_doExport(savedSelected, savedAdditionalFilters)"></button>
        </div>
      </div>

  </kPopupWidget>
</div>
