@import '../../../../styles/variables';

.kExport{
  display: flex;
  width: 100%;
  align-items: center;
  .kSpinner{
    width: 12px;
    height: 12px;
    margin-right: 8px;
  }
  .kStatus{
    display: flex;
    align-items: center;
    margin-left: 8px;
    .kError{
      color: $kDandger;
    }
    i{
      color: $kDandger;
      font-size: 12px;
      margin-left: 4px;
      cursor: pointer;
    }
    .kReady{
      color: $kPrimary;
      margin-right: 4px;
    }
    a{
      color: $kPrimary;
    }
  }
}
