@import '../../../../styles/variables';

.kExport {
  .kExportBtn {
    margin-right: 16px;
    font-weight: normal;
  }

  .kDropDown {
    background-color: white;
    width: 100px;
    height: 34px;
    border: 1px solid $kGrayscale4;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 16px;

    &:hover {
      border-color: $kPrimary;
    }

    &:active {
      box-shadow: 0 0 0 3px rgba(0, 167, 132, 0.4);
    }

    span {
      font-size: 15px;
      white-space: nowrap;
      margin-right: 12px;
    }

    i {
      margin-left: auto;
      font-size: 12px;
      color: $kGrayscale3;
    }
  }
}

.kExportPanel {
  padding: 16px;

  .kExportBtn {
    width: 100%;
    margin-top: 8px;
  }

  /deep/ {
    .ui-tree {
      width: 100%;
      height: 100%;
    }

    .ui-tree-toggler {
      display: none;
    }

    .ui-treenode-content {
      padding: .5em 0;
    }

    .ui-treenode-children {
      padding-left: 1.5em;
    }
  }
}


:host /deep/ button {
  .ui-button-text {
    padding-left: 3.1em;
  }
}

@keyframes processing-button {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(46px);
  }
}

.ui-button.kButtonProcess {
  position: relative;
  overflow: hidden;

  &:disabled {
    opacity: 1;
  }

  /deep/ .ui-button-text {
    position: relative;
  }

  &:before {
    position: absolute;
    content: ' ';
    top: 0;
    left: -46px;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(
        -55deg,
        transparent 1px,
        rgba(0, 0, 0, 0.1) 2px,
        rgba(0, 0, 0, 0.1) 11px,
        transparent 12px,
        transparent 20px
    );
    animation-name: processing-button;
    animation-duration: .6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}
