:host {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;

  ::ng-deep .ui-multiselect {
    width: 230px !important;
  }

  ::ng-deep .expandWidth .ui-multiselect {
    width: 432px !important;
  }
}
