:host {
  display: flex;
  width: 100%;
  flex-direction: column;

  ::ng-deep .p-multiselect {
    width: 230px !important;
  }

  ::ng-deep .expandWidth .p-multiselect {
    width: 432px !important;
  }

  .label-addition {
    display: inline-flex;

    ::ng-deep .kIconhelpLink {
      z-index: 0 !important;
    }
  }
}
/* responsive design */
@media (max-width: 991px) {
  :host {
    ::ng-deep .p-multiselect {
      width: 180px !important;
    }
  }
}
