:host {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;

  /deep/ .ui-multiselect {
    width: 230px !important;
  }

  /deep/ .expandWidth .ui-multiselect {
    width: 430px !important;
  }
}
