:host {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;

  /deep/ .ui-multiselect {
    width: 230px !important;
  }

  /deep/ .expandWidth .ui-multiselect {
    width: 432px !important;
  }

  .label-addition {
    display: inline-flex;

    ::ng-deep .kIconhelpLink {
      z-index: 0 !important;
    }
  }
}
