@import '../../../../../../styles/variables';

:host {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kHeatMap {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #dfe9ff;
  position: relative;

  .kHeatMapItem {
    height: 100%;
  }

  .kTimelineStart, .kTimelineEnd {
    position: absolute;
    bottom: 2px;
    display: inline-block;
    font-size: 12px;
    color: #FFFFFF;
  }

  .kTimelineStart {
    left: 2px;
  }

  .kTimelineEnd {
    right: 2px;
  }
}

.kFollower {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  width: 1px;
  height: 48px;
  z-index: 2;
}
