<div data-aid="filter-geo" class="kRefineFilters kReport">
  <div class="kTagsContainer" *ngIf="_tags.length">
    <span class="kDisclaimer" *ngIf="_showDisclaimer">
      <i class="kIconhelp_full"></i>
      {{'app.filters.disclaimer' | translate}}
    </span>
    <kTags title=""
           labelField="label"
           tooltipField="tooltip"
           [data]="_tags"
           [clearAllLabel]="'app.common.clearAll' | translate"
           (onTagRemove)="_removeFilter($event)"
           (onRemoveAll)="_removeAll()">
    </kTags>
  </div>
  <div *ngIf="showFilters"
       [@state]="_state"
       (@state.done)="_filtersAnimationDone($event)">
    <div class="kRefineFiltersMain">
      <div class="kFilterContainer kOverrideFAIcons">
        <div class="kFilterContainerRow">
          <app-country-filter *ngIf="_viewConfig.geo"
                              [dateFilter]="_dateFilter"
                              [selectedFilters]="_selectedValues['countries']"
                              (itemSelected)="_onItemSelected($event, 'countries')"
                              (itemUnselected)="_onItemUnselected($event, 'countries')"></app-country-filter>

          <app-tags-filter *ngIf="_viewConfig.tags"
                           [selectedFilters]="_selectedValues['tags']"
                           (itemSelected)="_onItemSelected($event, 'tags')"
                           (itemUnselected)="_onItemUnselected($event, 'tags')"></app-tags-filter>

          <app-category-filter *ngIf="_viewConfig.categories"
                               [label]="'app.filters.categories' | translate"
                               [selectedFilters]="_selectedValues['categories']"
                               [linkLabel]="'app.filters.selectCategories' | translate"
                               (itemSelected)="_onItemSelected($event, 'categories')"
                               (itemUnselected)="_onItemUnselected($event, 'categories')"></app-category-filter>
        </div>
      </div>
      <div class="kRefineFiltersFooter">
        <button type="button" class="kButtonBranded" pButton
                [label]="'app.common.apply' | translate"
                (click)="_apply()"></button>
      </div>
    </div>
  </div>
</div>
