<div data-aid="filter-geo" class="kRefineFilters kReport">
  <div class="kTagsContainer" *ngIf="_tags.length">
    <span class="kDisclaimer" *ngIf="_showDisclaimer">
      <i class="kIconhelp_full"></i>
      {{'app.filters.disclaimer' | translate}}
    </span>
    <kTags title=""
           labelField="label"
           tooltipField="tooltip"
           [data]="_tags"
           [clearAllLabel]="'app.common.clearAll' | translate"
           (onTagRemove)="_removeFilter($event)"
           (onRemoveAll)="_removeAll()">
    </kTags>
  </div>
  <div *ngIf="showFilters"
       [@state]="_state"
       (@state.done)="_filtersAnimationDone($event)">
    <div class="kRefineFiltersMain">
      <div class="kFilterContainer kOverrideFAIcons">
        <div class="kFilterContainerRow">
          <div class="kMiscFilters">
            <app-country-filter *ngIf="_viewConfig.geo" style="width: 33%"
                                [dateFilter]="_dateFilter"
                                [selectedFilters]="_selectedValues['countries']"
                                (itemSelected)="_onItemSelected($event, 'countries')"
                                (itemUnselected)="_onItemUnselected($event, 'countries')"></app-country-filter>

            <app-checkboxes-list-filter *ngIf="_viewConfig?.playbackType"
                                        [label]="'app.filters.playbackType.title' | translate"
                                        [options]="_playbackTypes"
                                        [selectedFilters]="_selectedValues['playbackType']"
                                        (itemSelected)="_onItemSelected($event, 'playbackType')"
                                        (itemUnselected)="_onItemUnselected($event, 'playbackType')"></app-checkboxes-list-filter>
          </div>
          <div class="kMiscFilters">
            <app-tags-filter *ngIf="_viewConfig.tags"
                             [selectedFilters]="_selectedValues['tags']"
                             (itemSelected)="_onItemSelected($event, 'tags')"
                             (itemUnselected)="_onItemUnselected($event, 'tags')"></app-tags-filter>

            <app-domains-filters *ngIf="_viewConfig?.domains" style="margin-top: 24px"
                                 [expandWidth]="!showAutocompleteGroup"
                                 [dateFilter]="_dateFilter"
                                 [selectedFilters]="_selectedValues['domains']"
                                 (itemSelected)="_onItemSelected($event, 'domains')">
            </app-domains-filters>
          </div>

          <app-category-filter *ngIf="_viewConfig.categories" style="width: 33%"
                               [label]="'app.filters.categories' | translate"
                               [selectedFilters]="_selectedValues['categories']"
                               [linkLabel]="'app.filters.selectCategories' | translate"
                               (itemSelected)="_onItemSelected($event, 'categories')"
                               (itemUnselected)="_onItemUnselected($event, 'categories')"></app-category-filter>
        </div>
      </div>
      <div class="kRefineFiltersFooter">
        <button type="button" class="kButtonBranded" pButton
                [label]="'app.common.apply' | translate"
                (click)="_apply()"></button>
      </div>
    </div>
  </div>
</div>
