@import '../../../../../../styles/variables';

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.kRefineFilters {
  width: 100%;
  height: auto;
  margin-bottom: 0 !important;

  .kRefineFiltersMain {
    height: 100%;

    .kFilterContainer {
      padding: 32px 24px 0 24px;
      display: flex;
      flex-direction: column;

      .kFilterContainerRow {
        display: flex;
        justify-content: space-between;
        &:not(:first-child) {
          margin-top: 24px;
        }
      }
      .kMiscFilters {
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
        margin-right: 24px;
        width: 33%;
      }
      .kListFilters {
        display: flex;

        .kLastItem {
          margin-right: 18px !important;
        }
      }
    }

    .kGroupTitle {
      display: inline-block;
      color: $kGrayscale3;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 16px;
    }

    .kRefineFiltersFooter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 66px;
      padding: 0 24px;

      button {
        width: 100px;
      }
    }
  }
}


.kTagsContainer {
  ktags {
    width: 100%;
    margin-left: 0;

    ::ng-deep .kTags {
      width: auto;
      padding: 7px;
    }
  }
}

app-tags-filter, app-category-filter, app-country-filter {
  display: block;
  width: 100%;
  padding-right: 24px;
}

:host ::ng-deep {
  app-autocomplete-filter {
    margin: 0;
  }

  app-dropdown-filter {
    margin-right: 0;
  }

  .ui-autocomplete-multiple-container {
    min-height: 34px;
    padding: 3px 6px !important;
  }
}
