<div class="kHeader">{{'app.user.topLocation' | translate}}</div>
<div *ngIf="data" class="kGeo">
  <i class="kFlag" [ngClass]="'kFlag-' + data['country_code']"></i>
  <div class="kValue">
    <span class="kCity">{{data['city']}}</span>
    <span class="kRegion" [kTooltip]="data['region'] + ', ' + data['country']" [showOnEllipsis]="true">
      {{data['region']}}, {{data['country']}}
    </span>
  </div>
</div>
<div *ngIf="!data" class="kNoData">
  {{'app.common.noResults' | translate }}
</div>
