<div data-aid="report-entry-totals" class="kReport kTotals kOverrideFAIcons">
  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">
    <div class="kTotalsContainer">
      <div class="kTotalContainer">
        <div class="kMiniIcon blue"><i class="icon-small-play"></i></div>
        <div class="kTotal">
          <span class="kLable">{{'app.user.count_plays' | translate}}</span>
          <span *ngIf="!_isCompareMode" class="kValue">{{_tabsData[0]?.value}}</span>
          <span *ngIf="_isCompareMode" class="kTrend"
                [kTooltip]="_tabsData[0]?.tooltip"
                [maxWidth]="500"
                [escape]="false">
            <app-trend-value valueStyleClass="kValue"
                             unitsStyleClass="kUnits"
                             [value]="_tabsData[0]?.value"
                             [units]="_tabsData[0]?.units"
                             [trend]="_tabsData[0]?.trend"></app-trend-value>
          </span>
        </div>
      </div>
      <div class="kTotalContainer">
        <div class="kMiniIcon orange"><i class="icon-small-time"></i></div>
        <div class="kTotal"
             [kTooltip]="_tabsData[1]?.tooltip"
             [maxWidth]="500"
             [escape]="false">
          <span class="kLable">{{'app.user.sum_time_viewed' | translate}}</span>
          <span *ngIf="!_isCompareMode" class="kValue">{{_tabsData[1]?.value}}</span>
          <span *ngIf="_isCompareMode" class="kTrend">
            <app-trend-value valueStyleClass="kValue"
                             unitsStyleClass="kUnits"
                             [value]="_tabsData[1]?.value"
                             [units]="_tabsData[1]?.units"
                             [trend]="_tabsData[1]?.trend"></app-trend-value>
          </span>
        </div>
      </div>
      <div class="kTotalContainer kHide960">
        <div class="kMiniIcon violet"><i class="icon-download"></i></div>
        <div class="kTotal"
             [kTooltip]="_tabsData[2]?.tooltip"
             [maxWidth]="500"
             [escape]="false">
          <span class="kLable">{{'app.user.count_download' | translate}}</span>
          <span *ngIf="!_isCompareMode" class="kValue">{{_tabsData[2]?.value}}</span>
          <span *ngIf="_isCompareMode" class="kTrend">
            <app-trend-value valueStyleClass="kValue"
                             unitsStyleClass="kUnits"
                             [value]="_tabsData[2]?.value"
                             [units]="_tabsData[2]?.units"
                             [trend]="_tabsData[2]?.trend"></app-trend-value>
          </span>
        </div>
      </div>
      <div class="kTotalContainer">
        <div class="kMiniIcon blue"><i class="icon-small-like"></i></div>
        <div class="kTotal"
             [kTooltip]="_tabsData[3]?.tooltip"
             [maxWidth]="500"
             [escape]="false">
          <span class="kLable">{{'app.user.votes' | translate}}</span>
          <span *ngIf="!_isCompareMode" class="kValue">{{_tabsData[3]?.value}}</span>
          <span *ngIf="_isCompareMode" class="kTrend">
            <app-trend-value valueStyleClass="kValue"
                             unitsStyleClass="kUnits"
                             [value]="_tabsData[3]?.value"
                             [units]="_tabsData[3]?.units"
                             [trend]="_tabsData[3]?.trend"></app-trend-value>
          </span>
        </div>
      </div>
      <div class="kTotalContainer kHide960">
        <div class="kMiniIcon blue"><i class="icon-share"></i></div>
        <div class="kTotal"
             [kTooltip]="_tabsData[4]?.tooltip"
             [maxWidth]="500"
             [escape]="false">
          <span class="kLable">{{'app.user.count_viral' | translate}}</span>
          <span *ngIf="!_isCompareMode" class="kValue">{{_tabsData[4]?.value}}</span>
          <span *ngIf="_isCompareMode" class="kTrend">
            <app-trend-value valueStyleClass="kValue"
                             unitsStyleClass="kUnits"
                             [value]="_tabsData[4]?.value"
                             [units]="_tabsData[4]?.units"
                             [trend]="_tabsData[4]?.trend"></app-trend-value>
          </span>
        </div>
      </div>
      <div class="kTotalContainer">
        <div class="kMiniIcon violet"><i class="icon-download icon-upload"></i></div>
        <div class="kTotal"
             [kTooltip]="_tabsData[5]?.tooltip"
             [maxWidth]="500"
             [escape]="false">
          <span class="kLable">{{'app.user.added_entries' | translate}}</span>
          <span *ngIf="!_isCompareMode" class="kValue">{{_tabsData[5]?.value}}</span>
          <span *ngIf="_isCompareMode" class="kTrend">
            <app-trend-value valueStyleClass="kValue"
                             unitsStyleClass="kUnits"
                             [value]="_tabsData[5]?.value"
                             [units]="_tabsData[5]?.units"
                             [trend]="_tabsData[5]?.trend"></app-trend-value>
          </span>
        </div>
      </div>
    </div>
  </k-area-blocker>
</div>

