<div data-aid="report-group-user" class="kMain kUser">
  <k-area-blocker [showLoader]="_loadingUser" [message]="_blockerMessage">
    <div class="kReportView">
      <div *ngIf="_user" class="kReport kContent kOverrideFAIcons">
        <div class="kReportHeader">
          <button *ngIf="_userViewConfig.backBtn" pButton class="kButtonDefault kBackBtn small" icon="kIconarrow_backward" (click)="_back()"
                  [kTooltip]="'app.entry.back' | translate"></button>
          <div class="kAvatar" *ngIf="_userViewConfig.avatar">
            <div *ngIf="_user?.thumbnailUrl" class="kUserThumbnailHolder">
              <img [src]="_user?.thumbnailUrl">
            </div>
            <div *ngIf="!_user?.thumbnailUrl" class="kStub">
              <i class="icon-viewer-contributor"></i>
            </div>
          </div>
          <span *ngIf="_userViewConfig.title" class="kTitle kTruncateTitle" [kTooltip]="_userName" [showOnEllipsis]="true" [placement]="'bottom'">{{_userName}}</span>
          <app-export-csv *ngIf="_userViewConfig.export"
                          name="User"
                          feature="user"
                          [userId]="_userId"
                          [reports]="_exportConfig"
                          [refineFilter]="_refineFilter"
                          [dateFilter]="_dateFilter"></app-export-csv>
          <div *ngIf="_userViewConfig.refineFilter" class="kFilter kOverrideFAIcons">
            <div class="kDropDown" (click)="_refineFilterOpened = !_refineFilterOpened">
              <span>{{'app.filters.filter' | translate}}</span>
              <i *ngIf="!_refineFilterOpened" class="kIcondropdown_arrow_bottom"></i>
              <i *ngIf="_refineFilterOpened" class="kIcondropdown_arrow_top"></i>
            </div>
          </div>
          <app-date-filter #dateFilter
                           name="user"
                           feature="user"
                           [dateRange]="_dateRange"
                           [selectedTimeUnit]="_timeUnit"
                           (filterChange)="_onDateFilterChange($event)"></app-date-filter>
        </div>

        <div class="kUserDetails" *ngIf="_userViewConfig.details">
          <span>{{'app.user.user_role' | translate}}</span>
          <span class="kLabel">{{_user?.roleNames}}</span>
          <div class="kSeparator"></div>
          <span>{{'app.user.email' | translate}}</span>
          <span class="kLabel">{{_user?.email}}</span>
          <div class="kSeparator"></div>
          <span>{{'app.user.created' | translate}}</span>
          <span class="kLabel">{{_registrationDate}}</span>
        </div>

        <app-user-filter [viewConfig]="_userViewConfig.refineFilter"
                         [opened]="_refineFilterOpened"
                         [dateFilter]="_dateFilter"
                         [userId]="_userId"
                         feature="user"
                         [selectedFilters]="_selectedRefineFilters"
                         (closeFilters)="_refineFilterOpened = false"
                         (filterChange)="_onRefineFilterChange($event)"></app-user-filter>

        <div class="kReportContainer">
          <app-user-totals *ngIf="_userViewConfig.totals"
                           [dateFilter]="_dateFilter"
                           [userTotalsViewConfig]="_userViewConfig.totals"
                           [userId]="_user.id"
                           [refineFilter]="_refineFilter"></app-user-totals>
        </div>

        <div class="kReportContainer">
          <div class="kLeftCol" [class.noMargin]="!_userViewConfig.insights" *ngIf="_userViewConfig.geoDevices || _userViewConfig.lastViewedEntries"
               [class.kCompare]="_isCompare">
            <app-user-mini-highlights *ngIf="_userViewConfig.geoDevices"
                                      [dateFilter]="_dateFilter"
                                      [userViewConfig]="_userViewConfig"
                                      [userId]="_user.id"
                                      [refineFilter]="_refineFilter"></app-user-mini-highlights>
            <app-user-mini-top-content *ngIf="_userViewConfig.lastViewedEntries"
                                       [dateFilter]="_dateFilter"
                                       [userViewConfig]="_userViewConfig"
                                       [userId]="_user.id"
                                       [refineFilter]="_refineFilter"></app-user-mini-top-content>
          </div>
          <div class="kRightCol" *ngIf="_userViewConfig.insights" [class.kCompare]="_isCompare">
            <p-carousel [autoplayInterval]="5000" [circular]="true" [value]="carouselItems">
              <ng-template pTemplate="item" let-item>
                <app-user-insight-minutes-viewed [userId]="_userId" *ngIf="item==='minutesViewed'"
                                                 [dateFilter]="_dateFilter"
                                                 [refineFilter]="_refineFilter"></app-user-insight-minutes-viewed>
                <app-user-insight-plays [userId]="_userId" *ngIf="item==='plays'"
                                        [dateFilter]="_dateFilter"
                                        [refineFilter]="_refineFilter"></app-user-insight-plays>
                <app-user-insight-domain [userId]="_userId" *ngIf="item==='domains'"
                                         [dateFilter]="_dateFilter"
                                         [refineFilter]="_refineFilter"></app-user-insight-domain>
                <app-user-insight-source [userId]="_userId" *ngIf="item==='sources'"
                                         [dateFilter]="_dateFilter"
                                         [refineFilter]="_refineFilter"></app-user-insight-source>
              </ng-template>
            </p-carousel>
          </div>
        </div>

        <div class="kReportTabs" *ngIf="_userViewConfig.viewer && _userViewConfig.contributor">
          <a class="kReportTabsItem kViewer"
             [class.kViewerActive]="_currentTab === _reportTabs.viewer"
             (click)="_selectTab(_reportTabs.viewer)">
            <i class="kIcon icon-small-impressions"></i>
            <span>{{'app.user.viewer' | translate}}</span>
          </a>
          <a class="kReportTabsItem kContributor"
             [class.kContributorActive]="_currentTab === _reportTabs.contributor"
             (click)="_selectTab(_reportTabs.contributor)">
            <i class="kIcon icon-small-contribution"></i>
            <span>{{'app.user.contributor' | translate}}</span>
          </a>
        </div>

        <ng-container *ngIf="_currentTab === _reportTabs.viewer && _userViewConfig.viewer">
          <div class="kReportContainer" *ngIf="_userViewConfig.viewer.viewedEntries">
            <app-user-highlights [userId]="_user.id"
                                 [dateFilterComponent]="dateFilter"
                                 [dateFilter]="_dateFilter"
                                 [refineFilter]="_refineFilter"></app-user-highlights>
          </div>

          <div class="kReportContainer" *ngIf="_userViewConfig.viewer.engagement">
            <app-impressions [title]="'app.user.viewingEngagementFunnel' | translate"
                             [userId]="_user.id"
                             [dateFilter]="_dateFilter"
                             [refineFilter]="_refineFilter"></app-impressions>
          </div>
        </ng-container>

        <ng-container *ngIf="_currentTab === _reportTabs.contributor && _userViewConfig.contributor">
          <div class="kReportContainer" *ngIf="_userViewConfig.contributor.mediaUpload">
            <app-user-media-upload [userId]="_user.id"
                                   [dateFilterComponent]="dateFilter"
                                   [dateFilter]="_dateFilter"
                                   [refineFilter]="_refineFilter"></app-user-media-upload>
          </div>

          <div class="kReportContainer" *ngIf="_userViewConfig.contributor.topContent">
            <app-user-top-content [userId]="_user.id"
                                  [dateFilter]="_dateFilter"
                                  [refineFilter]="_refineFilter"></app-user-top-content>
          </div>

          <div class="kReportContainer" *ngIf="_userViewConfig.contributor.sources">
            <app-user-sources [userId]="_user.id"
                              [userName]="_user.fullName"
                              [dateFilter]="_dateFilter"
                              [refineFilter]="_refineFilter"></app-user-sources>
          </div>
        </ng-container>
      </div>
    </div>
  </k-area-blocker>
</div>
