<div data-aid="report-group-user" class="kMain">
  <k-area-blocker [showLoader]="_loadingUser" [message]="_blockerMessage">
    <div class="kReportView">
      <div *ngIf="_user" class="kReport kContent kOverrideFAIcons">
        <div class="kReportHeader">
          <button pButton class="kButtonDefault kBackBtn small" icon="kIconarrow_backward" (click)="_back()"
                  [kTooltip]="'app.entry.back' | translate"></button>
          <span class="kTitle">{{_userName}}</span>
          <app-export-csv name="user"
                          [reports]="_exportConfig"
                          [refineFilter]="_refineFilter"
                          [dateFilter]="_dateFilter"></app-export-csv>
          <div class="kFilter kOverrideFAIcons">
            <div class="kDropDown" (click)="_refineFilterOpened = !_refineFilterOpened">
              <span>{{'app.filters.filter' | translate}}</span>
              <i *ngIf="!_refineFilterOpened" class="kIcondropdown_arrow_bottom"></i>
              <i *ngIf="_refineFilterOpened" class="kIcondropdown_arrow_top"></i>
            </div>
          </div>
          <app-date-filter #dateFilter
                           name="user"
                           [dateRange]="_dateRange"
                           [selectedTimeUnit]="_timeUnit"
                           [creationDate]="_creationDate"
                           (filterChange)="_onDateFilterChange($event)"></app-date-filter>
        </div>

        <div class="kUserDetails">
          <span>{{'app.user.user_role' | translate}}</span>
          <span class="kLabel">{{_user?.roleNames}}</span>
          <div class="kSeparator"></div>
          <span>{{'app.user.email' | translate}}</span>
          <span class="kLabel">{{_user?.email}}</span>
          <div class="kSeparator"></div>
          <span>{{'app.user.created' | translate}}</span>
          <span class="kLabel">{{_registrationDate}}</span>
        </div>

        <app-user-filter [opened]="_refineFilterOpened"
                         [dateFilter]="_dateFilter"
                         [selectedFilters]="_selectedRefineFilters"
                         (closeFilters)="_refineFilterOpened = false"
                         (filterChange)="_onRefineFilterChange($event)"></app-user-filter>

        <div class="kReportContainer">
          <app-user-totals [dateFilter]="_dateFilter"
                           [userId]="_user.id"
                           [refineFilter]="_refineFilter"></app-user-totals>
        </div>

        <div class="kReportContainer">
          <div class="kLeftCol" [class.kCompare]="_isCompare">
            <app-user-mini-highlights [dateFilter]="_dateFilter"
                                      [userId]="_user.id"
                                      [refineFilter]="_refineFilter"></app-user-mini-highlights>
            <app-user-mini-top-content [dateFilter]="_dateFilter"
                                       [userId]="_user.id"
                                       [refineFilter]="_refineFilter"></app-user-mini-top-content>
          </div>
          <div class="kRightCol" [class.kCompare]="_isCompare">
            <ui-carousel height="100%"
                         [class.kCompare]="_isCompare"
                         [infinite]="false"
                         [autoPlay]="false"
                         [autoPlaySpeed]="5000"
                         [arrows]="false"
                         [fade]="false"
                         [speed]="200">
              <ui-carousel-item>
                <app-user-insight-minutes-viewed [userId]="_userId"
                                         [dateFilter]="_dateFilter"
                                         [refineFilter]="_refineFilter"></app-user-insight-minutes-viewed>
              </ui-carousel-item>
<!--              <ui-carousel-item>-->
<!--                <app-user-insight-domain [userId]="_userId"-->
<!--                                         [dateFilter]="_dateFilter"-->
<!--                                         [refineFilter]="_refineFilter"></app-user-insight-domain>-->
<!--              </ui-carousel-item>-->
<!--              <ui-carousel-item>-->
<!--                <app-user-insight-source [isCompare]="_isCompare"-->
<!--                                         [dateFilter]="_dateFilter"-->
<!--                                         [topSources$]="topSources.topSources$"-->
<!--                                         [refineFilter]="_refineFilter"></app-user-insight-source>-->
<!--              </ui-carousel-item>-->
            </ui-carousel>
          </div>
        </div>

        <app-reports-divider
          [title]="'app.user.viewingEngagement' | translate: {'0': _user.fullName}"></app-reports-divider>

        <div class="kReportContainer">
          <app-user-highlights [userId]="_user.id"
                               [dateFilterComponent]="dateFilter"
                               [dateFilter]="_dateFilter"
                               [refineFilter]="_refineFilter"></app-user-highlights>
        </div>

        <div class="kReportContainer">
          <app-impressions [title]="'app.user.viewingEngagementFunnel' | translate"
                           [userId]="_user.id"
                           [dateFilter]="_dateFilter"
                           [refineFilter]="_refineFilter"></app-impressions>
        </div>

        <app-reports-divider
          [title]="'app.user.collaboration' | translate: {'0': _user.fullName}"></app-reports-divider>

        <div class="kReportContainer">
          <app-user-media-upload [userId]="_user.id"
                                 [dateFilterComponent]="dateFilter"
                                 [dateFilter]="_dateFilter"
                                 [refineFilter]="_refineFilter"></app-user-media-upload>
        </div>

        <div class="kReportContainer">
          <app-user-top-content [userId]="_user.id"
                                [dateFilter]="_dateFilter"
                                [refineFilter]="_refineFilter"></app-user-top-content>
        </div>

        <div class="kReportContainer">
          <app-user-sources #topSources
                            [userId]="_user.id"
                            [userName]="_user.fullName"
                            [dateFilter]="_dateFilter"
                            [refineFilter]="_refineFilter"></app-user-sources>
        </div>
      </div>
    </div>
  </k-area-blocker>
</div>
