<k-area-blocker *ngIf="_appService.permissionsLoaded$ | async"
                [showLoader]="_isBusy"
                [bodyScroll]="true"
                [classes]="'kAreaBlockerCoverAll'">
  <router-outlet></router-outlet>
</k-area-blocker>

<p-confirmDialog #confirm
                header="Confirmation"
                width="440"
                [position]="'top'"
                [key]="'confirm'"
                [closeOnEscape]="false"
                [class.kAlignToLeft]="_appService.confirmDialogAlignLeft"
                [acceptLabel]="_appService.confirmationLabels.yes"
                [rejectLabel]="_appService.confirmationLabels.no"></p-confirmDialog>

<p-confirmDialog #alert
                 [position]="'top'"
                 header="Alert"
                 width="440"
                 [key]="'alert'"
                 [closeOnEscape]="true"
                 [class.kAlignToLeft]="_appService.confirmDialogAlignLeft">
  <p-footer>
    <button type="button" pButton label="{{_appService.confirmationLabels.ok}}" (click)="alert.accept()"></button>
  </p-footer>
</p-confirmDialog>
