/* Fix for IE11 not getting the style overwrite for p-table from styles.scss */
@import './variables';

:host ::ng-deep .kAreaBlockerCoverAll{
  position: fixed;
  z-index: 1200;
}

:host ::ng-deep p-table .p-table .p-table-tbody > tr{
  > td {
    height: 48px;
    padding-left: 24px;
    a {
      color: $kTertiary;
      text-decoration: none;
      font-weight: 700;
    }
  }
}
:host ::ng-deep p-table .p-table .p-table-thead > tr > th {
  padding-left: 24px;
  &:last-child {
    padding-right: 24px;
  }
}
:host ::ng-deep p-table .p-table .p-widget-header.p-table-scrollable-header {
  height: inherit;
}
:host ::ng-deep p-table .p-table .p-table-tbody > tr > td:first-child {
  border-top: 1px solid #d9d9d9;
}
:host ::ng-deep p-table .p-table .p-table-thead {
  border-top: 1px solid #d9d9d9;
}
:host ::ng-deep p-table {
  tr {
    height: 31px;
  }

  .kColumnHeader {
    display: flex;
    align-items: center;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    p-sorticon {
      margin-top: -4px;
    }
  }
}
:host ::ng-deep p-paginator .p-paginator.p-widget-header.p-unselectable-text {
  height: 34px;
}
