<div data-aid="report-group-content-interactions" class="kReport kContent kOverrideFAIcons">
  <div class="kReportHeader">
    <span class="kTitle">{{'app.contentInteractions.title' | translate}}</span>
    <div class="kControls">
      <app-export-csv *ngIf="_contentInteractionsViewConfig.export"
                      name="Content Interactions"
                      feature="content-interaction"
                      [reports]="_exportConfig"
                      [refineFilter]="_refineFilter"
                      [dateFilter]="_dateFilter"></app-export-csv>
      <div *ngIf="_contentInteractionsViewConfig.refineFilter"
           class="kFilter kOverrideFAIcons">
        <div class="kDropDown" (click)="_refineFilterOpened = !_refineFilterOpened">
          <span>{{'app.filters.filter' | translate}}</span>
          <i *ngIf="!_refineFilterOpened" class="kIcondropdown_arrow_bottom"></i>
          <i *ngIf="_refineFilterOpened" class="kIcondropdown_arrow_top"></i>
        </div>
      </div>
      <app-date-filter #dateFilter
                       name="content-interactions"
                       [dateRange]="_dateRange"
                       [selectedTimeUnit]="_timeUnit"
                       (filterChange)="_onDateFilterChange($event)"></app-date-filter>
    </div>
  </div>

  <div class="kReportContainer kNoPadding">
    <app-refine-filter name="refine-filter"
                       [viewConfig]="_contentInteractionsViewConfig.refineFilter"
                       [opened]="_refineFilterOpened"
                       [dateFilter]="_dateFilter"
                       [selectedFilters]="_selectedRefineFilters"
                       (closeFilters)="_refineFilterOpened = false"
                       (filterChange)="_onRefineFilterChange($event)"></app-refine-filter>
  </div>

  <div *ngIf="_miniViewsCount" class="kReportContainer">
    <div *ngIf="_contentInteractionsViewConfig.miniInteractions"
         class="kMiniReportContainer">
      <app-mini-interactions [highlights$]="interactions.interactions$"
                             [dateFilter]="_dateFilter"
                             [refineFilter]="_refineFilter"></app-mini-interactions>
    </div>

    <div *ngIf="_contentInteractionsViewConfig.miniTopShared"
         class="kMiniReportContainer">
      <app-mini-top-shared [dateFilter]="_dateFilter"
                           [refineFilter]="_refineFilter"></app-mini-top-shared>
    </div>

    <!--IMPORTANT: set infinite and autoPlay to false in case there's only ONE item -->
    <div *ngIf="carouselItems.length" class="kMiniReportContainer">
      <p-carousel [autoplayInterval]="5000" [circular]="true" [value]="carouselItems">
        <ng-template pTemplate="item" let-item>
          <app-top-playback-speed *ngIf="item==='topPlaybackSpeed'" [dateFilter]="_dateFilter" [refineFilter]="_refineFilter"></app-top-playback-speed>
          <app-top-stats *ngIf="item==='topStats'" [highlights$]="interactions.interactions$" [dateFilter]="_dateFilter" [refineFilter]="_refineFilter"></app-top-stats>
        </ng-template>
      </p-carousel>
    </div>
  </div>

  <div [class.kHidden]="!_contentInteractionsViewConfig.interactions"
       id="interactions" class="kReportContainer">
    <app-interactions #interactions
                      [dateFilterComponent]="dateFilter"
                      [dateFilter]="_dateFilter"
                      [refineFilter]="_refineFilter"></app-interactions>
  </div>

  <div *ngIf="_contentInteractionsViewConfig.moderation"
       class="kReportContainer">
    <!--<div class="kSmallReportContainer">-->
    <!---->
    <!--</div>-->
    <!--<div class="kSmallReportContainer">-->
    <app-moderation-report [dateFilter]="_dateFilter"
                           [refineFilter]="_refineFilter"></app-moderation-report>
    <!--</div>-->
  </div>

</div>


