@import '../../../../../styles/variables';

.kLiveStatus {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  background-color: #487adf;
  border-radius: 3px;
  padding: 20px 24px;

  .kStatus {
    display: flex;
    align-items: center;

    span {
      margin-right: 9px;
    }

    .kStreamStatus {
      text-transform: uppercase;
    }

    .kStatusIcon {
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: $kGrayscale4;
      border-radius: 50%;
      margin-right: 12px;

      &.active {
        border: 6px solid #6C94E5;
        background-color: #FFFFFF;
      }
    }
  }

  .kRedundancy {
    font-size: 15px;

    .kIcon {
      font-size: 11px;
      font-weight: normal;
      font-style: normal;
      margin-right: 6px;
    }
  }
}
