@import '../../../../../styles/variables';

.kLiveStatus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  background-color: #487adf;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 16px 24px;

  &.kOffline {
    background-color: $kGrayscale2;
  }

  &.kInitializing {
    background: repeating-linear-gradient(
        105deg,
        $kGrayscale2,
        $kGrayscale2 18px,
        #5B5B5B 18px,
        #5B5B5B 36px
    );
  }

  .kStatus {
    display: flex;
    align-items: center;

    span {
      margin-right: 9px;
    }

    .kStreamStatus {
      text-transform: uppercase;
    }

    .kStatusIcon {
      font-size: 24px;
      color: #FFFFFF;
      margin-right: 12px;
    }

    .kStatusActive {
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 6px solid #6C94E5;
      background-color: #FFFFFF;
      border-radius: 50%;
    }
  }

  .kRedundancy {
    font-size: 15px;

    .kIcon {
      font-size: 11px;
      font-weight: normal;
      font-style: normal;
      margin-right: 6px;
    }
  }
}
