@import '../../../../../styles/variables';

.kLiveStatus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: bold;
  background-color: #487adf;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 16px 24px;

  &.kOffline {
    background-color: $kGrayscale2;
  }

  &.kInitializing {
    background-image: repeating-linear-gradient(
        105deg,
        $kGrayscale2,
        $kGrayscale2 18px,
        #5B5B5B 18px,
        #5B5B5B 36px
    );
    background-size: 200% 200%;
    animation: barberpole 10s linear infinite;
  }

  .kStatus {
    display: flex;
    align-items: center;

    span {
      margin-right: 9px;
    }

    .kStreamStatus {
      text-transform: uppercase;
    }

    .kStatusIcon {
      font-size: 24px;
      color: #FFFFFF;
      margin-right: 12px;
    }

    .kStatusActive {
      display: inline-block;
      width: 10px;
      height: 10px;
      background-color: #FFFFFF;
      border-radius: 50%;
      box-shadow: 0 0 0 rgba(255,255,255, .2);
      animation: pulse 1.5s infinite;
      margin-right: 18px;
    }
  }

  .kRedundancy {
    font-size: 15px;

    .kIcon {
      font-size: 11px;
      font-weight: normal;
      font-style: normal;
      margin-right: 6px;
    }
  }
}

@keyframes barberpole {
  100% {
    background-position: 100% 100%;
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, .2);
  }
  100% {
    box-shadow: 0 0 0 6px rgba(255, 255, 255, .2);
  }
}
