<div class="kHeader" [class.kCompare]="isCompare">{{'app.user.topDevices' | translate}}</div>

<div *ngIf="data" class="kDevicesWrapper" [class.kCompare]="isCompare">
  <div *ngIf="compare" class="kDeviceCard">
    <span *ngIf="compareDates" class="kPeriod">{{compareDates}}</span>
    <div *ngIf="compare" class="kBulletContainer">
      <div class="kValues" *ngFor="let compareItem of compare">
        <div class="kValuesItem">
          <i class="kIcon icon-desktop"></i>
          <span class="kValue">{{compareItem.value}}%</span>
          {{compareItem.label}}
        </div>
      </div>
      <div class="kBullet">
        <div *ngFor="let compareItem of compare" class="kBar"
             [kTooltip]="compareItem.tooltip" [escape]="false"
             [style.background-color]="compareItem.color"
             [style.width]="compareItem.rawValue + '%'"></div>
      </div>
    </div>
  </div>

  <div class="kDeviceCard">
    <span *ngIf="currentDates" class="kPeriod">{{currentDates}}</span>
    <div *ngIf="data" class="kBulletContainer">
      <div class="kValues">
        <div class="kValuesItem" *ngFor="let item of compare">
          <i class="kIcon icon-desktop"></i>
          <span class="kValue">{{item.value}}%</span>
          {{item.label}}
        </div>
      </div>
      <div class="kBullet">
        <div *ngFor="let item of compare" class="kBar"
             [kTooltip]="item.tooltip" [escape]="false"
             [style.background-color]="item.color"
             [style.width]="item.rawValue + '%'"></div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!data" class="kNoData">
  {{'app.common.noResults' | translate }}
</div>
