<div class="kHeader">{{'app.user.topDevices' | translate}}</div>

<div *ngIf="data" class="kBulletContainer">
  <div class="kValues">
    <div class="kValuesItem" *ngIf="data['Computer']">
      <i class="kIcon icon-desktop"></i>
      <span class="kValue">{{data['Computer'].value}}%</span>
      {{data['Computer'].label}}
    </div>
    <div class="kValuesItem" *ngIf="data['Mobile']">
      <i class="kIcon icon-phone"></i>
      <span class="kValue">{{data['Mobile'].value}}%</span>
      {{data['Mobile'].label}}
    </div>
  </div>
  <div class="kBullet">
    <div *ngIf="data['Computer']" class="kBar"
         [kTooltip]="data['Computer'].tooltip" [escape]="false"
         [style.background-color]="data['Computer'].color"
         [style.width]="data['Computer'].rawValue + '%'"></div>

    <div *ngIf="data['Mobile']" class="kBar"
         [kTooltip]="data['Mobile'].tooltip" [escape]="false"
         [style.background-color]="data['Mobile'].color"
         [style.width]="data['Mobile'].rawValue + '%'"></div>

    <div *ngIf="data['OTHER']" class="kBar"
         [kTooltip]="data['OTHER'].tooltip" [escape]="false"
         [style.background-color]="data['OTHER'].color"
         [style.width]="data['OTHER'].rawValue + '%'"></div>
  </div>
</div>
<div *ngIf="!data" class="kNoData">
  {{'app.common.noResults' | translate }}
</div>
