@import '../../../../../../styles/variables';

:host {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.kHeader {
  padding: 24px;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: bold;
}

.kBulletContainer {
  display: flex;
  flex-direction: column;
  padding: 0 24px;

  .kBullet {
    width: 100%;
    height: 8px;
    border: 0 solid $kGrayscale5;
    border-radius: 6px;
    overflow: hidden;
    background-color: white;
    display: flex;

    .kBar {
      height: 100%;
      transition: width 0.35s ease-out;
      margin: 0 1px;

      &:first-child {
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        margin-left: 0;
      }

      &:last-child {
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        margin-right: 0;
      }
    }
  }
}

.kValues {
  display: flex;
  align-items: center;
  margin-bottom: 11px;

  .kValuesItem {
    display: flex;
    align-items: center;
    margin-right: 24px;
  }

  .kIcon {
    font-size: 24px;
    margin-right: 16px;
    color: #487adf;

    &.kSecond {
      color: #88acf6;
    }
  }

  .kValue {
    font-size: 24px;
    font-weight: bold;
    margin-right: 5px;
  }
}

.kNoData {
  margin-left: 24px;
  font-size: 24px;
  white-space: nowrap;
}

.kDevicesWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .kPeriod {
    font-size: 12px;
    font-weight: normal;
    margin-bottom: 8px;
    margin-left: 24px;
    white-space: nowrap;
  }
}

@media screen and (max-width: 1280px) {
  .kHeader.kCompare {
    padding: 16px 24px 20px;
    margin-bottom: 0;
  }
}

.kDeviceCard {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.kCompare {
  .kIcon {
    font-size: 20px;
    margin-right: 9px;
  }

  .kValue {
    font-size: 15px;
  }
}
