@import '../../../../styles/variables';

:host {
  display: block;
  margin-right: 24px;
  margin-bottom: 20px;
}

.kColumn {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;

  .kColumnLabel {
    font-weight: bold;
    margin-bottom: 12px;
  }

  /deep/ .ui-autocomplete {
    width: 100%;
  }
}

:host /deep/ kautocomplete {
  .ui-autocomplete-multiple-container {
    height: auto !important;
  }

  .ui-autocomplete-list-item span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

