@import '../../../../styles/variables';

:host {
  display: block;
  margin-right: 24px;
  margin-bottom: 20px;
}

.kColumn {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;

  .kColumnLabel {
    font-weight: bold;
    margin-bottom: 12px;
  }

  ::ng-deep .p-autocomplete {
    width: 100%;
  }
}

:host ::ng-deep kautocomplete {
  .p-autocomplete-multiple-container {
    height: auto !important;
    width: 100%;
  }

  .p-autocomplete-list-item span {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .p-autocomplete-input-token input {
    width: auto;
  }
}

