@import '../../../../../../styles/variables';

.kFilters {
  width: auto !important;
  height: auto !important;
  padding: 24px;

  ::ng-deep .p-button .p-button-text {
    white-space: nowrap;
  }
  .drag {
    white-space: nowrap;
    font-size: 14px;
    color: $kBlack;
    background-color: $kGrayscale6;
    line-height: 24px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 3px;
  }
}
