<div class="kMiniHighlightsWrapper" [class.small]="!userViewConfig.insights" [class.kCompare]="_isCompareMode">
  <k-area-blocker [showLoader]="_isBusy" [message]="_blockerMessage">
    <div class="kUserMiniHighlights" [class.row]="!userViewConfig.insights" *ngIf="!_firstTimeLoading && !_isBusy">
      <app-user-mini-highlights-geo [isCompare]="_isCompareMode"
                                    [data]="_geoData"
                                    [compare]="_compareGeoData"
                                    [currentDates]="_currentDates"
                                    [compareDates]="_compareDates"></app-user-mini-highlights-geo>
      <app-user-mini-highlights-devices [isCompare]="_isCompareMode"
                                        [data]="_devicesData"
                                        [compare]="_compareDevicesData"
                                        [currentDates]="_currentDates"
                                        [compareDates]="_compareDates"></app-user-mini-highlights-devices>
    </div>
  </k-area-blocker>
</div>
