@import '../../../../../styles/variables';

:host {
  display: block;
  width: 100%;
  height: 148px;
  border-radius: 3px;
  background-color: #FFFFFF;
}

@media screen and (max-width: 1280px) {
  :host {
    height: 286px;
  }
}
