<p-table appScrollTopOnPaging
         [value]="tableData"
         [customSort]="true"
         [defaultSortOrder]="-1"
         [sortOrder]="-1"
         (sortFunction)="_onSortChanged($event)"
         (onPage)="_onPaginationChange($event)">
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let col of columns; let i = index" [pSortableColumn]="col">
        {{'app.entryLive.discovery.tables.users.' + col | translate}}
        <p-sortIcon [field]="col"></p-sortIcon>
      </th>
    </tr>
    <tr *ngIf="tableData?.length" class="kSummaryRow">
      <th *ngFor="let col of columns">
        <span *ngIf="col === 'creator_name'">{{'app.entryLive.discovery.summary' | translate}}</span>
        <span *ngIf="col !== 'creator_name'">{{summary[col]}}</span>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data>
    <tr>
      <td *ngFor="let col of columns; let i = index"
          [class.kHighlight]="i === 0" [ngStyle]="{'width': '100%'}">
        <span *ngIf="col !== 'status'">{{data[col]}}</span>
        <span *ngIf="col === 'status'" class="kStatus">
          <span class="kCircle" [ngClass]="data[col]"></span>
          <span class="kStatusName">{{('app.entryLive.discovery.userStatus.' + data[col]) | translate}}</span>
        </span>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <div class="emptymessage">
      <div class="kEmptyMessage" *ngIf="!firstTimeLoading">{{'app.common.noResults' | translate}}</div>
      <div class="kEmptyMessage" *ngIf="firstTimeLoading">&nbsp;</div>
    </div>
  </ng-template>
</p-table>
<p-paginator [rows]="_pager.pageSize"
             [first]="(_pager.pageIndex -1) * _pager.pageSize"
             [totalRecords]="totalCount"
             (onPageChange)="_onPaginationChange($event)"></p-paginator>
