@import '../../../../styles/variables';

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.kRefineFilters {
  width: 100%;
  height: auto;
  margin-bottom: 0 !important;
  overflow: hidden;

  .kRefineFiltersMain {
    height: 100%;

    .kFilterContainer {
      padding: 32px 24px 16px 24px;
      display: flex;
      flex-direction: column;

      .kFilterContainerRow {
        display: flex;
        &:not(:first-child) {
          margin-top: 24px;
        }
      }

      .kListFilters {
        display: flex;

        .kLastItem {
          margin-right: 18px !important;
        }
      }

      .kMiscFilters {
        display: flex;
        flex-direction: column;
        flex: 1;
      }
    }

    .kGroupTitle {
      display: inline-block;
      color: $kGrayscale3;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 16px;
    }

    .kRefineFiltersFooter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 66px;
      padding: 0 24px;

      button {
        width: 100px;
      }
    }
  }
}

.kContextFilter{
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  .kTitle {
    font-weight: bold;
    margin-bottom: 16px;
  }
  p-radioButton{
    margin-bottom: 8px;
    ::ng-deep .ui-radiobutton-label {
      font-size: 15px;
      font-weight: normal;
      color: $kGrayscale1;
    }
  }
}
.kDisabled{
  cursor: default;
  opacity: 0.3;
  pointer-events: none;
}
app-checkboxes-list-filter {
  min-width: 206px;
}

:host ::ng-deep .ui-autocomplete-multiple-container {
  min-height: 34px;
  padding: 3px 6px !important;
}

.kTagsContainer {
  ktags {
    width: 100%;
    margin-left: 0;

    ::ng-deep .kTags {
      width: auto;
      padding: 7px;
    }
  }
}
