@import '../../../../styles/variables';

:host {
  display: block;
  width: 100%;
  height: 100%;
}
.kMiscFilters ::ng-deep .ui-multiselect {
  width: 100% !important;
}
app-location-filters ::ng-deep app-dropdown-filter{
  margin-right: 0;
}
.kRefineFilters {
  width: 100%;
  height: auto;
  margin-bottom: 0 !important;

  .kRefineFiltersMain {
    height: 100%;

    .kFilterContainer {
      padding: 32px 24px 16px 24px;
      display: flex;
      flex-direction: column;

      .kFilterContainerRow {
        display: flex;
        &:not(:first-child) {
          margin-top: 24px;
        }
      }

      .kListFilters {
        display: flex;
        width: 40%;
        flex: 0 0 auto;
        .kLastItem {
          margin-right: 18px !important;
        }
        .kFiltersGroup {
          display: flex;
          flex-direction: column;
        }
        &.narrow {
          width: 20%;
        }
      }

      .kMiscFilters {
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
        width: 30%;
        &.wide {
          width: 40%;
        }
      }
    }

    .kGroupTitle {
      display: inline-block;
      color: $kGrayscale3;
      font-size: 14px;
      text-transform: uppercase;
      margin-bottom: 16px;
    }

    .kRefineFiltersFooter {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 66px;
      padding: 0 24px;

      button {
        width: 100px;
      }
    }
  }
}

:host ::ng-deep .ui-autocomplete-multiple-container {
  min-height: 34px;
  padding: 3px 6px !important;
}

.kTagsContainer {
  ktags {
    width: 100%;
    margin-left: 0;

    ::ng-deep .kTags {
      width: auto;
      padding: 7px;
    }
  }
}
@media (max-width: 991px) {
  ::ng-deep app-checkboxes-list-filter {
    min-width: 118px !important;
  }
}
ktags.exporting ::ng-deep .kTagsClear {
  display: none;
}
