<div data-aid="report-contributors-highlights" class="kReport kContent kOverrideFAIcons">
  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy" [appAreaBlockerTimeout]="_isBusy">

    <div class="kReportContent">
      <app-report-tabs [tabs]="_tabsData" [showValue]="false" (tabChange)="_onTabChange($event)"></app-report-tabs>
      <div class="kDimensions">
        <app-time-units applyIn="highlights"
                        [dateFilter]="dateFilterComponent"
                        [selectedTimeUnit]="_reportInterval"></app-time-units>
      </div>
      <div class="kChart">
        <div echarts class="kChart"
             *ngIf="_lineChartData && _lineChartData[_selectedMetrics] && _lineChartData[_selectedMetrics]?.series[0]?.data?.length"
             [options]="_lineChartData[_selectedMetrics]"></div>

        <div *ngIf="!_isBusy && (!_lineChartData || !_lineChartData[_selectedMetrics] || !_lineChartData[_selectedMetrics]?.series[0]?.data?.length)" class="kNoResults">
          <span>{{'app.common.noResults' | translate}}</span>
        </div>
      </div>
    </div>

  </k-area-blocker>
</div>

