<div data-aid="report-mini-top-videos" class="kReport kContent kOverrideFAIcons">
  <div class="kFilters">
    <span class="kTitle">{{'app.engagement.topVideos' | translate}}</span>
    <kInputHelper>
      <span>{{'app.engagement.topVideos_tt' | translate}}</span>
    </kInputHelper>
  </div>
  <div class="kReportContent">
    <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">
      <app-engagement-top-videos-table *ngIf="_isCompareMode"
                                       name="compare"
                                       [entryDetails]="_entryDetails"
                                       [isCompareMode]="_isCompareMode"
                                       [tableData]="_compareTableData"
                                       [dates]="_compareDates"
                                       [firstTimeLoading]="_compareFirstTimeLoading"
                                       [columns]="_columns"></app-engagement-top-videos-table>
      <app-engagement-top-videos-table name="current"
                                       [tableData]="_tableData"
                                       [entryDetails]="_entryDetails"
                                       [showDivider]="_isCompareMode"
                                       [isCompareMode]="_isCompareMode"
                                       [dates]="_currentDates"
                                       [firstTimeLoading]="_firstTimeLoading"
                                       [columns]="_columns"></app-engagement-top-videos-table>
    </k-area-blocker>
  </div>
</div>
