:host {
  display: inline-block;
  margin: 0 16px;
}

.kCompareMetric {
  display: flex;
  align-items: center;

  .kCompareMetricLabel {
    margin-right: 12px;
  }
}

.kOptionsLabelWrapper {
  display: flex;
  align-items: center;

  &.kItemLabel {
    width: calc(100% - 15px);
  }

  .kOptionLabel {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .kCompareMetricBullet {
    font-size: 18px;
    font-style: normal;
    margin-right: 8px
  }
}

:host ::ng-deep {
  .p-state-focus {
    outline: 5px auto rgba(0, 150, 255, 1) !important;
  }

  .p-dropdown {
    width: 200px !important;
  }

  .kCompareMetric {
    .p-dropdown {
      width: 200px !important;
    }

    .p-dropdown-item {
      position: relative;

      &:after {
        position: absolute;
        right: 3px;
        top: 9px;
      }
    }
  }
}
