<div class="kReport kOverrideFAIcons">
  <div class="kReportHeader">
    <span class="kTitle">{{'app.audience.technology.title' | translate}}</span>
    <app-date-filter #dateFilter
                     [dateRange]="_dateRange"
                     [showCompare]="false"
                     (filterChange)="_onDateFilterChange($event)"></app-date-filter>
  </div>

  <div class="kFilters">
    <span class="kTitle">{{'app.audience.technology.devicesOverview' | translate}}</span>
  </div>

  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">

    <div class="kReportContent">
      <app-report-tabs [tabs]="_tabsData" (tabChange)="_onTabChange($event)"></app-report-tabs>
      <div class="kChart">
        <div echarts class="kChart" [options]="_barChartData[_selectedMetrics]"></div>
      </div>
    </div>

  </k-area-blocker>
</div>

<div class="kReport kOverrideFAIcons">
  <div class="kFilters">
    <span class="kTitle">{{'app.audience.technology.topBrowsers' | translate}}</span>
  </div>

  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">

    <div class="kReportContent">
    </div>

  </k-area-blocker>
</div>

<div class="kReport kOverrideFAIcons">
  <div class="kFilters">
    <span class="kTitle">{{'app.audience.technology.topOS' | translate}}</span>
  </div>

  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">

    <div class="kReportContent">
    </div>

  </k-area-blocker>
</div>
