<div data-aid="report-group-technology">
  <app-devices-overview #overview
                        [filter]="_filterEvent"
                        [allowedDevices]="_allowedDevices"
                        (metricChanged)="_selectedMetric = $event"
                        (devicesListChange)="_onDevicesListChange($event)"
                        (deviceFilterChange)="_onDeviceFilterChange($event)">
    <div class="kReportHeader">
      <span class="kTitle">{{'app.audience.technology.title' | translate}}</span>
      <app-export-csv name="technology"
                      [width]="260"
                      [reports]="_exportConfig"
                      [dateFilter]="_filterEvent"></app-export-csv>
      <app-date-filter #dateFilter
                       name="technology"
                       [dateRange]="_dateRange"
                       [showCompare]="false"
                       (filterChange)="_onDateFilterChange($event)"></app-date-filter>
    </div>
  </app-devices-overview>

  <app-top-browsers [filter]="_filterEvent"
                    [selectedMetric]="_selectedMetric"
                    [devicesList]="_devicesList"
                    [deviceFilter]="_devicesFilter"
                    (deviceFilterChange)="_onReportDeviceFilterChange()"
                    (onDrillDown)="_onDrillDown($event)"></app-top-browsers>

  <app-top-os [filter]="_filterEvent"
              [selectedMetric]="_selectedMetric"
              [devicesList]="_devicesList"
              [deviceFilter]="_devicesFilter"
              (deviceFilterChange)="_onReportDeviceFilterChange()"
              (onDrillDown)="_onDrillDown($event)"></app-top-os>
</div>
