@import '../../../../../../styles/variables';

:host {
  display: block;
  width: 100%;
  height: 100%;
}

.kNoResults {
  display: flex;
  width: 100%;
  height: 280px;
  align-items: center;
  justify-content: center;

  span {
    font-size: 28px;
    color: $kGrayscale3;
  }
}
