@import '../../../../../../styles/variables';

:host {
  position: relative;
  overflow: visible;
}

.kDateFilter {
  display: flex;
  align-items: center;

  .kLabel {
    color: $kGrayscale1;
    margin-right: 8px;
  }

  .kMargin {
    margin-left: 16px;
  }

  .datesRangeDropDown {
    background-color: white;
    min-width: 210px;
    height: 34px;
    border: 1px solid $kGrayscale4;
    border-radius: 3px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
      border-color: $kPrimary;
    }

    &:active {
      box-shadow: 0 0 0 3px rgba(0, 167, 132, 0.4);
    }

    span {
      font-size: 15px;
      white-space: nowrap;
      margin-right: 12px;
    }

    i {
      margin-left: auto;
      font-size: 12px;
      color: $kGrayscale3;
    }
  }
}

.kPopup {
  display: block;
  width: 352px;
  max-height: 504px;
  height: auto;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.24) !important;
  position: absolute;
  top: 45px;
  right: 0;
  z-index: 999;
}

.kDateFilterPopup {
  height: 100%;
  border: 1px solid $kGrayscale5;
  border-radius: 4px;

  .kFilters {
    width: 100%;
    height: 100%;

    &.kPreset {
      display: flex;
      align-items: flex-start;

      .col {
        width: 50%;
        display: flex;
        flex-direction: column;

        .kTitle {
          font-size: 14px;
          color: $kGrayscale3;
          padding-left: 24px;
          margin-bottom: 8px;
        }

        p-radiobutton {
          width: 100%;
          height: 32px;
          box-sizing: border-box;
          cursor: pointer;

          &:hover {
            background-color: $kGrayscale6;
          }

          ::ng-deep .ui-radiobutton {
            float: right;
            margin-right: 16px;

            .ui-radiobutton-box {
              display: none;

              &.ui-state-active {
                display: block;
                border: none;
                margin-top: 7px;
                background: transparent;

                .pi-circle-on:before {
                  content: "\e91c";
                  color: $kGrayscale1;
                  font-size: 14px;
                }
              }
            }
          }

          ::ng-deep .ui-radiobutton-label {
            font-weight: normal;
            margin-left: 24px;
            display: block;
            width: 100%;
            height: 36px;
            padding-top: 7px;
            cursor: pointer;

            &.ui-label-active {
              font-weight: 700;
            }
          }
        }
      }
    }

    &.kSpecific {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .kMainCalendar {
        ::ng-deep .ui-calendar .ui-datepicker {
          width: 304px;
          border-bottom: none;
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
          border-left: none;

          .ui-datepicker-calendar td:not(.ui-state-disabled) a:hover {
            background-color: $kPrimary;
          }
        }
      }

      .kTimeSelectorsGroup {
        display: flex;

        p-calendar ::ng-deep .ui-calendar .ui-datepicker {
          width: 152px;
          border-top: none;
          border-bottom: 1px solid #d9d9d9;
          border-radius: 0 0 3px 3px;
        }

        .kTimeSelectorWrapper {
          display: flex;
          flex-direction: column;

          .kTimeSelector {
            position: relative;

            &.kInvalid {
              border: 1px solid $kDandger !important;
              border-radius: 3px !important;
            }

            &.kLeft {
              ::ng-deep .ui-calendar .ui-datepicker {
                border-bottom-right-radius: 0;
                border-right: none;
              }
            }

            &.kRight {
              ::ng-deep .ui-calendar .ui-datepicker {
                border-bottom-left-radius: 0;
              }
            }

            ::ng-deep .ui-timepicker {
              padding-left: 50px;
            }

            .kLabel {
              position: absolute;
              z-index: 1;
              color: $kGrayscale1;
              font-size: 14px;
              top: 20px;
              left: 20px;
            }
          }

          .kError {
            font-size: 14px;
            color: $kDandger;
            margin-bottom: -20px;
          }
        }

      }
    }
  }

  .kViews {
    width: 100%;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    justify-content: center;

    ::ng-deep p-selectbutton .ui-button {
      min-width: 147px;
    }
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $kGrayscale4;
    margin-top: 20px;
    margin-bottom: 0px;
    padding: 0;
  }

  button {
    width: 80px;
    margin-left: 246px;
    margin-bottom: 24px;
    margin-top: 24px;
  }
}
