<div class="kDateFilter kOverrideFAIcons">
  <div class="datesRangeDropDown" (click)="op.toggle($event); openPopup()">
    <span>{{_dateRangeLabel}}</span>
    <i class="kIcondropdown_arrow_bottom"></i>
  </div>
</div>

<k-overlayPanel #op [offset]="65">
  <div class="kDateFilterPopup kOverrideFAIcons">
    <div class="kViews">
      <p-selectButton [options]="viewItems" [(ngModel)]="selectedView"></p-selectButton>
    </div>
    <div class="kFilters kPreset" *ngIf="selectedView==='preset'">
      <div class="col">
        <span class="kTitle">{{'app.dateFilter.last' | translate | uppercase}}</span>
        <p-radioButton *ngFor="let _dateRangeLast of leftDateRangeItems"
                       name="dates"
                       [label]="_dateRangeLast.label"
                       [value]="_dateRangeLast.value"
                       [kTooltip]="_dateRangeLast.value.tooltip"
                       [placement]="'left'"
                       [(ngModel)]="selectedDateRange"></p-radioButton>
      </div>
      <div class="col">
        <span class="kTitle">&nbsp;</span>
        <p-radioButton *ngFor="let _dateRangeCurrent of rightDateRangeItems"
                       name="dates"
                       [label]="_dateRangeCurrent.label"
                       [value]="_dateRangeCurrent.value"
                       [kTooltip]="_dateRangeCurrent.value.tooltip"
                       [placement]="'right'"
                       [(ngModel)]="selectedDateRange"></p-radioButton>
      </div>
    </div>

    <div class="kFilters kSpecific" *ngIf="selectedView==='specific'">
      <p-calendar class="kMainCalendar"
                  selectionMode="range"
                  [inline]="true"
                  [showTime]="false"
                  [maxDate]="_maxDate"
                  [minDate]="_minDate"
                  [yearRange]="'2010:2050'"
                  [(ngModel)]="specificDateRange"></p-calendar>
      <div class="kTimeSelectorsGroup">
        <div class="kTimeSelector kLeft">
          <span class="kLabel">{{'app.entryLive.from' | translate}}</span>
          <p-calendar [inline]="true"
                      [timeOnly]="true"
                      [(ngModel)]="_fromTime"
                      (ngModelChange)="_timeChange('from')"></p-calendar>
        </div>
        <div class="kTimeSelector kRight">
          <span class="kLabel">{{'app.entryLive.to' | translate}}</span>
          <p-calendar [inline]="true"
                      [timeOnly]="true"
                      [(ngModel)]="_toTime"
                      (ngModelChange)="_timeChange('to')"></p-calendar>
        </div>
      </div>
    </div>
    <hr>
    <button pButton class="kButtonBranded"
            [disabled]="_applyDisabled"
            [label]="'app.common.apply' | translate"
            (click)="updateDataRanges(); op.hide()"></button>
  </div>
</k-overlayPanel>
