@import '../../../../../styles/variables';

.kLiveUsers {
  padding: 24px;
  padding-bottom: 0px;
  height: 247px;
  width: auto !important;

  .kHeader {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
    position: relative;

    .kTimePeriodLabel {
      position: absolute;
      right: 0;
      margin: 0;
      top: 0;
    }

    .kMetrics {
      margin-right: 52px;
    }

    .kValue {
      font-size: 42px;
    }

    .kTitle {
      margin-top: 8px;
      display: flex;
      align-items: center;

      .kBullet {
        display: inline-block;
        width: 10px;
        min-width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 8px;

        &.kActiveUsers {
          background-color: #31bea6;
        }

        &.kEngagedUsers {
          background-color: #367064;
        }
      }
    }
  }

  .kChartHolder {
    .kChart {
      width: 100%;
      height: 146px;
      margin-bottom: 0;
    }

    .kNoResults {
      display: flex;
      width: 100%;
      height: 120px;
      align-items: center;
      justify-content: center;

      span {
        font-size: 28px;
        color: $kGrayscale3;
      }
    }
  }
}
