<div [attr.data-aid]="'table-top-videos' + name" class="kTableContainer">
  <span class="kDates" *ngIf="dates">{{dates}}</span>
  <div class="kDividerWrapper">
    <div class="kDivider" *ngIf="showDivider"></div>
    <p-table appScrollTopOnPaging
             dataKey="object_id"
             [customPaginationEvent]="_paginationChanged$"
             [class.kCompareMode]="isCompareMode"
             [value]="_tableData"
             [defaultSortOrder]="-1"
             [sortOrder]="_sortOrder"
             [customSort]="true"
             [sortField]="_sortField"
             (sortFunction)="sortChanged.emit($event)">
      <ng-template pTemplate="header">
        <tr class="kTopVideoHeader">
          <th [ngStyle]="{'width': '60px', 'text-align': 'center'}"></th>
          <th [ngStyle]="{'width': '155px', 'padding-left': '10px'}"></th>
          <th [ngStyle]="{'width': '100%', 'padding-left': '0'}">
            {{'app.engagement.topVideosReport.viewDetails' | translate}}
          </th>
          <ng-container *ngIf="!isCompareMode">
            <th [ngStyle]="{'width': '170px'}" pSortableColumn="count_plays">
              {{'app.engagement.topVideosReport.count_plays' | translate}}
              <p-sortIcon field="count_plays"></p-sortIcon>
            </th>
            <th [ngStyle]="{'width': '220px'}" pSortableColumn="unique_known_users">
              {{'app.engagement.topVideosReport.unique_known_users' | translate}}
              <p-sortIcon field="unique_known_users"></p-sortIcon>
            </th>
            <th [ngStyle]="{'width': '220px'}" pSortableColumn="avg_view_drop_off">
              {{'app.engagement.topVideosReport.avg_view_drop_off' | translate}}
              <p-sortIcon field="avg_view_drop_off"></p-sortIcon>
            </th>
          </ng-container>
          <th [ngStyle]="{'width': '110px', 'overflow': 'visible'}" pSortableColumn="engagement_ranking">
            {{'app.engagement.topVideosReport.score' | translate}}
            <p-sortIcon field="engagement_ranking"></p-sortIcon>
            <!--<kInputHelper>-->
              <!--<span>Scoring formula</span>-->
            <!--</kInputHelper>-->
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr class="kTopVideoRow">
          <td [ngStyle]="{'width': '60px', 'text-align': 'center'}">
            <div class="kReportRowIndex kFirst" *ngIf="data.index === 1">
              <img src="assets/images/ribbon_large.svg">
              <span>{{data.index}}</span>
            </div>
            <div class="kReportRowIndex" *ngIf="data.index !== 1">
              <span>{{data.index}}</span>
            </div>
          </td>
          <td [ngStyle]="{'width': '155px', 'padding-left': '10px'}">
            <div class="kThumbnailHolder" #holder
                 (click)="_drillDown(data)">
              <img [src]="data.thumbnailUrl"
                   onError="this.onerror=null;this.style.display='none'"
                   (error)="holder.classList.add('error')">
            </div>
          </td>
          <td [ngStyle]="{'width': '100%', 'padding-left': 0}">
            <div class="kTopVideoEntryColumn"
                 (click)="_drillDown(data)"
                 (mouseleave)="_hideOverlay()"
                 (mouseenter)="_showOverlay($event, data['object_id'])">
              <span class="kTableColumn kEntryName">{{data['entry_name']}}</span>
              <div class="kEntryDetails">
                <span class="kTableColumn">
                  {{'app.engagement.topVideosReport.by' | translate}} {{data['creator_name']}}
                </span>
              </div>
            </div>
          </td>
          <ng-container *ngIf="!isCompareMode">
            <td [ngStyle]="{'width': '170px'}">
              <div class="kTableCell">
                <i class="icon-small-play"></i>
                <span class="kCellValue">{{data['count_plays']}}</span>&nbsp;
              </div>
            </td>
            <td [ngStyle]="{'width': '220px'}">
              <div class="kTableCell">
                <i class="icon-viewer-contributor"></i>
                <span class="kCellValue">{{data['unique_known_users']}}</span>&nbsp;
              </div>
            </td>
            <td [ngStyle]="{'width': '220px'}">
              <div class="kTableCell">
                <i class="icon-small-time"></i>
                <span class="kCellValue">{{data['avg_view_drop_off']}}</span>&nbsp;
              </div>
            </td>
          </ng-container>
          <td class="kScore" [ngStyle]="{'width': '110px', 'overflow': 'visible', 'height': '80px'}">
            <div *ngIf="data['status']?.length">
              <span class="kEntryStatus">{{data['status']}}</span>
              <span>{{data['engagement_ranking']}}<span class="kTop">/10</span></span>
            </div>
            <span *ngIf="!data['status']?.length">{{data['engagement_ranking']}}<span class="kTop">/10</span></span>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <div class="emptymessage">
          <div class="kEmptyMessage" *ngIf="!firstTimeLoading">{{'app.common.noResults' | translate}}</div>
          <div class="kEmptyMessage" *ngIf="firstTimeLoading">&nbsp;</div>
        </div>
      </ng-template>
    </p-table>
  </div>
  <p-paginator [rows]="_pager.pageSize"
               [first]="(_pager.pageIndex - 1) * _pager.pageSize"
               [totalRecords]="_totalCount"
               (onPageChange)="_onPaginationChanged($event)"></p-paginator>
</div>

<k-overlayPanel #overlay appendTo="body">
  <app-entry-details-overlay *ngIf="_entryData" [entryData]="_entryData"></app-entry-details-overlay>
</k-overlayPanel>
