<div class="kTableContainer">
  <p-table sortField="count_plays"
           [value]="tableData"
           [customSort]="true"
           [sortOrder]="-1"
           (sortFunction)="_onSortChanged($event)">
    <ng-template pTemplate="header">
      <tr>
        <th [ngStyle]="{'width': '60px'}">{{'app.engagement.topVideosReport.index' | translate}}</th>
        <th [ngStyle]="{'width': '80px'}"></th>
        <th *ngFor="let col of columns" [pSortableColumn]="col">
          <div class="kColumnHeader">
            <span [kTooltip]="'app.engagement.topVideosReport.' + col | translate" [showOnEllipsis]="true">
              {{'app.engagement.topVideosReport.' + col | translate}}
            </span>
            <p-sortIcon [field]="col"></p-sortIcon>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
      <tr>
        <td>{{data.index}}</td>
        <td>
          <div class="kThumbnailHolder" #holder>
            <img [src]="data.thumbnailUrl"
                 onError="this.onerror=null;this.style.display='none'"
                 (error)="holder.classList.add('error')">
          </div>
        </td>
        <td *ngFor="let col of columns; let i = index" [class.kHighlight]="i===0">
          <span>{{data[col]}}</span>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <div class="emptymessage">
        <div class="kEmptyMessage" *ngIf="!firstTimeLoading">{{'app.common.noResults' | translate}}</div>
        <div class="kEmptyMessage" *ngIf="firstTimeLoading">&nbsp;</div>
      </div>
    </ng-template>
  </p-table>
  <p-paginator [rows]="_pager?.pageSize"
               [first]="(_pager?.pageIndex - 1) * _pager?.pageSize"
               [totalRecords]="totalCount"
               (onPageChange)="_onPaginationChanged($event)"></p-paginator>
</div>
