<div class="kReport kNoMargin kOverrideFAIcons">
  <div class="kFilters">
    <span *ngIf="!_drillDown.length" class="kTitle">{{'app.entry.topCountries' | translate}}</span>
    <div class="kBreadcrumbs" *ngIf="_drillDown.length">
      <a (click)="entryGeo.drillDown('')">{{'app.audience.geo.top' | translate}}</a>
      <span class="separator">/</span>
      <span *ngIf="_drillDown.length === 1">{{_drillDown[0]}}</span>
      <a *ngIf="_drillDown.length === 2" (click)="_onDrillDown(_drillDown[0])">{{_drillDown[0]}}</a>
      <span *ngIf="_drillDown.length === 2" class="separator">/</span>
      <span *ngIf="_drillDown.length === 2">{{_drillDown[1]}}</span>
    </div>
  </div>

  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">
    <app-entry-geo #entryCompareGeo *ngIf="_isCompareMode"
                   [mapData]="_mapData"
                   [tableData]="_compareTableData"
                   [isBusy]="_isBusy"
                   [isCompareMode]="_isCompareMode"
                   [showTrend]="false"
                   [periodTitle]="_comparePeriodTitle"
                   (onDrillDown)="_onDrillDown($event)"></app-entry-geo>
    <app-entry-geo #entryGeo
                   [mapData]="_mapData"
                   [tableData]="_tableData"
                   [isBusy]="_isBusy"
                   [periodTitle]="_currentPeriodTitle"
                   [isCompareMode]="_isCompareMode"
                   [showTrend]="_isCompareMode"
                   (onDrillDown)="_onDrillDown($event)"></app-entry-geo>

  </k-area-blocker>
</div>

