<div data-aid="report-other-events" class="kReport kSocialHighlights kOverrideFAIcons">

  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">


    <div class="reportContent">
      <div class="header">
        <span class="title">{{'app.userEp.other' | translate}}</span>
        <kInputHelper>
          <span>{{'app.userEp.other_tt' | translate}}</span>
        </kInputHelper>
      </div>

      <div class="row">
        <i class="icon-ic_registration"></i>
        <span class="value">{{totalEventRegistrations}}</span>
        <span class="label">{{'app.userEp.eventReg' | translate}}</span>
      </div>

      <div class="row">
        <i class="icon-calendar"></i>
        <span class="value">{{totalEventAttendance}}</span>
        <span class="label">{{'app.userEp.eventsAtt' | translate}}</span>
      </div>

<!--      <div class="row">-->
<!--        <i class="icon-calendar"></i>-->
<!--        <span class="value">{{totalSessionsCount}}</span>-->
<!--        <span class="label">{{'app.userEp.sessionsAtt' | translate}}</span>-->
<!--      </div>-->
    </div>

  </k-area-blocker>
</div>

