<div #metricsSelector id="discovery-metrics-selector">
  <div class="metricsDropDown" #toggleMetrics (click)="toggleDropdown()">
    <span [innerHTML]="selection"></span>
    <i *ngIf="!_popupOpened" class="kIcondropdown_arrow_bottom"></i>
    <i *ngIf="_popupOpened" class="kIcondropdown_arrow_top"></i>
  </div>
</div>

<kPopupWidget [appendTo]="metricsSelector"
              [popupWidth]="460"
              [targetRef]="toggleMetrics"
              [closeBtn]="false"
              [targetOffset]="{x: 0, y: 40}"
              (onOpen)="_onPopupOpen()"
              (onClose)="_onPopupClose()">
  <ng-template>
    <div style="padding: 40px">Hello Viktor!</div>
  </ng-template>
</kPopupWidget>
