<div class="kReport kTotals kOverrideFAIcons">
  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">
    <div style="display: flex; flex-direction: column; width: 100%">
      <div class="kPlayer">
        <app-k-player #player [id]="'analytics'" [cdnUrl]="serverUri" [pid]="_playerConfig.pid"
                      [uiconfid]="_playerConfig.uiconfid" [entryid]="_playerConfig.entryid"
                      [flashvars]="_playerConfig.flashvars" [lazy]="true"
                      (kalturaPlayerReady)="onPlayerReady($event)"></app-k-player>

      </div>

      <div class="chartContainer">
        <div echarts class="kChart" [options]="_chartOptions"></div>
        <div class="kScrubber" [style.width.%]="_playProgress" [class.kHidden]="!_playerPlayed">
          <div class="kLine"></div>
          <span class="kCurrentTime">{{_currentTime | appDuration}}</span>
        </div>
        <div class="kFooter">
          <span>00:00</span>
          <span class="kDuration">{{_duration | appDuration}}</span>
        </div>
      </div>
    </div>
  </k-area-blocker>
</div>

