@import '../../../../../styles/variables';

:host {
  width: 100%;
}

.kChart {
  background-color: $kGrayscale1;
}

.kReport {
  border-top-left-radius: 3px !important;
  border-top-right-radius: 3px !important;
  overflow: hidden;
  margin-bottom: 0 !important;

  .chartContainer {
    width: 100%;
    min-height: 298px;
    position: relative;
    overflow: hidden;

    .kChart {
      height: 200px;
      width: 100%;
      margin-bottom: 0;
    }

    .noDataFound {
      color: #ffffff;
      font-size: 24px;
      font-weight: bold;
      position: absolute;
      top: 90px;
      width: 100%;
      text-align: center;
    }

    .kScrubber {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 229px;
      border: none;

      .kLine {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 2px;
        background-color: #01accd;
      }

      .kCurrentTime {
        position: absolute;
        width: 120px;
        right: -130px;
        bottom: 8px;
        color: #01accd;
        font-size: 12px;
      }

      pointer-events: none;
    }

    .kFooter {
      display: flex;
      width: 100%;
      color: #FFFFFF;
      padding: 8px;
      box-sizing: border-box;
      font-size: 12px;
      background-color: #222222;

      .kDuration {
        margin-left: auto;
      }
    }

    .kLegend {
      display: flex;
      align-items: center;
      width: 100%;
      background: $kGrayscale1;
      color: #FFFFFF;
      padding: 16px;
      margin-bottom: 24px;

      &.kCompare {
        flex-direction: column;
        align-items: flex-start;

        .kValue:not(:last-child) {
          margin-bottom: 8px;
        }
      }

      .kValue {
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: bold;
        margin-right: 32px;

        .kPeriod {
          margin-right: 16px;
          font-weight: normal;
        }

        .kBullet {
          font-size: 24px;
          line-height: 18px;
          margin-right: 8px;

          &.kUsers {
            color: #31bea6;
          }

          &.kViews {
            color: #487adf;
          }

          &.kCompareUsers {
            color: #60e4cc;
          }

          &.kCompareViews {
            color: #88acf6;
          }
        }

        .kLabel {
          font-size: 15px;
          line-height: 15px;
        }
      }
    }
  }

  .kPlayer {
    position: relative;
    width: 100%;
    height: 480px;

    .playPauseBtn {
      position: absolute;
      bottom: 12px;
      left: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #ffffff;
      font-size: 24px;
      width: 48px;
      height: 48px;
      border-radius: 24px;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

}


:host {
  margin-top: 28px;
}

/* Player overrides start */
:host ::ng-deep #kaltura_player_analytics {
  width: 100% !important;
  height: 100% !important;
}

/* Player overrides end */
