@import '../../../../../styles/variables';
.kReport{
  border-radius: 0 !important;
  .chartContainer {
    width: 100%;
    height: 248px;
    position: relative;
    overflow: hidden;
    .kChart {
      height: 200px;
      width: 100%;
      margin-bottom: 0;
    }
    .kScrubber {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 229px;
      border: none;
      .kLine{
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 2px;
        background-color:  #01accd;
      }
      .kFiller{
        width: 100%;
        height: 200px;
        background-color: rgba(72, 122, 223, 0.08);
        position: relative;
        .kCurrentTime{
          position: absolute;
          width: 120px;
          right: -130px;
          bottom: -22px;
          color: #01accd;
          font-size: 12px;
        }
      }
      pointer-events: none;
    }
    .kFooter{
      display: flex;
      width: 100%;
      color: #FFFFFF;
      padding: 8px;
      box-sizing: border-box;
      font-size: 12px;
      margin-bottom: 20px;
      background-color: #222222;
      .kDuration{
        margin-left: auto;
      }
    }
  }

  .kPlayer {
    position: relative;
    width: 100%;
    height: 480px;
    .playPauseBtn{
      position: absolute;
      bottom: 12px;
      left: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #ffffff;
      font-size: 24px;
      width: 48px;
      height: 48px;
      border-radius: 24px;
      background-color: rgba(0, 0, 0, 0.3);
    }
  }

}


:host {
  margin-top: 28px;
}

/* Player overrides start */
:host /deep/ #kaltura_player_analytics{
  width: 100% !important;
  height: 100% !important;
}
/* Player overrides end */
