@import '../../../../../styles/variables';
.kReport{
  border-radius: 0px !important;
}
.kPlayer {
  position: relative;
  width: 100%;
  height: 480px;
  .chartContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    .kChart {
      height: 100%;
      width: 100%;
    }
  }
}

.kScrubber {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0%;
  height: 100%;
  border: none;
  border-bottom: 20px solid $kSecondary;
  border-right: 2px solid $kSecondary;
  pointer-events: none;
}

.playerFooter{
  width: 100%;
  height: 20px;
  background-color: $kGrayscale1;
}

:host {
  margin-top: 28px;
}

/* Player overrides start */
:host /deep/ #kaltura_player_analytics{
  width: 100% !important;
  height: 100% !important;
}
/* Player overrides end */
