<div class="kTableContainer">
  <span class="kDates" *ngIf="dates">{{dates}}</span>
  <div class="kDividerWrapper">
    <div class="kDivider" *ngIf="showDivider"></div>
    <p-table sortField="count_plays"
             [class.kCompareMode]="isCompareMode"
             [value]="_tableData"
             [customSort]="true"
             [sortOrder]="-1"
             [defaultSortOrder]="-1"
             (sortFunction)="_onSortChanged($event)">
      <ng-template pTemplate="body" let-data>
        <tr class="kTopVideoRow">
          <td [ngStyle]="{'width': '60px', 'text-align': 'center'}">
            <div class="kReportRowIndex kFirst" *ngIf="data.index === 1">
              <img src="assets/images/ribbon_large.svg">
              <span>{{data.index}}</span>
            </div>
            <div class="kReportRowIndex" *ngIf="data.index !== 1">
              <span>{{data.index}}</span>
            </div>
          </td>
          <td [ngStyle]="{'width': '105px', 'padding-left': '10px'}">
            <div class="kUser">
              <i class="icon-small-viewer-contributor"></i>
            </div>
          </td>
          <td [ngStyle]="{'width': '100%', 'padding-left': '0'}">
            <div class="kTopVideoEntryColumn"
                 (mouseleave)="_hideOverlay()"
                 (mouseenter)="_showOverlay($event, data['user_id'])">
              <span class="kTableColumn kEntryName">{{data['creator_name']}}</span>
              <div class="kEntryDetails">
              <span class="kTableColumn">{{'app.contributors.created' | translate}}</span>
              <span class="kTableColumn kCreated">{{data['created_at']}}</span>
              </div>
            </div>
          </td>
          <ng-container *ngIf="!isCompareMode">
            <td [ngStyle]="{'width': '220px'}">
              <div class="kTableCell">
                <i class="icon-small-play"></i>
                <span class="kCellValue">{{data['count_plays']}}</span>&nbsp;
                <span class="kTableColumn"
                      [kTooltip]="'app.contributors.count_plays' | translate"
                      [showOnEllipsis]="true">
              {{'app.contributors.count_plays' | translate}}
            </span>
              </div>
            </td>
            <td [ngStyle]="{'width': '220px'}">
              <div class="kTableCell">
                <i class="icon-small-contribution"></i>
                <span class="kCellValue">{{data['added_entries']}}</span>&nbsp;
                <span class="kTableColumn"
                      [kTooltip]="'app.contributors.added_entries' | translate"
                      [showOnEllipsis]="true">
            {{'app.contributors.added_entries' | translate}}
            </span>
              </div>
            </td>
            <td [ngStyle]="{'width': '220px'}">
              <div class="kTableCell">
                <i class="icon-small-time"></i>
                <span class="kCellValue">{{data['added_msecs']}}</span>&nbsp;
                <span class="kTableColumn"
                      [kTooltip]="'app.contributors.added_msecs' | translate"
                      [showOnEllipsis]="true">
              {{'app.contributors.added_msecs' | translate}}
            </span>
              </div>
            </td>
          </ng-container>
          <!--td class="kScore">
            <span>n/10</span>
          </td!-->
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <div class="emptymessage">
          <div class="kEmptyMessage" *ngIf="!firstTimeLoading">{{'app.common.noResults' | translate}}</div>
          <div class="kEmptyMessage" *ngIf="firstTimeLoading">&nbsp;</div>
        </div>
      </ng-template>
    </p-table>
  </div>
  <p-paginator [rows]="_pager.pageSize"
               [first]="(_pager.pageIndex - 1) * _pager.pageSize"
               [totalRecords]="_totalCount"
               (onPageChange)="_onPaginationChanged($event)"></p-paginator>
</div>

<k-overlayPanel #overlay appendTo="body">
  <app-contributor-details-overlay *ngIf="_userId" [userId]="_userId"></app-contributor-details-overlay>
</k-overlayPanel>
