<div [attr.data-aid]="'table-top-contributors' + name" class="kTableContainer">
  <span class="kDates" *ngIf="dates">{{dates}}</span>
  <div class="kDividerWrapper">
    <div class="kDivider" *ngIf="showDivider"></div>
    <p-table [class.kCompareMode]="isCompareMode"
             [value]="_tableData">
      <ng-template pTemplate="header">
        <tr class="kTopVideoHeader">
          <th [ngStyle]="{'width': '60px', 'text-align': 'center'}"></th>
          <th [ngStyle]="{'width': '155px', 'padding-left': '10px'}"></th>
          <th [ngStyle]="{'width': '100%', 'padding-left': 0}">
            {{'app.contributors.viewDetails' | translate}}
          </th>
          <ng-container *ngIf="!isCompareMode">
            <th [ngStyle]="{'width': '170px'}">
              {{'app.contributors.count_plays' | translate}}
            </th>
            <th [ngStyle]="{'width': '220px'}">
              {{'app.contributors.added_entries' | translate}}
            </th>
            <th [ngStyle]="{'width': '220px'}">{{'app.contributors.added_msecs' | translate}}</th>
          </ng-container>
          <th [ngStyle]="{'width': '130px', 'overflow': 'visible'}">
            {{'app.contributors.score' | translate}}
            <!--<kInputHelper>-->
              <!--<span>Scoring formula</span>-->
            <!--</kInputHelper>-->
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr class="kTopVideoRow">
          <td [ngStyle]="{'width': '60px', 'text-align': 'center'}">
            <div class="kReportRowIndex kFirst" *ngIf="data.index === 1">
              <img src="assets/images/ribbon_large.svg">
              <span>{{data.index}}</span>
            </div>
            <div class="kReportRowIndex" *ngIf="data.index !== 1">
              <span>{{data.index}}</span>
            </div>
          </td>
          <td [ngStyle]="{'width': '105px', 'padding-left': '10px'}">
            <div class="kUser">
              <i class="icon-small-viewer-contributor"></i>
            </div>
          </td>
          <td [ngStyle]="{'width': '100%', 'padding-left': '0'}">
            <div class="kTopVideoEntryColumn"
                 (mouseleave)="_hideOverlay()"
                 (mouseenter)="_showOverlay($event, data['user_id'])">
              <span class="kTableColumn kEntryName">{{data['creator_name']}}</span>
              <div class="kEntryDetails">
              <span class="kTableColumn">{{'app.contributors.created' | translate}}</span>
              <span class="kTableColumn kCreated">{{data['created_at']}}</span>
              </div>
            </div>
          </td>
          <ng-container *ngIf="!isCompareMode">
            <td [ngStyle]="{'width': '220px'}">
              <div class="kTableCell">
                <i class="icon-small-play"></i>
                <span class="kCellValue">{{data['count_plays']}}</span>&nbsp;
              </div>
            </td>
            <td [ngStyle]="{'width': '220px'}">
              <div class="kTableCell">
                <i class="icon-small-contribution"></i>
                <span class="kCellValue">{{data['added_entries']}}</span>
              </div>
            </td>
            <td [ngStyle]="{'width': '220px'}">
              <div class="kTableCell">
                <i class="icon-small-time"></i>
                <span class="kCellValue">{{data['added_msecs']}}</span>
              </div>
            </td>
          </ng-container>
          <td class="kScore" [ngStyle]="{'width': '130px', 'text-align': 'center'}">
            <span *ngIf="data['contributor_ranking'] !== undefined">{{data['contributor_ranking']}}<span class="kTop">/10</span></span>
            <div *ngIf="data['contributor_ranking'] === undefined" [ngStyle]="{display: 'inline-block'}">
              {{'app.common.na' | translate}}
              <i class="kIconhelp_full" [kTooltip]="'app.contributors.noRanking' | translate"></i>
            </div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <div class="emptymessage">
          <div class="kEmptyMessage" *ngIf="!firstTimeLoading">{{'app.common.noResults' | translate}}</div>
          <div class="kEmptyMessage" *ngIf="firstTimeLoading">&nbsp;</div>
        </div>
      </ng-template>
    </p-table>
  </div>
  <p-paginator [rows]="_pager.pageSize"
               [first]="(_pager.pageIndex - 1) * _pager.pageSize"
               [totalRecords]="_totalCount"
               (onPageChange)="_onPaginationChanged($event)"></p-paginator>
</div>

<k-overlayPanel #overlay appendTo="body">
  <app-contributor-details-overlay *ngIf="_userId" [userId]="_userId"></app-contributor-details-overlay>
</k-overlayPanel>
