<div data-aid="filter-entry" class="kRefineFilters kReport">
  <div class="kTagsContainer" *ngIf="_tags.length">
    <span class="kDisclaimer" *ngIf="_showDisclaimer">
      <i class="kIconhelp_full"></i>
      {{'app.filters.disclaimer' | translate}}
    </span>
    <kTags title=""
           labelField="label"
           tooltipField="tooltip"
           [data]="_tags"
           [clearAllLabel]="'app.common.clearAll' | translate"
           (onTagRemove)="_removeFilter($event)"
           (onRemoveAll)="_removeAll()">
    </kTags>
  </div>
  <div *ngIf="showFilters"
       [@state]="_state"
       (@state.done)="_filtersAnimationDone($event)">
    <div class="kRefineFiltersMain">
      <div class="kFilterContainer kOverrideFAIcons">
        <div class="kFilterContainerRow">
          <div class="kFilterContainerCol">
            <app-checkboxes-list-filter *ngIf="_viewConfig?.playbackType"
                                        [label]="'app.filters.playbackType.title' | translate"
                                        [options]="_playbackTypes"
                                        [selectedFilters]="_selectedValues['playbackType']"
                                        (itemSelected)="_onItemSelected($event, 'playbackType')"
                                        (itemUnselected)="_onItemUnselected($event, 'playbackType')"></app-checkboxes-list-filter>

          </div>

          <div class="kFilterContainerCol" *ngIf="_viewConfig.owners">
            <app-owners-filter [selectedFilters]="_selectedValues['users']"
                               [label]="'app.filters.users' | translate"
                               (itemSelected)="_onItemSelected($event, 'users')"
                               (itemUnselected)="_onItemUnselected($event, 'users')"></app-owners-filter>

            <app-country-filter *ngIf="_viewConfig.geo" style="margin-top: 16px"
                                [dateFilter]="_dateFilter"
                                [filterConfig]="countriesFilterConfig"
                                [selectedFilters]="_selectedValues['countries']"
                                (itemSelected)="_onItemSelected($event, 'countries')"
                                (itemUnselected)="_onItemUnselected($event, 'countries')"></app-country-filter>

            <app-domains-filters *ngIf="_viewConfig?.domains" style="margin-top: 24px"
                                 [expandWidth]="!showAutocompleteGroup"
                                 [dateFilter]="_dateFilter"
                                 [filterConfig]="domainsFilterConfig"
                                 [selectedFilters]="_selectedValues['domains']"
                                 (itemSelected)="_onItemSelected($event, 'domains')"></app-domains-filters>

          </div>

          <div class="kFilterContainerCol">
            <app-webcast-device-filter *ngIf="_viewConfig.devices"
              [dateFilter]="_dateFilter"
              [selectedFilters]="_selectedValues['devices']"
              [filterConfig]="filterConfig"
              (itemSelected)="_onItemSelected($event, 'devices')"
              (itemUnselected)="_onItemUnselected($event, 'devices')"></app-webcast-device-filter>

            <app-webcast-browser-filter *ngIf="_viewConfig.browsers"
              [dateFilter]="_dateFilter"
              [filterConfig]="filterConfig"
              [selectedFilters]="_selectedValues['browser']"
              (itemSelected)="_onItemSelected($event, 'browser')"
              (itemUnselected)="_onItemUnselected($event, 'browser')"></app-webcast-browser-filter>

            <app-webcast-os-filter *ngIf="_viewConfig.os"
              [dateFilter]="_dateFilter"
              [selectedFilters]="_selectedValues['os']"
              [filterConfig]="filterConfig"
              (itemSelected)="_onItemSelected($event, 'os')"
              (itemUnselected)="_onItemUnselected($event, 'os')"></app-webcast-os-filter>
          </div>


        </div>
      </div>
      <div class="kRefineFiltersFooter">
        <button type="button" class="kButtonBranded" pButton
                [label]="'app.common.apply' | translate"
                (click)="_apply()"></button>
      </div>
    </div>
  </div>
</div>
