<div class="kReport kMini kOverrideFAIcons">
  <div class="kFilters">
    <span class="kTitle">{{'app.engagement.topVideos' | translate}}</span>
    <a (click)="scrollTo('#top-videos')" class="kDetails">{{'app.common.details' | translate}}</a>
  </div>

  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">
    <div class="kReportContent">
      <div class="kReportRow" *ngFor="let item of _tableData">
        <div class="kReportRowIndex">{{item.index}}</div>
        <div class="kReportRowThumbnail" #holder>
          <img [src]="item.thumbnailUrl"
               onError="this.onerror=null;this.style.display='none'"
               (error)="holder.classList.add('error')">
        </div>
        <div class="kReportRowDetails">
          <span class="kTitle">{{item.entry_name}}</span>
          <span class="kScore">n/10</span>
        </div>
      </div>

    </div>
  </k-area-blocker>
</div>

