@import '../../../../../../styles/variables';
:host /deep/ .kValue{
  font-size: 24px;
  font-weight: 700;
}
:host /deep/ .kUnits{
  font-size: 13px;
  font-weight: 700;
}
.kMini{
  height: 100%;
  .kDetails {
    margin-left: auto;
    white-space: nowrap;
    margin-right: 24px;
  }
  .kVal{
    display: flex;
    align-items: center;
    margin-left: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    .kMiniIcon{
      width: 30px;
      height: 30px;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      margin-right: 20px;
      &.blue{
        background-color: rgba(72,122,223,0.2);
        color: #487ADF;
      }
      &.green{
        background-color: rgba(49,190,166,0.2);
        color: #31BEA6;

      }
      &.orange{
        background-color: rgba(225,150,46,0.2);
        color: #E1962E;
      }
    }
    .value{
      font-size: 24px;
      line-height: 24px;
      font-weight: 700;
      color: $kGrayscale1;
    }
    .title{
      font-size: 18px;
      line-height: 18px;
      color: $kGrayscale1;
      margin-left: 14px;
    }
  }

  .kDates {
    font-size: 15px;
    margin-left: 24px;
    margin-bottom: 16px;
    display: inline-block;
  }

  .kReportRow {
    display: flex;
    align-items: center;
    padding: 0 24px;
    margin-bottom: 20px;

    &.kNoResults {
      font-size: 28px;
      color: $kGrayscale3;
    }

    &:last-child {
      margin-bottom: 0;
    }

    .kReportRowIndex {
      font-size: 18px;
      font-weight: bold;
      color: $kGrayscale3;
      margin-right: 18px;
    }

    .kReportRowThumbnail {
      overflow: hidden;
      position: relative;
      width: 86px;
      height: 48px;
      background-color: $kGrayscale6;
      white-space: nowrap;
      text-align: center;
      border-radius: 3px;
      margin-right: 10px;

      &.error{
        border: 1px solid $kGrayscale4;
      }
      img {
        position: absolute;
        left: -100%;
        right: -100%;
        top: -100%;
        bottom: -100%;
        margin: auto;
        width: 86px;
        height: auto;
        border-radius: 3px;
      }
    }

    .kReportRowDetails {
      display: flex;
      flex-direction: column;
      min-width: 0;

      .kTitle {
        color: $kGrayscale1;
        font-weight: bold;
        margin-bottom: 8px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .kScore {
        color: $kGrayscale3;
      }

    }
  }
}

