<div data-aid="report-performance-highlights" class="kReport kOverrideFAIcons">
  <div class="kFilters">
    <span class="kTitle" [class.drillDownRoot]="_drillDown.label.length" (click)="drillUp()">{{'app.category.performances' | translate}}</span>
    <span class="kTitle drillDownRoot kSlash" *ngIf="_drillDown.label.length">/</span>
    <span class="kDrilldown" *ngIf="_drillDown.label.length">{{_drillDown.label}}</span>
    <i *ngIf="_drillDown.label.length && _showExternalLink" (click)="navigateToDrilldown()" class="kIconexternal_link"
       [kTooltip]="'app.category.' + _tableMode + 'DrillDown' | translate"></i>
  </div>
  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">
    <div class="kReportContent">
      <app-report-tabs [tabs]="_tabsData" [showValue]="false" (tabChange)="_onTabChange($event)"></app-report-tabs>
      <div class="kDimensions">
        <app-time-units applyIn="performance"
                        [dateFilter]="dateFilterComponent"
                        [selectedTimeUnit]="_reportInterval"></app-time-units>
      </div>
      <div class="kChart">
        <div echarts class="kChart"
             *ngIf="_lineChartData && _lineChartData[_selectedMetrics] && _lineChartData[_selectedMetrics]?.series[0]?.data?.length"
             [options]="_lineChartData[_selectedMetrics]"></div>

        <div
          *ngIf="!_isBusy && (!_lineChartData || !_lineChartData[_selectedMetrics] || !_lineChartData[_selectedMetrics]?.series[0]?.data?.length)"
          class="kNoResults">
          <span>{{'app.common.noResults' | translate}}</span>
        </div>
      </div>
      <div class="kLegend" *ngIf="_showCustomLegend">
        <div class="line" [ngStyle]="{'background-color': _lineChartData[_selectedMetrics]?.color[0]}"></div>
        <span>{{'app.category.graphs.category_' + _selectedMetrics | translate}}</span>
        <div class="dashed margin" [ngStyle]="{'border-top': '3px dotted ' + _lineChartData[_selectedMetrics]?.color[0]}"></div>
        <span>{{'app.category.graphs.context_' + _selectedMetrics | translate}}</span>
      </div>
      <div class="kTable">
        <div class="kToggle" [class.kHidden]="_tableMode === 'user' || _tableMode === 'entry'">
          <i [class.kIcondropdown_arrow_bottom]="!_showTable" [class.kIcondropdown_arrow_top]="_showTable"></i>
          <a (click)="_toggleTable()">
            {{(_showTable ? 'app.common.hideDetails' : 'app.common.viewDetails') | translate}}
          </a>
        </div>
        <div class="kTableContainer" [class.kOpen]="_showTable" [class.kClose]="!_showTable">
          <div class="kTableModeSelector" [class.kHidden]="_tableMode === 'user' || _tableMode === 'entry'">
            <p-dropdown [style]="{'width': '172px'}"
                        [options]="_tableModesOptions"
                        (ngModelChange)="_onChangeMode()"
                        [(ngModel)]="_tableMode">
              <ng-template let-option pTemplate="selectedItem">
                <div class="kOptionsLabelWrapper">
                  <i class="kIcon" [ngClass]="option.value | tableModeIcon"></i>
                  <span>{{option.label}}</span>
                </div>
              </ng-template>
              <ng-template let-option pTemplate="item">
                <div class="kOptionsLabelWrapper">
                  <i class="kIcon" [ngClass]="option.value | tableModeIcon"></i>
                  <span>{{option.label}}</span>
                </div>
              </ng-template>
            </p-dropdown>
          </div>

          <ng-container [ngSwitch]="_tableMode">
            <app-dates-table *ngSwitchCase="_tableModes.dates"
                             [data]="_datesTableData"
                             [sortField]="_sortField"
                             [currentPeriod]="_currentPeriod"
                             [comparePeriod]="_comparePeriod"
                             [isCompareMode]="_isCompareMode"
                             [reportInterval]="_reportInterval"
                             [firstTimeLoading]="_firstTimeLoading"></app-dates-table>

            <ng-container *ngSwitchCase="_tableModes.users">
              <app-user-engagement-filter *ngIf="!_isMultiAccount"
                                          [totalCount]="usersTableComponent.totalCount"
                                          [dateFilter]="_dateFilter"
                                          (filterChange)="_onRefineFilterChange($event)"></app-user-engagement-filter>

              <app-users-table #usersTableComponent
                               (drillDown)="onDrillDown('user', $event)"
                               [filterChange]="_filterChange$"
                               [filter]="_filter"
                               [compareFilter]="_compareFilter"
                               [isCompareMode]="_isCompareMode"
                               [reportInterval]="_reportInterval"
                               [firstTimeLoading]="_firstTimeLoading"></app-users-table>
            </ng-container>

            <ng-container *ngSwitchCase="_tableModes.entries">
              <app-entry-engagement-filter *ngIf="!_isMultiAccount"
                                          [totalCount]="entriesTableComponent.totalCount"
                                          [dateFilter]="_dateFilter"
                                          (filterChange)="_onRefineFilterChange($event)"></app-entry-engagement-filter>

              <app-entries-table #entriesTableComponent
                                 (drillDown)="onDrillDown('entry', $event)"
                                 [filterChange]="_filterChange$"
                                 [filter]="_filter"
                                 [compareFilter]="_compareFilter"
                                 [isCompareMode]="_isCompareMode"
                                 [reportInterval]="_reportInterval"
                                 [firstTimeLoading]="_firstTimeLoading"></app-entries-table>
            </ng-container>

            <ng-container *ngSwitchCase="_tableModes.user">
              <span class="kTotalCount">{{'app.entry.totalEntriesCount' | translate: { '0': entriesTableComponentDrilldown.totalCount } }}</span>
              <app-entries-table #entriesTableComponentDrilldown
                                 [filterChange]="_filterChange$"
                                 [filter]="_filter"
                                 [compareFilter]="_compareFilter"
                                 [isCompareMode]="_isCompareMode"
                                 [reportInterval]="_reportInterval"
                                 [userDrilldown]="true"
                                 [firstTimeLoading]="_firstTimeLoading"></app-entries-table>
            </ng-container>

            <ng-container *ngSwitchCase="_tableModes.entry">
              <span class="kTotalCount">{{'app.entry.totalViewersCount' | translate: { '0': usersTableComponentDrilldown.totalCount } }}</span>

              <app-users-table #usersTableComponentDrilldown
                               [filterChange]="_filterChange$"
                               [filter]="_filter"
                               [compareFilter]="_compareFilter"
                               [isCompareMode]="_isCompareMode"
                               [reportInterval]="_reportInterval"
                               [entryDrilldown]="true"
                               [firstTimeLoading]="_firstTimeLoading"></app-users-table>
            </ng-container>

          </ng-container>
        </div>
      </div>
    </div>
  </k-area-blocker>
</div>

