@import '../../../../../styles/variables';
:host {
  width: 100%;
  height: 100%;
}
.kFilters .kTitle.drillDownRoot{
  color: $kGrayscale3;
  padding-left: 24px;
  padding-right: 8px;
  width: auto;
  cursor: pointer;
  &.kSlash{
    padding-left: 0px;
    padding-right: 8px;
  }
}
.kDrilldown {
  font-size: 20px;
  color: $kGrayscale1;
  font-weight: bold;
}
.kIconexternal_link {
  color: #999999;
  font-size: 24px;
  margin-left: 4px;
  margin-top: 3px;
  cursor: pointer;
}
.kTotalCount {
  padding-left: 24px;
  margin-bottom: 16px;
  display: block;
}
.kNoResults {
  display: flex;
  width: 100%;
  height: 280px;
  align-items: center;
  justify-content: center;

  span {
    font-size: 28px;
    color: $kGrayscale3;
  }
}
.kReport .kReportContent .kChart{
  margin-bottom: 0px;
}
.kReport{
  margin-bottom: 0px !important;
}
.kTableModeSelector {
  margin-left: 24px;
  margin-bottom: 16px;

  .kOptionsLabelWrapper {
    display: flex;
    align-items: center;
    width: calc(100% - 15px);
    height: 100%;
    font-weight: normal;

    .kIcon {
      color: $kGrayscale3;
      margin-right: 12px;
      font-size: 16px;
      font-weight: bold;
    }
  }
}
.kLegend {
  display: flex;
  align-items: center;
  margin-left: 24px;
  margin-bottom: 20px;
  .dashed {
    width: 16px;
    margin-left: 20px;
    margin-right: 6px;
    height: 0px;
  }
  .line {
    width: 12px;
    height: 3px;
    margin-right: 6px;
    &.margin {
      margin-left: 20px;
    }
  }
  span {
    font-size: 12px;
    font-weight: bold;
    color: $kGrayscale1;
  }
}
:host ::ng-deep .kGraphTooltip {
  .row {
    display: flex;
    align-items: center;
    .dashed {
      width: 16px;
      margin-right: 4px;
      height: 0px;
    }
    .line {
      width: 16px;
      height: 3px;
      margin-right: 4px;
    }
    .label {
      margin-left: 4px;
      margin-right: 4px;
      color: #333333;
      font-size: 14px;
      font-weight: bold;
    }
    .value {
      color: #333333;
      font-size: 14px;
      font-weight: bold;
    }
  }
}
:host ::ng-deep .kTableModeSelector {
  .ui-dropdown {
    width: 172px !important;
  }
  .ui-dropdown-item {
    position: relative;

    &:after {
      position: absolute;
      right: 3px;
      top: 9px;
    }
  }
}
