<div [attr.data-aid]="'table-top-videos' + name" class="kTableContainer">
  <span class="kDates" *ngIf="dates">{{dates}}</span>
  <div class="kDividerWrapper">
    <div class="kDivider" *ngIf="showDivider"></div>
    <p-table appScrollTopOnPaging
             [customPaginationEvent]="_paginationChanged$"
             [class.kCompareMode]="isCompareMode"
             [value]="_tableData">
      <ng-template pTemplate="header">
        <tr class="kTopVideoHeader">
          <th [ngStyle]="{'width': '60px', 'text-align': 'center'}">#</th>
          <th [ngStyle]="{'width': '112px', 'padding-left': '12px'}"></th>
          <th [ngStyle]="{'width': '40%', 'padding-left': '0'}">{{'app.user.topContentReport.name' | translate}}</th>
          <th [ngStyle]="{'width': '20%'}" [kTooltip]="'app.user.topContentReport.count_plays' | translate" [showOnEllipsis]="true">
            {{'app.user.topContentReport.count_plays' | translate}}
          </th>
          <th [ngStyle]="{'width': '20%'}" [kTooltip]="'app.user.topContentReport.unique_known_users' | translate" [showOnEllipsis]="true">
            {{'app.user.topContentReport.unique_known_users' | translate}}
          </th>
          <th [ngStyle]="{'width': '20%'}" [kTooltip]="'app.user.topContentReport.avg_completion_rate' | translate" [showOnEllipsis]="true">
            {{'app.user.topContentReport.avg_completion_rate' | translate}}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-data>
        <tr class="kTopVideoRow">
          <td [ngStyle]="{'width': '60px', 'text-align': 'center'}">
            <span>{{data['level']}}</span>
          </td>
          <td [ngStyle]="{'width': '112px', 'padding-left': '12px'}">
            <div class="kThumbnailHolder" #holder>
              <app-thumbnail-loader [thumbnailUrl]="data.thumbnailUrl" (onerrror)="holder.classList.add('error')"></app-thumbnail-loader>
            </div>
          </td>
          <td [ngStyle]="{'width': '40%', 'padding-left': 0}">
              <span class="kTableColumn kEntryName">{{data['name']}}</span>
          </td>
          <td [ngStyle]="{'width': '20%'}">{{data['count_node_plays']}}</td>
          <td [ngStyle]="{'width': '20%'}">{{data['unique_known_users']}}</td>
          <td [ngStyle]="{'width': '20%'}">{{data['avg_completion_rate']}}</td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <div class="emptymessage">
          <div class="kEmptyMessage" *ngIf="!firstTimeLoading">{{'app.common.noResults' | translate}}</div>
          <div class="kEmptyMessage" *ngIf="firstTimeLoading">&nbsp;</div>
        </div>
      </ng-template>
    </p-table>
  </div>
  <p-paginator [rows]="_pager.pageSize"
               [first]="(_pager.pageIndex - 1) * _pager.pageSize"
               [totalRecords]="_totalCount"
               (onPageChange)="_onPaginationChanged($event)"></p-paginator>
</div>
