<div class="kReport kContent kOverrideFAIcons">
  <div class="kReportHeader">
    <span class="kTitle">{{'app.bandwidth.publisherStorage' | translate}}</span>
    <app-export-csv [headers]="_csvExportHeaders" [totalCount]="_totalCount" [reportInputFilter]="filter" [reportType]="reportType"
                    [dimension]="_selectedMetrics" [reportText]="'app.common.noMsg' | translate" [reportTitle]="'app.bandwidth.title' | translate"></app-export-csv>
  </div>

  <div class="kFilters">
    <span class="kTitle">{{'app.bandwidth.highlights' | translate}}</span>
    <app-date-filter [dateRangeType]="_dateRangeType" (filterChange)="_onDateFilterChange($event)"></app-date-filter>
  </div>

  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">

    <div class="kReportContent">
      <app-report-tabs [Tabs]="_tabsData" (tabChange)="_onTabChange($event)"></app-report-tabs>
      <div class="kChart">
        <ngx-charts-bar-vertical *ngIf="_chartDataLoaded && _chartType==='bar' && !isCompareMode"
          [results]="_barChartData[_selectedMetrics]"
          [gradient]="false"
          [xAxis]="true"
          [yAxis]="true"
          [scheme]="barChartColors"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          >
        </ngx-charts-bar-vertical>

        <ngx-charts-bar-vertical-2d *ngIf="_chartDataLoaded && _chartType==='bar' && isCompareMode"
           legendTitle=""
           [results]="_barChartData[_selectedMetrics]"
           [gradient]="false"
           [legend]="isCompareMode"
           [xAxis]="true"
           [yAxis]="true"
           [scheme]="barChartColors"
           [showXAxisLabel]="true"
           [showYAxisLabel]="true"
        >
        </ngx-charts-bar-vertical-2d>

        <ngx-charts-line-chart *ngIf="_chartDataLoaded && _chartType==='line'"
          legendTitle=""
          [results]="_lineChartData[_selectedMetrics]"
          [legend]="isCompareMode"
          [xAxis]="true"
          [yAxis]="true"
          [scheme]="lineChartColors"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [autoScale]="true"
          >
        </ngx-charts-line-chart>
      </div>

      <div class="kTable">
        <div class="kToggle">
          <i [class.kIcondropdown_arrow_bottom]="!_showTable" [class.kIcondropdown_arrow_top]="_showTable"></i>
          <a (click)="toggleTable()">{{(_showTable ? 'app.common.hideDetails' : 'app.common.viewDetails') | translate}}</a>
        </div>
        <div class="kTableContainer" [class.kOpen]="_showTable" [class.kClose]="!_showTable">
          <p-table [value]="_tableData" (sortFunction)="_onSortChanged($event)" [customSort]="true" sortField="bandwidth_consumption" [sortOrder]="-1">
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of _columns" [pSortableColumn]="col">
                  {{'app.bandwidth.' + col | translate}}
                  <p-sortIcon [field]="col"></p-sortIcon>
                </th>

              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr>
                <td *ngFor="let col of _columns; let i = index" [class.kHighlight]="i===0">
                  <span *ngIf="isCompareMode && data[col]?.value" class="kTrend">
                    <i [class]="data[col].value | appTrend"></i>
                    <span [kTooltip]="data[col].tooltip">{{data[col].value | appAbs}}&nbsp;{{data[col].units}}</span>
                  </span>
                  <span *ngIf="!isCompareMode || !data[col]?.value">{{data[col]}}</span>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <p-paginator [rows]="pager.pageSize" (onPageChange)="_onPaginationChanged($event)" [first]="(pager.pageIndex -1) * pager.pageSize" [totalRecords]="_totalCount"></p-paginator>
        </div>
      </div>

      <ng-container>
        <span class="kAccumulativeTitle">{{'app.bandwidth.accumulative' | translate}}</span>
        <div class="kAccumulative">
          <div class="kItem" *ngFor="let item of _accumulativeStorage">
            <span class="kLabel">{{item.title}}</span>
            <div class="kValueContainer">
              <span class="kValue" [kTooltip]="item.tooltip">{{item.value}}</span>
              <span class="kUnits">{{item.units}}</span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>

  </k-area-blocker>

</div>

