<div class="kReport kOverrideFAIcons">
  <div class="kReportHeader">
    <span class="kTitle">{{'app.bandwidth.publisherStorage' | translate}}</span>
    <app-export-csv [headers]="_csvExportHeaders" [totalCount]="_totalCount" [reportInputFilter]="filter" [reportType]="reportType"
                    [dimension]="_selectedMetrics" [reportText]="'app.common.noMsg' | translate" [reportTitle]="'app.bandwidth.title' | translate"></app-export-csv>
    <app-date-filter #dateFilter [dateRange]="_dateRange" [dateRangeType]="_dateRangeType" (filterChange)="_onDateFilterChange($event)"></app-date-filter>
  </div>

  <div class="kFilters">
    <span class="kTitle">{{'app.bandwidth.highlights' | translate}}</span>
  </div>

  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">

    <div class="kReportContent">
      <app-report-tabs [tabs]="_tabsData" [compareMode]="isCompareMode" (tabChange)="_onTabChange($event)"></app-report-tabs>
      <div class="kDimensions">
        <app-time-units [dateFilter]="dateFilter"></app-time-units>
      </div>
      <div class="kChart">
        <div echarts class="kChart" [options]="_barChartData[_selectedMetrics]" *ngIf="_chartType==='bar'"></div>
        <div echarts class="kChart" [options]="_lineChartData[_selectedMetrics]" *ngIf="_chartType==='line'"></div>
      </div>

      <div class="kTable">
        <div class="kToggle">
          <i [class.kIcondropdown_arrow_bottom]="!_showTable" [class.kIcondropdown_arrow_top]="_showTable"></i>
          <a (click)="toggleTable()">{{(_showTable ? 'app.common.hideDetails' : 'app.common.viewDetails') | translate}}</a>
        </div>
        <div class="kTableContainer" [class.kOpen]="_showTable" [class.kClose]="!_showTable">
          <p-table [value]="_tableData" (sortFunction)="_onSortChanged($event)" [customSort]="true" sortField="bandwidth_consumption" [sortOrder]="-1" [defaultSortOrder]="-1">
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of _columns" [pSortableColumn]="isCompareMode ? null : col">
                  <div class="kColumnHeader">
                    <span [kTooltip]="'app.bandwidth.publisher_table.' + col | translate" [showOnEllipsis]="true">
                      {{'app.bandwidth.publisher_table.' + col | translate}}
                    </span>
                    <p-sortIcon [field]="col" *ngIf="!isCompareMode"></p-sortIcon>
                  </div>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr>
                <td *ngFor="let col of _columns; let i = index" [class.kHighlight]="i===0">
                  <span *ngIf="isCompareMode && data[col]?.value !== undefined"
                        class="kTrend"
                        [kTooltip]="data[col].tooltip" [escape]="false">
                    <i [class]="data[col].trend | appTrend"></i>
                    <span *ngIf="data[col].value !== '–'">{{data[col].value}}&nbsp;{{data[col].units}}</span>
                    <i class="kValue icon-minus" *ngIf="data[col].value === '–'"></i>
                  </span>
                  <span *ngIf="!isCompareMode || data[col]?.value === undefined">{{data[col]}}</span>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <p-paginator [rows]="pager.pageSize" (onPageChange)="_onPaginationChanged($event)" [first]="(pager.pageIndex -1) * pager.pageSize" [totalRecords]="_totalCount"></p-paginator>
        </div>
      </div>

      <div class="kSeparator"></div>
      <span class="kAccumulativeTitle">{{'app.bandwidth.accumulative' | translate}}</span>
      <div class="kAccumulative">
        <div class="kItem" *ngFor="let item of _accumulativeStorage">
          <span class="kLabel">{{item.title}}</span>
          <div class="kValueContainer">
            <span *ngIf="isCompareMode" class="kTrend" [kTooltip]="item.tooltip" [escape]="false">
              <i [class]="item.trend | appTrend"></i>
              <span class="kValue">
                <ng-container *ngIf="item.value !== '–'">{{item.value}}</ng-container>
                <i class="kValue icon-minus" *ngIf="item.value === '–'"></i>
              </span>
              <span class="kUnits">{{item.units}}</span>
            </span>
            <ng-container *ngIf="!isCompareMode">
              <span class="kValue">{{item.value}}</span>
              <span class="kUnits">{{item.units}}</span>
            </ng-container>
          </div>
        </div>
      </div>

    </div>

  </k-area-blocker>

</div>

