@import '../../../../../styles/variables';

.kReport{
  display: flex;
  flex-direction: column;

  .kChart{
    width: 100%;
    height: 500px;
  }

  .kHighlight{
    font-weight: bold;
    color: $kGrayscale1;
  }
}

:host /deep/ .ui-table .ui-widget-header.ui-table-scrollable-header {
  height: inherit;
}

:host /deep/ .ui-table .ui-table-scrollable-body {
  max-height: 400px !important;
}
