@import '../../../../styles/variables';

.kDateFilter{
  display: flex;
  align-items: center;
  .kLabel{
    color: $kGrayscale1;
    margin-right: 8px;
  }
  .kMargin{
    margin-left: 16px;
  }
  .kError{
    position: absolute;
    margin-top: 4px;
    color: $kDandger;
    margin-left: 8px;
  }
  p-calendar{
    margin-left: 8px;
  }
}

:host /deep/ .kDateFilter p-dropdown{
  .ui-dropdown{
    width: 200px !important;
  }
}
