<div class="kDateFilter kOverrideFAIcons">

  <div #datesBtn class="datesRangeDropDown" (click)="openPopup()">
    <span>{{_dateRangeLabel}}</span>
    <i class="kIcondropdown_arrow_bottom"></i>
  </div>

  <p-selectButton [options]="timeUnitsItems" [(ngModel)]="selectedTimeUnit" (onChange)="onTimeUnitsChange()"></p-selectButton>

</div>


<kPopupWidget #datesPopup
              [popupWidth]="420"
              [closeBtn]="false"
              [targetRef]="datesBtn"
              [targetOffset]="{'x':-220, 'y': 35}">
  <ng-template>
    <div class="kFilters">
      <p-radioButton *ngFor="let dateRange of dateRangeItems" name="dates" [label]="dateRange.label" [value]="dateRange.value" [(ngModel)]="selectedDateRange"></p-radioButton>
    </div>
    <div>
      <div class="kCalendars kOverrideFAIcons" [class.kHidden]="selectedDateRange < 9">
        <p-calendar [showIcon]="true" icon="kIconcalendar" [(ngModel)]="customStartDate" [placeholder]="'app.dateFilter.select' | translate" (onSelect)="validateDates()"></p-calendar>
        <p-calendar [showIcon]="true" icon="kIconcalendar" [(ngModel)]="customEndDate" [placeholder]="'app.dateFilter.select' | translate" (onSelect)="validateDates()"></p-calendar>
      </div>
      <span *ngIf="hasError" class="kError">{{'app.dateFilter.error' | translate}}</span>
    </div>
    <hr>
    <div class="kCompare">
      <button pButton [disabled]="hasError || (selectedDateRange === 9 && (!customStartDate || !customEndDate))" class="kButtonBranded" [label]="'app.common.apply' | translate" (click)="updateDataRanges();datesPopup.close()"></button>
    </div>
  </ng-template>
</kPopupWidget>
