<div class="kDateFilter kOverrideFAIcons">

  <div #datesBtn class="datesRangeDropDown" [class.comparing]="comparing"
       tabindex="0" role="button" aria-label="Date filter" id="dateFilterBtn"
       (keydown.enter)="datesPopup.toggle()">
    <i *ngIf="comparing" class="compareIcon icon-bolt"></i>
    <span class="kDateRangePrefix">{{_dateRangePrefix}}</span>
    <span>{{_dateRangeLabel}}</span>
    <i *ngIf="!exporting" class="kIcondropdown_arrow_bottom"></i>
  </div>
  <a tabindex="0" role="button" *ngIf="comparing && !exporting" class="kExitCompare"
     (click)="exitCompare()"
     (keydown.enter)="exitCompare()">
    {{'app.dateFilter.exit' | translate}}
  </a>

</div>


<kPopupWidget #datesPopup [attr.data-aid]="'date-filter-' + name"[appendTo]="appendTo"
              [popupWidth]="_creationDate ? 560 : 494" [closeBtn]="false" [targetRef]="datesBtn" [targetOffset]="{'x':0, 'y': 42}"
              (onOpen)="_focusSelectButton()">
  <ng-template>
    <div class="kDateFilterPopup kOverrideFAIcons">

      <div class="kViews">
        <p-selectButton [options]="viewItems" [(ngModel)]="selectedView"
                        (ngModelChange)="resetCompare()"></p-selectButton>
      </div>
      <div class="kFilters kPreset" *ngIf="selectedView==='preset'">
        <div class="col" *ngIf="_creationDate || _firstBroadcastDate || _lastBroadcastDate">
          <span class="kTitle">{{'app.dateFilter.since' | translate | uppercase}}</span>
          <p-radioButton tabindex="0" (keydown.enter)="triggerClick(_dateRangeSince.value.val)"
                         *ngFor="let _dateRangeSince of sinceDateRangeItems" name="dates" [label]="_dateRangeSince.label"
                         [value]="_dateRangeSince.value.val" [kTooltip]="_dateRangeSince.value.tooltip"
                         [(ngModel)]="selectedDateRange"
                         (onClick)="updateCompareMax(); resetCompare()"></p-radioButton>
        </div>
        <div class="col">
          <span class="kTitle">{{'app.dateFilter.last' | translate | uppercase}}</span>
          <p-radioButton tabindex="0" (keydown.enter)="triggerClick(_dateRangeLast.value.val)"
                         *ngFor="let _dateRangeLast of lastDateRangeItems" name="dates" [label]="_dateRangeLast.label"
                         [value]="_dateRangeLast.value.val" [kTooltip]="_dateRangeLast.value.tooltip"
                         [(ngModel)]="selectedDateRange"
                         (onClick)="updateCompareMax(); resetCompare()"></p-radioButton>
        </div>
        <div class="col">
          <span class="kTitle">{{'app.dateFilter.current' | translate | uppercase}}</span>
          <p-radioButton tabindex="0" (keydown.enter)="triggerClick(_dateRangeCurrent.value.val)"
                         *ngFor="let _dateRangeCurrent of currDateRangeItems" name="dates"
                         [label]="_dateRangeCurrent.label" [value]="_dateRangeCurrent.value.val"
                         [kTooltip]="_dateRangeCurrent.value.tooltip"
                         [(ngModel)]="selectedDateRange" (onClick)="updateCompareMax(); resetCompare()"></p-radioButton>
        </div>
      </div>
      <div class="kFilters kSpecific" [class.kWide]="_creationDate" *ngIf="selectedView==='specific'">
        <div class="kStartEnd">
          <p-calendar [class.showHours]="showHours" [showOnFocus]="false" [dateFormat]="_dateFormat" [locale]="localeData" [(ngModel)]="specificStart" aria-label="start date" (onBlur)="updateSpecific()" [tabindex]="0" [showIcon]="true" icon="kIconcalendar"></p-calendar>
          <p-dropdown *ngIf="showHours"
                      (onChange)="updateSpecific()"
                      [options]="hoursSelectorOptions"
                      [(ngModel)]="startHours">
          </p-dropdown>
          <div class="divider"></div>
          <p-calendar [class.showHours]="showHours" [showOnFocus]="false" [dateFormat]="_dateFormat" [locale]="localeData" [(ngModel)]="specificEnd" aria-label="end date" (onBlur)="updateSpecific()" [tabindex]="0" [showIcon]="true" icon="kIconcalendar"></p-calendar>
          <p-dropdown *ngIf="showHours"
                      (onChange)="updateSpecific()"
                      [options]="hoursSelectorOptions"
                      [(ngModel)]="endHours">
          </p-dropdown>
        </div>
        <span class="kInvalid" *ngIf="!validDateRange">{{'app.dateFilter.error' | translate }}</span>
        <p-calendar [(ngModel)]="specificDateRange" [inline]="true" selectionMode="range" [monthNavigator]="true"
                    [yearNavigator]="true" [yearRange]="'2010:2050'" [dateFormat]="_dateFormat" [locale]="localeData"
                    (ngModelChange)="updateCompareMax()"></p-calendar>
      </div>
      <hr>
      <div class="kCompare" *ngIf="showCompare">
        <p-checkbox tabindex="0" id="compareCheckBox"
                    [label]="'app.dateFilter.compare' | translate" [(ngModel)]="compare" (keydown.enter)="compare = !compare; disableHiddenElementTabs();" binary="true"></p-checkbox>
        <p-radioButton tabindex="0" (keydown.enter)="selectedComparePeriod = 'lastYear'"
                       name="compare" value="lastYear" *ngIf="compare" [(ngModel)]="selectedComparePeriod"
                       [label]="'app.dateFilter.comparelastyear' | translate"></p-radioButton>
        <p-radioButton tabindex="0" (keydown.enter)="selectedComparePeriod = 'specific'"
                       name="compare" value="specific" *ngIf="compare" [(ngModel)]="selectedComparePeriod"
                       (ngModelChange)="updateSpecificCompareStartDate()"
                       [label]="'app.dateFilter.comparespecific' | translate"></p-radioButton>
        <div  class="compareDate" *ngIf="compare && selectedComparePeriod==='specific'">
          <p-calendar [dateFormat]="_dateFormat" [showIcon]="true" icon="kIconcalendar" [locale]="localeData"
                      [(ngModel)]="specificCompareStartDate" [maxDate]="compareMaxDate" [monthNavigator]="true"
                      [yearNavigator]="true" [yearRange]="'2010:2050'" [class.showHours]="showHours"></p-calendar>
          <p-dropdown *ngIf="showHours && selectedView==='specific'"
                      [options]="hoursSelectorOptions"
                      [(ngModel)]="compareHours">
          </p-dropdown>
        </div>

      </div>
      <div class="kFooter">
        <button tabindex="0"
                pButton class="kButtonBranded"
                [disabled]="_applyDisabled"
                [label]="'app.common.apply' | translate"
                (keydown.tab)="$event.preventDefault();setFocus();datesPopup.close()"
                (click)="apply();datesPopup.close()"></button>
      </div>

    </div>
  </ng-template>
</kPopupWidget>
