<div class="kDateFilter kOverrideFAIcons">

  <div #datesBtn class="datesRangeDropDown" [class.comparing]="comparing" (click)="openPopup()">
    <i *ngIf="comparing" class="compareIcon icon-bolt"></i>
    <span>{{_dateRangeLabel}}</span>
    <i class="kIcondropdown_arrow_bottom"></i>
  </div>
  <a *ngIf="comparing" class="kExitCompare" (click)="exitCompare()">{{'app.dateFilter.exit' | translate}}</a>

</div>


<kPopupWidget #datesPopup [popupWidth]="420" [closeBtn]="false" [targetRef]="datesBtn" [targetOffset]="{'x':-210, 'y': 35}">
  <ng-template>
    <div class="kDateFilterPopup kOverrideFAIcons">

      <div class="kViews">
        <p-selectButton [options]="viewItems" [(ngModel)]="selectedView"></p-selectButton>
      </div>
      <div class="kFilters kPreset" *ngIf="selectedView==='preset'">
        <div class="col">
          <span class="kTitle">{{'app.dateFilter.last' | translate | uppercase}}</span>
          <p-radioButton *ngFor="let dateRange of lastDateRangeItems" name="dates" [label]="dateRange.label" [value]="dateRange.value.val" [kTooltip]="dateRange.value.tooltip" [placement]="'left'" [(ngModel)]="selectedDateRange" (onClick)="updateCompareMax()"></p-radioButton>
        </div>
        <div class="col">
          <span class="kTitle">{{'app.dateFilter.current' | translate | uppercase}}</span>
          <p-radioButton *ngFor="let dateRange of currDateRangeItems" name="dates" [label]="dateRange.label" [value]="dateRange.value.val" [kTooltip]="dateRange.value.tooltip" [placement]="'right'" [(ngModel)]="selectedDateRange" (onClick)="updateCompareMax()"></p-radioButton>
        </div>
      </div>
      <div class="kFilters kSpecific" *ngIf="selectedView==='specific'">
        <p-calendar [(ngModel)]="specificDateRange" [inline]="true" selectionMode="range" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="'2010:2050'"></p-calendar>
      </div>
      <hr>
      <div class="kCompare" *ngIf="showCompare">
        <p-checkbox [label]="'app.dateFilter.compare' | translate" [(ngModel)]="compare" binary="true"></p-checkbox>
        <p-radioButton name="compare" value="lastYear" [class.kHidden]="!compare" [(ngModel)]="selectedComparePeriod" [label]="'app.dateFilter.comparelastyear' | translate"></p-radioButton>
        <p-radioButton name="compare" value="specific" [class.kHidden]="!compare" [(ngModel)]="selectedComparePeriod" [label]="'app.dateFilter.comparespecific' | translate"></p-radioButton>
        <p-calendar [showIcon]="true" icon="kIconcalendar" [class.kHidden]="!compare || selectedComparePeriod!=='specific'" [(ngModel)]="specificCompareSatrtDate" [maxDate]="compareMaxDate" [monthNavigator]="true" [yearNavigator]="true" [yearRange]="'2010:2050'"></p-calendar>
      </div>
      <button pButton class="kButtonBranded" [label]="'app.common.apply' | translate" (click)="updateDataRanges();datesPopup.close()"></button>
    </div>
  </ng-template>
</kPopupWidget>
