@import '../../../../../../../styles/variables';

.kContributorDetailsOverlay {
  width: 280px;
  height: 151px;

  k-area-blocker {
    display: block;
  }

  .kContributorName {
    padding: 19px 16px;
    font-weight: bold;
    border-bottom: 1px solid $kGrayscale4;
  }

  .kContributorDetails {
    padding: 12px 16px 16px 16px;

    .kDetailsRow {
      display: flex;
      margin-bottom: 8px;
      font-size: 14px;
      font-weight: bold;

      &:last-child {
        margin-bottom: 0;
      }

      .kLabel {
        color: $kGrayscale3;
        margin-right: 4px;
      }

      .kValue {
        color: $kGrayscale1;
      }
    }
  }
}
