<div data-aid="overlay-contributors" class="kContributorDetailsOverlay">
  <k-area-blocker [showLoader]="_loading">
    <ng-container *ngIf="_data && !_errorMessage">
      <div class="kContributorName">{{_data.fullName ? _data.fullName : _data.id}}</div>
      <div class="kContributorDetails">
        <div class="kDetailsRow">
          <div class="kLabel">{{'app.contributors.topContributorsReport.role' | translate}}</div>
          <div class="kValue">{{_data.roleNames}}</div>
        </div>

        <div class="kDetailsRow">
          <div class="kLabel">{{'app.contributors.topContributorsReport.email' | translate}}</div>
          <div class="kValue">{{_data.email}}</div>
        </div>

        <div class="kDetailsRow">
          <div class="kLabel">{{'app.contributors.topContributorsReport.creationDate' | translate}}</div>
          <div class="kValue">{{_data.createdAt | date:'MM/d/yy'}}</div>
        </div>

        <!--<div class="kDetailsRow">-->
        <!--<div class="kLabel">{{'app.contributors.topContributorsReport.lastUpload' | translate}}</div>-->
        <!--<div class="kValue">{{_data.lastUpload | date:'MM/d/yy'}}</div>-->
        <!--</div>-->
      </div>
    </ng-container>
    <div *ngIf="_errorMessage" class="kErrorMessage">
      {{_errorMessage}}
    </div>
  </k-area-blocker>
</div>
