@import '../../../../../styles/variables';

:host {
  width: 100%;
}
.kReport.kGeo {
  margin-bottom: 0px;
  .kTableContainer {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  .hiddenHeader {
    display: none;
  }
  ::ng-deep .p-table .p-table-tbody > tr > td, ::ng-deep  .p-table .p-table-thead {
    border: none !important;
  }
  .hidePaginator ::ng-deep .p-paginator {
    display: none;
  }
  .divider {
    width: 100%;
    height: 1px;
    background-color: $kGrayscale5;
    margin: 12px;
  }
}

.kFlag {
  width: 24px;
  height: 24px;
  font-size: 24px;
}

.kFlagColumn {
  padding-left: 18px !important;
}
.kMap {
  position: relative;

  .kChart {
    width: 100%;
    height: 360px;
    margin-bottom: 24px;
  }

  .kZoomWidget {
    position: absolute;
    right: 24px;
    bottom: 12px;

    button {
      width: 42px;
      height: 34px;
    }

    .kZoomInBtn {
      border-left: none;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    .kZoomOutBtn {
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }
}
@media screen and (min-width: 992px) {
  .kReport .kReportContent {
    flex-direction: row-reverse;
  }
  .kMap, .kTable {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
  }
}
p-table ::ng-deep .p-paginator .p-paginator-page.p-state-active {
  z-index: 1;
}
.kGeo ::ng-deep p-table .p-datatable .p-datatable-thead {
  border-top: none;
}

.kGeo ::ng-deep p-table .p-datatable-tbody > tr > td {
  border: none;
  height: 40px;
}

.kGeo ::ng-deep p-table .p-datatable .p-datatable-tbody > tr > td:first-child {
  border: none;
  height: 40px;
}
