<div data-aid="mini-top-sources" class="kReport kMini kOverrideFAIcons">
  <div class="kFilters">
    <span class="kTitle">{{'app.contributors.insights' | translate}}</span>
    <a (click)="scrollTo('#top-devices')" class="kDetails">{{'app.common.details' | translate}}</a>
  </div>

  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">
    <div *ngIf="!_isCompareMode" class="kReportContent">
      <div class="kReportRow">
        <div class="kColumns">
          <div class="kDeviceLabel">
            <i class="kIcon" [ngClass]="_topDeviceLabel | appDeviceIcon"></i>
            <span class="topDevice">{{_topDeviceLabel}}</span>
          </div>
          <span class="kDevice">{{'app.category.popularDevice' | translate}}</span>
        </div>
      </div>

      <div class="kReportRow">
        <app-insights-bullet [values]="_bulletValues"></app-insights-bullet>
      </div>

      <div class="kReportRow kNoResults" *ngIf="!_isBusy && !_bulletValues[0]">
        {{'app.common.noResults' | translate}}
      </div>
    </div>


    <div *ngIf="_isCompareMode && _bulletValues[0]" class="kReportContent kCompare">
      <span class="kHeader">{{'app.category.popularDevice' | translate}}</span>
      <!-- Compare -->
      <span class="kPeriod">{{_compareDates}}</span>

      <div class="kReportRow kDevice" *ngIf="_compareTopDeviceLabel">
        <div class="kDeviceLabel">
          <i class="kIcon" [ngClass]="_compareTopDeviceLabel | appDeviceIcon"></i>
          <span class="topDevice">{{_compareTopDeviceLabel}}</span>
        </div>
      </div>

      <div class="kReportRow" *ngIf="!_isBusy && _compareBulletValues[0]" style="margin-top: 2px">
        <app-insights-bullet [values]="_compareBulletValues" [showLegend]="false"></app-insights-bullet>
      </div>

      <div class="kReportRow" *ngIf="!_isBusy && !_compareBulletValues[0]">
        {{'app.common.noResults' | translate}}
      </div>

      <!-- Current -->
      <span class="kPeriod">{{_currentDates}}</span>

      <div class="kReportRow kDevice">
        <div class="kDeviceLabel">
          <i class="kIcon" [ngClass]="_topDeviceLabel | appDeviceIcon"></i>
          <span class="topDevice">{{_topDeviceLabel}}</span>
        </div>
      </div>

      <div class="kReportRow" style="margin-top: 2px">
        <app-insights-bullet [values]="_bulletValues"
                             [showLegend]="false"
                             (appliedColors)="_updateColors($event)"></app-insights-bullet>
      </div>

      <div class="kReportRow">
        <div class="kLegend">
          <div class="kLegendItem">
            <div class="kCircle" [style.background-color]="_colors[0]"></div>
            <span>{{'app.user.topContentSource' | translate}}</span>
          </div>
          <div class="kLegendItem">
            <div class="kCircle" [style.background-color]="_colors[1]"></div>
            <span>{{'app.user.otherSources' | translate}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="kReportRow kNoResults" *ngIf="!_isBusy && !_bulletValues[0]">
      {{'app.common.noResults' | translate}}
    </div>
  </k-area-blocker>
</div>

