@import '../../../../../styles/variables';

:host ::ng-deep .kValue {
  font-size: 24px;
  font-weight: 700;
}

:host ::ng-deep .kUnits {
  font-size: 13px;
  font-weight: 700;
}

.kReportContent {
  overflow: hidden;
  position: relative;
}

.kFilters {
  height: 93px !important;
}

.kMini {
  height: 100%;

  .kDetails {
    margin-left: auto;
    white-space: nowrap;
    margin-right: 24px;
  }

  .kPeriod {
    font-size: 12px;
    font-weight: normal;
    padding: 0 24px;
    margin-bottom: 11px;
  }

  .kReportRow {
    display: flex;
    align-items: center;
    padding: 0 24px;
    margin-bottom: 20px;

    &.kDomain {
      margin-bottom: 16px !important;
    }

    .kDomainIcon {
      overflow: hidden;
      position: relative;
      width: 24px;
      height: 24px;
      background-color: transparent;
      white-space: nowrap;
      text-align: center;
      border-radius: 3px;
      margin-right: 10px;

      &.kIconfile-small {
        width: auto !important;
        height: auto !important;
      }

      &.error {
        border: 1px solid $kGrayscale4;
      }

      img {
        position: absolute;
        left: -100%;
        right: -100%;
        top: -100%;
        bottom: -100%;
        margin: auto;
        width: 24px;
        height: auto;
        border-radius: 3px;
      }
    }

    .topDevice {
      font-size: 15px;
      font-weight: normal;
      text-decoration: none;
    }

    .kLabel {
      font-size: 15px;
      font-weight: normal;
    }

    &.kNoResults {
      height: 100%;
      font-size: 28px;
      color: $kGrayscale3;
      position: absolute;
      background-color: white;
      width: 100%;
      top: 0;
    }
  }
}

.kLegend {
  display: flex;
  flex-wrap: wrap;
  margin-top: 16px;
  position: absolute;
  font-size: 12px;
  color: $kGrayscale1;
  font-weight: bold;

  .kLegendItem {
    display: flex;
    align-items: center;
    margin-right: 12px;
    margin-top: 4px;

    .kCircle {
      width: 10px;
      height: 10px;
      border-radius: 5px;
      margin-right: 8px;
    }
  }
}

.kCompare {
  .topSource {
    font-size: 15px !important;
  }
  .kReportRow{
    margin-bottom: 12px;
  }
}

:host ::ng-deep .kBullet {
  height: 8px !important;
}
