@import '../../../../../styles/variables';

k-area-blocker {
  display: block;
}
app-bullet {
  padding-right: 24px;
}
.kIconfolder_large{
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}
