@import '../../../../../styles/variables';
:host {
  width: 100%;
  height: 100%;
}
k-area-blocker {
  display: block;
}
app-bullet {
  padding-right: 24px;
}
.kReport.kContent.kOverrideFAIcons.kSubCategoriesReport {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.kIconfolder_large{
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;
}
.kTotalCount {
  font-size: 15px;
  font-weight: normal;
  margin-left: 24px;
  margin-bottom: 24px;
}
