@import '../../../../styles/variables';

.kChartContainer {
  padding: 0 24px;

  .kTable {
    min-height: 200px;

    .kTableRow {
      display: flex;
      align-items: center;

      .kRowIndex {
        width: 40px;
        color: $kGrayscale3;
      }
    }
  }

  .emptymessage {
    line-height: 200px;
    font-size: 28px;
    color: $kGrayscale3;

    .kEmptyMessage {
      text-align: center;
      border-bottom: none;
    }
  }
}
