<div class="kChartContainer">
  <div class="kTable">
    <div class="kTableRow" *ngFor="let row of data">
      <span class="kRowIndex" *ngIf="showIndex">{{row.index}}</span>
      <app-horizontal-bar-row [label]="row.label"
                              [value]="row.value"
                              [tooltip]="row.tooltip"
                              [colorScheme]="_colorScheme"
                              [currentPeriod]="_currentPeriodLabel"
                              [comparePeriod]="_comparePeriodLabel"></app-horizontal-bar-row>
    </div>
    <div *ngIf="!data.length && !isBusy" class="emptymessage">
      <div class="kEmptyMessage" *ngIf="!firstTimeLoading">{{'app.common.noResults' | translate}}</div>
      <div class="kEmptyMessage" *ngIf="firstTimeLoading">&nbsp;</div>
    </div>

    <div *ngIf="isCompareMode && data.length" class="kCustomLegend">
      <div class="kLegendItemContainer">
        <div class="kCircle" [style.background-color]="_colors[0]"></div>
        <span class="kLegendItem">{{_currentPeriodLabel}}</span>
      </div>
      <div class="kLegendItemContainer">
        <div class="kCircle" [style.background-color]="_colors[1]"></div>
        <span class="kLegendItem">{{_comparePeriodLabel}}</span>
      </div>
    </div>
  </div>

  <p-paginator *ngIf="pager && data.length"
               [rows]="pager.pageSize"
               [first]="(pager.pageIndex - 1) * pager.pageSize"
               [totalRecords]="totalCount"
               (onPageChange)="paginationChanged.emit($event)"></p-paginator>
</div>
