@import '../../../styles/variables';

@media screen and (max-width: 1060px) {
  .kBackBtn {
    margin-left: 0 !important;
  }
}

.kReport {
  background-color: $appBkgColor !important;

  .kBackBtn {
    width: 34px;
    margin-top: 4px;
    margin-left: -40px;
    margin-right: 22px;
    border: none;
    //outline: none;
    background-color: transparent;
    color: $kGrayscale3;
    height: 20px;
    font-size: 24px;

    &:active {
      box-shadow: none;
    }

    &:hover {
      color: $kPrimary;
    }
  }

  .kReportHeader {
    height: 80px;

    .kControls {
      display: flex;
      align-items: center;
      margin-left: auto;

      app-export-csv, app-toggle-users-mode {
        margin-right: 16px;
      }
    }
  }
}

.kNoBottomMargin {
  margin-bottom: 0 !important;
}

.kEntryWidgets {
  display: flex;
  margin-bottom: 24px;

  .kWideColumn{
    width: 67%;
    display: flex;
    flex-direction: column;
  }
  .kNarrowColumn{
    width: 33%;
    margin-left: 34px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
  }
}

.kLiveFilters {
  border-bottom: 1px solid $kGrayscale4;
  margin-bottom: 24px;
  .kTitle {
    padding: 0 !important;
  }
}

:host ::ng-deep .kExport .kDropDown {
  margin-right: 0 !important;
}
