<div data-aid="report-group-entry" class="kMain">
  <k-area-blocker [showLoader]="_isBusy" [message]="_blockerMessage">
    <div class="kReportView">
      <div *ngIf="_entry" class="kReport kContent kOverrideFAIcons">
        <div class="kReportHeader">
          <button pButton class="kButtonDefault kBackBtn small" icon="kIconarrow_backward" (click)="_back()"
                  [kTooltip]="'app.entryLive.back' | translate" [placement]="'bottom'"></button>
          <span *ngIf="_entryLiveViewConfig.title" class="kTitle kTruncateTitle" [kTooltip]="_entry?.name" [showOnEllipsis]="true" [placement]="'bottom'">{{_entry?.name}}</span>
          <div class="kControls">
            <app-toggle-users-mode (modeChanges)="_onUsersModeChange()"></app-toggle-users-mode>
            <div class="kFilter kOverrideFAIcons">
              <div role="button" aria-label="Refine Filter" tabindex="0" class="kDropDown"
                   (click)="_refineFilterOpened = !_refineFilterOpened"
                   (keydown.enter)="_refineFilterOpened = !_refineFilterOpened">
                <span>{{'app.filters.filter' | translate}}</span>
                <i *ngIf="!_refineFilterOpened" class="kIcondropdown_arrow_bottom"></i>
                <i *ngIf="_refineFilterOpened" class="kIcondropdown_arrow_top"></i>
              </div>
            </div>
            <app-export-csv *ngIf="_entryLiveViewConfig.export"
                            name="Live Entry"
                            [width]="380"
                            [reports]="_exportConfig"
                            [entryId]="_entryId"></app-export-csv>
            <app-toggle-live-btn *ngIf="_canShowToggleLive"
                                 [entry]="_entry"
                                 (entryToggled)="_liveToggled()"></app-toggle-live-btn>
          </div>
        </div>

        <app-entry-details *ngIf="_entryLiveViewConfig.details"
                           [entry]="_entry" [showOwner]="_entryLiveViewConfig.owner" (navigateToEntry)="_navigateToEntry()"></app-entry-details>
        <app-live-filters class="kRefineFiltersHost" name="entry-webcast"
                                  [viewConfig]="_refineFilter"
                                  [opened]="_refineFilterOpened"
                                  [entryId]="_entryId"
                                  [dateFilter]="_selectedDateLabelRange"
                                  [selectedFilters]="_selectedRefineFilters"
                                  (closeFilters)="_refineFilterOpened = false"
                                  (filterChange)="_onRefineFilterChange($event)"></app-live-filters>
        <div class="kEntryWidgets">
          <div class="kWideColumn">
            <app-live-users [entry]="_entry"></app-live-users>
            <app-live-bandwidth [entry]="_entry"></app-live-bandwidth>
          </div>
          <div class="kNarrowColumn">
            <app-live-status [entry]="_entry" [manualLiveOnline]="_manualLiveOnline"></app-live-status>
            <app-live-player [entryId]="_entry?.id" [thumbnailUrl]="_entry?.thumbnailUrl" (liveStatusChange)="onLiveStatusChange($event)"></app-live-player>
            <app-live-stream-health *ngIf="!_isManual"></app-live-stream-health>
            <div *ngIf="_isManual" class="manual">
              <span>{{'app.entryLive.manual' | translate}}</span>
              <div class="manualStreamHealth"></div>
            </div>
          </div>
        </div>

        <div class="kFilters kLiveFilters kOverrideFAIcons">
          <span class="kTitle">{{'app.entryLive.discovery.title' | translate}}</span>

          <app-time-selector [dateRange]="_selectedDateRange" (filterChange)="_onDateFilterChange($event)"></app-time-selector>

        </div>
        <div class="kEntryWidgets">
          <div class="kWideColumn">
            <div class="kReport kNoBottomMargin">
              <app-live-geo (onDrillDown)="_onGeoDrilldown($event)"></app-live-geo>
            </div>
          </div>
          <div class="kNarrowColumn">
            <div class="kReport kNoBottomMargin">
              <app-live-devices></app-live-devices>
            </div>
          </div>
        </div>
        <div *ngIf="_entryLiveViewConfig.discovery" class="kReport">
          <app-live-discovery (tableChange)="_onTableModeChange($event)" [discoveryViewConfig]="_entryLiveViewConfig.discovery"
                              (dateFilterChange)="_onDiscoveryDateFilterChange($event)"></app-live-discovery>
        </div>
      </div>
    </div>
  </k-area-blocker>
</div>
