@import '../../../styles/variables';

.kReport {
  background-color: $appBkgColor !important;

  .kBackBtn {
    margin-top: 4px;
    margin-left: -40px;
    margin-right: 22px;
    border: none;
    outline: none;
    background-color: transparent;
    color: $kGrayscale3;
    height: 20px;
    width: 18px;
    font-size: 24px;

    &:active {
      box-shadow: none;
    }

    &:hover {
      color: $kPrimary;
    }
  }

  .kReportHeader {
    height: 80px;
  }
}

.kEntryWidgets {
  display: flex;
  margin-bottom: 24px;

  .kWideColumn{
    width: 67%;
    display: flex;
    flex-direction: column;
  }
  .kNarrowColumn{
    width: 33%;
    margin-left: 34px;
    display: flex;
    flex-direction: column;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    overflow: hidden;
  }
}
