<div data-aid="report-group-entry" class="kMain">
  <k-area-blocker [showLoader]="_isBusy" [message]="_blockerMessage">
    <div class="kReportView">
      <div *ngIf="_entry" class="kReport kContent kOverrideFAIcons">
        <div class="kReportHeader">
          <button pButton class="kButtonDefault kBackBtn small" icon="kIconarrow_backward" (click)="_back()"
                  [kTooltip]="'app.entryLive.back' | translate"></button>
          <span class="kTitle">{{_entry?.name}}</span>
          <div class="kControls">
            <app-toggle-live-btn *ngIf="_canShowToggleLive"
                                 [entry]="_entry"
                                 (entryToggled)="_liveToggled()"></app-toggle-live-btn>
            <app-export-csv name="entry"
                            [width]="380"
                            [reports]="_exportConfig"
                            [entryId]="_entryId"></app-export-csv>
          </div>
        </div>

        <app-entry-details [entry]="_entry" (navigateToEntry)="_navigateToEntry()"></app-entry-details>
        <div class="kEntryWidgets">
          <div class="kWideColumn">
            <app-live-users [entry]="_entry"></app-live-users>
            <app-live-bandwidth [entry]="_entry"></app-live-bandwidth>
            <div class="kReport kNoBottomMargin">
              <app-live-geo (onDrillDown)="_onGeoDrilldown($event)"></app-live-geo>
            </div>
          </div>
          <div class="kNarrowColumn">
            <app-live-status [entry]="_entry"></app-live-status>
            <app-live-player [entryId]="_entry?.id"></app-live-player>
            <app-live-stream-health></app-live-stream-health>

            <div class="kReport kNoBottomMargin">
              <app-live-devices></app-live-devices>
            </div>
          </div>
        </div>
        <div class="kReport">
          <app-live-discovery (tableChange)="_onTableModeChange($event)"
                              (dateFilterChange)="_onDiscoveryDateFilterChange($event)"></app-live-discovery>
        </div>
      </div>
    </div>
  </k-area-blocker>
</div>
