@import '../../../../../../styles/variables';


.kTableModeSelector {
  .kOptionsLabelWrapper {
    display: flex;
    align-items: center;
    width: calc(100% - 15px);
    height: 100%;
    font-weight: normal;

    .kIcon {
      color: $kGrayscale3;
      margin-right: 12px;
      font-size: 16px;
      font-weight: bold;
    }
  }
}

:host /deep/ .kTableModeSelector {
  .ui-dropdown {
    width: 172px !important;
  }

  .ui-dropdown-item {
    position: relative;

    &:after {
      position: absolute;
      right: 3px;
      top: 9px;
    }
  }
}
