<div data-aid="report-entry-video-performance" class="kReport kNoMargin kOverrideFAIcons">
  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">
    <div class="kReportContent kNoTitle">
      <app-report-tabs [tabs]="_tabsData" [showValue]="false" (tabChange)="_onTabChange($event)"></app-report-tabs>
      <div class="kDimensions">
        <app-compare-metric aria-label="Compare metrics dropdown"
                            [metric]="_selectedMetricsLabel"
                            [colors]="_metricsColors"
                            [options]="_metricsOptions"
                            (compareTo)="_onCompareTo($event)"></app-compare-metric>
        <app-time-units aria-label="Time units selector"
                        *ngIf="dateFilterComponent"
                        [selectedTimeUnit]="_reportInterval"
                        [dateFilter]="dateFilterComponent"
                        [applyIn]="'image-performance'"></app-time-units>
      </div>
      <div class="kChart">
        <div *ngIf="!_isBusy && (!_lineChartData || !_lineChartData[_selectedMetrics] || !_lineChartData[_selectedMetrics]?.series[0]?.data?.length)"
             class="kNoResults">
          <span>{{'app.common.noResults' | translate}}</span>
        </div>
        <div aria-label="Image Performance Chart" *ngIf="_metricsLineChartData" echarts class="kChart" [options]="_metricsLineChartData"></div>
        <div aria-label="Image Performance Chart" *ngIf="!_metricsLineChartData && _lineChartData[_selectedMetrics]" echarts class="kChart" [options]="_lineChartData[_selectedMetrics]"></div>
        <div aria-label="Legend" *ngIf="_metricsLineChartData && _isCompareMode" class="kCustomLegend">
          <div class="kLegendItemContainer">
            <span class="kPeriod">{{_compareDatePeriod}}</span>
            <div class="kCircle" [style.background-color]="_lineChartData[_selectedMetrics].color[1]"></div>
            <span class="kLegendItem">{{_selectedMetricsLabel}}</span>
            <div class="kCircle" [style.background-color]="_lineChartData[_metricsCompareTo].color[1]"></div>
            <span class="kLegendItem">{{'app.entry.'+_metricsCompareTo | translate}}</span>
          </div>
          <div class="kLegendItemContainer">
            <span class="kPeriod">{{_currentDatePeriod}}</span>
            <div class="kCircle" [style.background-color]="_lineChartData[_selectedMetrics].color[0]"></div>
            <span class="kLegendItem">{{_selectedMetricsLabel}}</span>
            <div class="kCircle" [style.background-color]="_lineChartData[_metricsCompareTo].color[0]"></div>
            <span class="kLegendItem">{{'app.entry.'+_metricsCompareTo | translate}}</span>
          </div>
        </div>
      </div>

      <div class="kTable">
        <div class="kToggle">
          <span role="button" tabindex="0"
                (keydown.enter)="_toggleTable()"
                (click)="_toggleTable()">
            <i [class.kIcondropdown_arrow_bottom]="!_showTable" [class.kIcondropdown_arrow_top]="_showTable"></i>
            <a>{{(_showTable ? 'app.common.hideDetails' : 'app.common.viewDetails') | translate}}</a>
          </span>
        </div>
        <div class="kTableContainer" *ngIf="_showTable">
          <div class="kTableModeSelector">
            <p-dropdown aria-label="Table Modes Selector"
                        [style]="{'width': '172px'}"
                        [options]="_tableModes"
                        (onChange)="_onTableModeChange($event.value)"
                        [(ngModel)]="_tableMode">
              <ng-template let-option pTemplate="selectedItem">
                <div class="kOptionsLabelWrapper">
                  <i class="kIcon" [ngClass]="option.value | tableModeIcon"></i>
                  <span>{{option.label}}</span>
                </div>
              </ng-template>
              <ng-template let-option pTemplate="item">
                <div class="kOptionsLabelWrapper">
                  <i class="kIcon" [ngClass]="option.value | tableModeIcon"></i>
                  <span>{{option.label}}</span>
                </div>
              </ng-template>
            </p-dropdown>
          </div>


          <ng-container *ngIf="_tableMode !== TableMode.context">
            <p-table appScrollTopOnPaging
                     aria-label="Image Performance Table"
                     [sortField]="_customPaginator ? 'name' : _columns[0]"
                     [value]="_tableData"
                     [customSort]="true"
                     [defaultSortOrder]="-1"
                     [sortOrder]="-1"
                     [paginator]="!_customPaginator"
                     [rows]="_pageSize"
                     (sortFunction)="_onSortChanged($event)"
                     (onPage)="_onPaginationChange($event)">
              <ng-template pTemplate="header">
                <tr>
                  <th *ngFor="let col of _columns" [pSortableColumn]="_isCompareMode ? null : col" [class.nonSortable]="_isCompareMode"
                      [ngStyle]="{'width': '100%'}"
                      [kTooltip]="'app.entry.' + col | translate" [showOnEllipsis]="true">
                    {{'app.entry.' + col | translate}}
                    <p-sortIcon [field]="col" *ngIf="!_isCompareMode"></p-sortIcon>
                  </th>

                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-data>
                <tr>
                  <td *ngFor="let col of _columns; let i = index" [class.kHighlight]="i === 0">
                  <span
                    *ngIf="_isCompareMode && data[col]?.value && col !== 'month_id' && col !== 'date_id' && col !== 'name'"
                    class="kTrend">
                    <span [kTooltip]="data[col].tooltip" [escape]="false" [maxWidth]="500">
                      <app-trend-value [value]="data[col].value"
                                       [units]="data[col].units"
                                       [trend]="data[col].trend"></app-trend-value>
                    </span>
                  </span>
                    <ng-container *ngIf="!_isCompareMode || col === 'month_id' || col === 'date_id' || col === 'name'">
                      <span>{{data[col]}}</span>
                    </ng-container>
                  </td>
                </tr>
              </ng-template>
              <ng-template pTemplate="emptymessage">
                <div class="emptymessage">
                  <div class="kEmptyMessage" *ngIf="!_firstTimeLoading">{{'app.common.noResults' | translate}}</div>
                  <div class="kEmptyMessage" *ngIf="_firstTimeLoading">&nbsp;</div>
                </div>
              </ng-template>
            </p-table>
            <p-paginator *ngIf="_customPaginator"
                         aria-label="Pagination"
                         [rows]="_pager.pageSize"
                         [first]="(_pager.pageIndex -1) * _pager.pageSize"
                         [totalRecords]="_totalCount"
                         (onPageChange)="_onPaginationChange($event)"></p-paginator>
          </ng-container>

          <ng-container *ngIf="_tableMode === TableMode.context">
            <app-context-table [entryId]="entryId"
                               [filterChange]="_filterChange$"
                               [filter]="_filter"
                               [compareFilter]="_compareFilter"
                               [isCompareMode]="_isCompareMode"
                               [reportInterval]="_reportInterval"
                               [firstTimeLoading]="_firstTimeLoading"></app-context-table>
          </ng-container>
        </div>
      </div>
    </div>
  </k-area-blocker>
</div>

