@import '../../../../../../../styles/variables';


.kRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  & > div {
    flex: 1;
  }

  .kCheckboxGroup {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    .kLabel {
      font-size: 15px;
      line-height: 22px;
      color: $kGrayscale1;
    }

    .kIcon {
      font-size: 22px;
      color: $kGrayscale3;
      margin: 0 17px 0 11px;
    }

    label {
      display: flex;
      align-items: center;
      font-weight: normal;
    }

    p-checkbox {
      width: 22px;
      height: 22px;
    }
  }
}
