@import '../../../../../styles/variables';

.kTitle{
  width: auto !important;
  padding-right: 0px !important;
}

.kTotalCount {
  font-size: 15px;
  font-weight: normal;
  margin-left: 24px;
  margin-bottom: 24px;
}

td span {
  white-space: nowrap;
}

.kTitle{
  width: auto !important;
  padding-right: 0px !important;
}

.kHighContrast :host {
  th, td {
    color: $kGrayscale1;

    &.p-highlight span {
      text-decoration: underline;
    }

    a {
      text-decoration: underline;
    }
  }

  ::ng-deep {
    .kTabTitle {
      color: $kGrayscale1 !important;
    }

    .kUnits {
      color: $kGrayscale1 !important;
    }

    p-selectButton .p-highlight {
      background-color: #00866a !important;
      border: 1px solid #00866a !important;
    }

    app-bullet .kValue {
      color: $kGrayscale1 !important;
    }
  }
}
.kSummaryRow {
  height: 48px;
  border-top: 1px solid $kGrayscale6;

  th {
    color: $kGrayscale1;
    font-size: 15px;
    font-weight: bold;
  }
}
.tableCell {
  display: flex;
  align-items: center;
  .bulletContainer{
    width: 100%;
    margin-left: 24px;
    ::ng-deep .kBullet {
      width: 100%;
    }
  }
  .kIcon {
    font-size: 22px;
    color: $kGrayscale3;
    margin: 0 16px 0 0px;
  }
}

.hidePaginator {
  display: none;
}
