<div data-aid="overlay-reactions-breakdown" class="kReactionsBreakdownOverlay">

  <div class="row">
    <div class="icon applause"></div>
    <span class="label">{{'app.entryWebcast.tools.applause' | translate}}</span>
    <app-horizontal-bar-row [value]="_reactionsBreakdown.Clap"></app-horizontal-bar-row>
  </div>

  <div class="row">
    <div class="icon laugh"></div>
    <span class="label">{{'app.entryWebcast.tools.laugh' | translate}}</span>
    <app-horizontal-bar-row [value]="_reactionsBreakdown.Smile"></app-horizontal-bar-row>
  </div>

  <div class="row">
    <div class="icon love"></div>
    <span class="label">{{'app.entryWebcast.tools.love' | translate}}</span>
    <app-horizontal-bar-row [value]="_reactionsBreakdown.Heart"></app-horizontal-bar-row>
  </div>

  <div class="row">
    <div class="icon wow"></div>
    <span class="label">{{'app.entryWebcast.tools.wow' | translate}}</span>
    <app-horizontal-bar-row [value]="_reactionsBreakdown.Wow"></app-horizontal-bar-row>
  </div>

  <div class="row">
    <div class="icon curious"></div>
    <span class="label">{{'app.entryWebcast.tools.curious' | translate}}</span>
    <app-horizontal-bar-row [value]="_reactionsBreakdown.Think"></app-horizontal-bar-row>
  </div>

</div>
