@import '../../../../../../styles/variables';

.kTotals {
  margin-bottom: 24px !important;
  background-color: transparent !important;
}

.kPreview {
  width: 50%;
  height: 100%;
  margin-right: 24px;
}

.kTotalsContainer {
  width: 100%;
  height: 136px;
  display: flex;
  margin-right: 24px;
  background-color: #ffffff;
  border-radius: 3px;

  .kTotalContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    padding-right: 12px;
    padding-top: 24px;
    box-sizing: border-box;

    &:not(:last-child) {
      border-right: 1px solid $kGrayscale6;
    }

    .kTotal {
      display: flex;
      flex-direction: column;
      margin-top: 8px;

      .kValue {
        font-size: 24px;
        font-weight: bold;
        color: $kGrayscale1;
      }

      .kLabel {
        margin-top: 4px;
        margin-bottom: 8px;
        font-size: 15px;
        color: $kGrayscale1;
        white-space: nowrap;
      }

      .kTrend ::ng-deep {
        .kValue {
          font-size: 24px;
          font-weight: bold;
          color: $kGrayscale1;
        }

        .kUnits {
          font-size: 13px;
          font-weight: bold;
          line-height: 20px;
        }
      }
    }

    .kMiniIcon {
      width: 30px;
      height: 30px;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      margin-right: 20px;
      flex: 0 0 auto;
    }
  }
}

.kSocialHighlights {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 88px;
  padding: 24px 0;
  background-color: #ffffff;
  color: $kGrayscale1;
  border-radius: 3px;

  .kTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    margin-left: 24px;
  }

  .kSocialHighlightsItem {
    display: flex;
    align-items: center;
    margin-left: 24px;

    &:not(:last-child) {
      margin-bottom: 13px;
    }

    .kValue {
      font-size: 15px;
      font-weight: bold;
      margin-right: 9px;
    }

    .kIcon {
      color: #487ADF;
      margin-right: 9px;
    }

    .kSocialLabel{
      padding-left: 8px;
    }
  }
}
