<div data-aid="report-engagement-mini-quality" class="kReport kMini kOverrideFAIcons">
  <div class="kFilters">
    <span class="kTitle">{{'app.entryWebcast.quality.title' | translate}}</span>
    <!--a class="link" [class.disabled]="_isBusy" (click)="export()">{{'app.common.exportCsv' | translate}}</a-->
  </div>

  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">

    <div class="kReportContent">

      <div class="kVal">
        <div class="kMiniIcon orange"><i class="icon-ic_spinner"></i></div>
          <div class="kLabels">
            <span class="value">{{_tabsData[0]?.value}}</span>
            <span class="title">{{_tabsData[0]?.title}}</span>
            <kInputHelper>
              <span>{{_tabsData[0]?.tooltip}}</span>
            </kInputHelper>
          </div>

      </div>

      <div class="kVal">
        <div class="kMiniIcon blue"><i class="icon-ic_bitrate"></i></div>
        <div class="kLabels">
          <span class="value">{{_tabsData[1]?.value}}</span>
          <span class="title">{{_tabsData[1]?.title}}</span>
        </div>
      </div>

      <div class="kVal">
        <div class="kMiniIcon orange"><i class="icon-small-time"></i></div>
        <div class="kLabels">
          <span class="value">{{lastBroadcastDuration.length ? lastBroadcastDuration : 'app.common.na' | translate }}</span>
          <span *ngIf="lastBroadcastDuration.length && !isLive" class="title">{{'app.entryWebcast.quality.minutes' | translate}}</span>
          <span *ngIf="!lastBroadcastDuration.length && isLive" class="title">{{'app.entryWebcast.quality.live' | translate}}</span>
        </div>
        <kInputHelper *ngIf="lastBroadcastDuration.length && !isLive">
          <span>{{'app.entryWebcast.quality.minutes_tt' | translate}}</span>
        </kInputHelper>
      </div>

    </div>

  </k-area-blocker>
</div>

