<div data-aid="report-end-user" class="kReport kContent kOverrideFAIcons">
  <div class="kReportHeader">
    <span class="kTitle">{{'app.modules.bandwidth' | translate}}</span>
    <app-export-csv *ngIf="_storageViewConfig.export"
                    name="Storage"
                    [reports]="_exportConfig"
                    [dateFilter]="_dateFilter"></app-export-csv>
    <div *ngIf="_storageViewConfig.refineFilter"
         class="kFilter kOverrideFAIcons">
      <div class="kDropDown" (click)="_refineFilterOpened = !_refineFilterOpened" *ngIf="_multiAccount">
        <span>{{'app.filters.filter' | translate}}</span>
        <i *ngIf="!_refineFilterOpened" class="kIcondropdown_arrow_bottom"></i>
        <i *ngIf="_refineFilterOpened" class="kIcondropdown_arrow_top"></i>
      </div>
    </div>
    <app-overview-date-filter name="overview" (filterChange)="_onDateFilterChange($event)"></app-overview-date-filter>
  </div>

  <div class="kReportContainer kNoPadding">
    <app-storage-filter [opened]="_refineFilterOpened"
                         [dateFilter]="_dateFilter"
                         [selectedFilters]="_selectedRefineFilters"
                         (closeFilters)="_refineFilterOpened = false"
                         (filterChange)="_onRefineFilterChange($event)"></app-storage-filter>
  </div>

  <k-area-blocker [message]="_blockerMessage" [showLoader]="_isBusy">
    <div class="kReportContent">

      <div class="kFilters">
        <span class="kTitle">{{_selectedPeriod}}</span>
      </div>

      <div class="kTotals" *ngIf="_tabsData && _tabsData.length">
        <div class="kCol">
          <div class="kTotal">
            <span class="kTotalValue">{{_tabsData[0].value}}</span>
            <span class="kTotalUnits">{{_tabsData[0].units}}</span>
            <span class="kTotalLabel">{{_tabsData[0].title}}</span>
          </div>
          <div class="kTotal">
            <span class="kTotalValue">{{_tabsData[1].value}}</span>
            <span class="kTotalUnits">{{_tabsData[1].units}}</span>
            <span class="kTotalLabel">{{_tabsData[1].title}}</span>
          </div>
          <div class="kTotal">
            <span class="kTotalValue">{{_tabsData[2].value}}</span>
            <span class="kTotalUnits">{{_tabsData[2].units}}</span>
            <span class="kTotalLabel">{{_tabsData[2].title}}</span>
          </div>
        </div>
        <div class="kCol">
          <div class="kTotal">
            <span class="kTotalValue">{{_tabsData[3].value}}</span>
            <span class="kTotalLabel">{{_tabsData[3].title}}</span>
          </div>
          <div class="kTotal">
            <span class="kTotalValue">{{_tabsData[4].value}}</span>
            <span class="kTotalLabel">{{_tabsData[4].title}}</span>
          </div>
        </div>
        <div class="kCol">
          <div class="kTotal">
            <span class="kTotalValue">{{_tabsData[5].value}}</span>
            <span class="kTotalLabel">{{_tabsData[5].title}}</span>
          </div>
          <div class="kTotal">
            <span class="kTotalValue">{{_tabsData[6].value}}</span>
            <span class="kTotalLabel">{{_tabsData[6].title}}</span>
          </div>
          <div class="kTotal">
            <span class="kTotalValue">{{_tabsData[7].value}}</span>
            <span class="kTotalLabel">{{_tabsData[7].title}}</span>
          </div>
        </div>
        <div class="kCol" *ngIf="_reach">
          <div class="kTotal">
            <span class="kTotalValue">{{_tabsData[8].value}}</span>
            <span class="kTotalLabel">{{_tabsData[8].title}}</span>
          </div>
          <span class="kLink" (click)="_navigateToEnrichment()">{{'app.bandwidth.enrichment_data' | translate}}</span>
        </div>
      </div>

      <div class="kChartContainer" *ngIf="!_isSpecificTimeRange">
        <div class="kFilters">
          <span class="kTitle">{{_graphTitle}}</span>
        </div>
        <app-overview-metrics-selector-dropdown *ngIf="_barChartData && _barChartData[_selectedMetrics] && _barChartData[_selectedMetrics].series && _barChartData[_selectedMetrics].series[0]?.data?.length"
                                                [options]="_metricsOptions"
                                                [colorsMap]="_colorsMap"
                                                (selectionChange)="_onMetricChange($event)"
                                                [(selection)]="_selectedMetrics"></app-overview-metrics-selector-dropdown>
        <div echarts class="kChart"
             *ngIf="_barChartData && _barChartData[_selectedMetrics] && _barChartData[_selectedMetrics].series && _barChartData[_selectedMetrics].series[0]?.data?.length"
             [options]="_barChartData[_selectedMetrics]"></div>
        <div
          *ngIf="!_isBusy && (!_barChartData || !_barChartData[_selectedMetrics] || !_barChartData[_selectedMetrics]?.series || !_barChartData[_selectedMetrics].series[0]?.data?.length)"
          class="kNoResults">
          <span>{{'app.common.noResults' | translate}}</span>
        </div>
      </div>

      <div class="kTable" *ngIf="!_isSpecificTimeRange && _tableData.length">
        <div class="kToggle">
          <i [class.kIcondropdown_arrow_bottom]="!_showTable" [class.kIcondropdown_arrow_top]="_showTable"></i>
          <a (click)="toggleTable()">{{(_showTable ? 'app.common.hideDetails' : 'app.common.viewDetails') | translate}}</a>
        </div>
        <div class="kTableContainer" [class.kOpen]="_showTable" [class.kClose]="!_showTable">
          <p-table appScrollTopOnPaging
                   [value]="_tableData"
                   [customSort]="true"
                   [defaultSortOrder]="-1"
                   [sortField]="_sortField"
                   [sortOrder]="-1"
                   (sortFunction)="_onSortChanged($event)">
            <ng-template pTemplate="header">
              <tr>
                <th *ngFor="let col of _columns" [pSortableColumn]="col">
                  <div class="kColumnHeader">
                    <span [kTooltip]="'app.bandwidth.overview.' + col | translate" [showOnEllipsis]="true">
                      {{'app.bandwidth.overview.' + col | translate}}
                    </span>
                    <p-sortIcon [field]="col"></p-sortIcon>
                  </div>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-data>
              <tr>
                <td *ngFor="let col of _columns; let i = index" [class.kHighlight]="i===0">
                  <ng-container>
                    <span *ngIf="i===1 || i===2">{{getFormattedValue(data[col])}}</span>
                    <span *ngIf="i!==1 && i!==2">{{data[col]}}</span>
                  </ng-container>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
              <div class="emptymessage">
                <div class="kEmptyMessage" *ngIf="!_isBusy">{{'app.common.noResults' | translate}}</div>
                <div class="kEmptyMessage" *ngIf="_isBusy">&nbsp;</div>
              </div>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>

  </k-area-blocker>

</div>

