@import '../../../../../styles/variables';
:host {
  display: block;
  height: 100%;
  width: 100%;
}
.reportContent {
  height: 120px;
  padding: 24px;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  .kMiniIcon {
    flex: 0 0 auto;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-right: 12px;
    background-color: rgba(225,150,46,0.2);
    color: #E1962E;
  }
  .dataContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 4px;
    .title {
      font-size: 16px;
      color: $kGrayscale1;
    }
    .value {
      font-weight: 700;
      font-size: 24px;
      color: $kGrayscale1;
      margin-bottom: 8px;
    }
  }
}
