@import '../../../../../../../../../styles/variables';

k-area-blocker {
  display: block;
}
app-bullet {
  padding-right: 24px;
}
.kSummaryRow {
  height: 32px;
  border-top: 1px solid #d9d9d9;

  th {
    color: $kGrayscale1;
    font-size: 15px;
    font-weight: bold;
  }
}
app-bullet ::ng-deep .kBulletContainer .kValue {
  color: $kGrayscale1 !important;
}
p-table ::ng-deep .p-table .p-table-tbody > tr > td {
  height: 72px;
  &:nth-child(2) {
    padding-left: 0px;
  }
}

p-table ::ng-deep .p-table .p-table-thead > tr > th {
  &:nth-child(2) {
    padding-left: 0px;
  }
}
