@import '../../../../../../../../../styles/variables';

k-area-blocker {
  display: block;
}
app-bullet {
  padding-right: 24px;
}
.kSummaryRow {
  height: 32px;
  border-top: 1px solid $kGrayscale6;

  th {
    color: $kGrayscale1;
    font-size: 15px;
    font-weight: bold;
  }
}
app-bullet ::ng-deep .kBulletContainer .kValue {
  color: $kGrayscale1 !important;
}
