<div data-aid="report-group-playlist" class="kMain">
  <k-area-blocker [showLoader]="_loadingPlaylist" [message]="_blockerMessage">
    <app-path *ngIf="!_loadingPlaylist && _interactiveVideo"
              [isChildAccount]="_isChildAccount"
              [viewConfig]="_playlistViewConfig"
              [playlist]="_playlist"
              [owner]="_owner"
              (back)="_back()"></app-path>
    <app-manual-playlist-view *ngIf="!_loadingPlaylist && _isManualPlaylist && !_interactiveVideo"
              [isChildAccount]="_isChildAccount"
              [viewConfig]="_playlistViewConfig"
              [playlist]="_playlist"
              [owner]="_owner"
              (back)="_back()"
              (navigateToPlaylist)="_navigateToPlaylist()"></app-manual-playlist-view>
    <app-rulebased-playlist-view *ngIf="!_loadingPlaylist && _isRuleBasedPlaylist"></app-rulebased-playlist-view>
  </k-area-blocker>
</div>
