<div class="kSearch kOverrideFAIcons">
  <kAutoComplete
    [disabled]="disabled"
    suggestionItemField="item"
    suggestionLabelField="name"
    field="screenName"
    [placeholder]="'app.usersFilter.prompt' | translate"
    [(ngModel)]="_selectedUsers"
    [multiple]="true"
    [onItemAdding]="_convertUserInputToValidValue"
    [limitToSuggestions]="true"
    [minLength]="3"
    suggestionSelectableField="isSelectable"
    [suggestionsProvider]="_usersProvider"
    (completeMethod)="_searchUsers($event)"
    [tooltipResolver]="'__tooltip'"
    (onSelect)="_updateUsers($event)" (onUnselect)="_updateUsers($event)"
  >
  </kAutoComplete>
</div>
